{% extends "layout/layoutPanel.twig" %}

{% block title %}56 minutos - Meus Saques{% endblock %}

{% block body %}

    <!-- BEGIN: Content-->
    <div class="app-content content ">
        <div class="content-overlay"></div>
        <div class="header-navbar-shadow"></div>
        <div class="content-wrapper">
            <div class="content-header row">
            </div>
            <div class="content-body">
                <!-- Dashboard Ecommerce Starts -->
                <section id="dashboard-ecommerce">
                    <div class="row match-height">

                        <div class="col-lg-12 col-12">
                            <div class="card card-company-table">
                                <div class="card-header pb-0">
                                    <h5 class="card-title">Lista de Saques</h5>
                                </div>
                                <div class="card-body p-0">
                                    <div class="table-responsive">
                                        <table class="table dataTable_list">
                                            <thead>
                                                <tr>
                                                    <th>Consultor</th>
                                                    <th>Conta</th>
                                                    <th>Valor</th>
                                                    <th>Status</th>
                                                    <th class="text-center">Data</th>
                                                    <th width="150" class="text-end">Ações</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for saque in saques %}
                                                <tr>
                                                    <td>
                                                        <div><b>{{ saque.nome }}</b></div>
                                                        <small>
                                                            <div>{{ saque.telefone }}</div>
                                                            <div>{{ saque.email }}</div>
                                                        </small>
                                                    </td>                                        
                                                    <td>
                                                        <div><b>{{ saque.conta_banco }} {{ (saque.banco_pix == 'Pix') ? ' - Pix' }}</b></div>
                                                        {% if saque.banco_pix == 'Banco' %}
                                                            <small>
                                                                <div>{{ saque.conta_numero }} / {{ saque.conta_ag }} - {{ saque.conta_tipo }}</div>
                                                                <div>{{ saque.conta_responsavel }} - {{ saque.conta_cpf_cnpj }}</div>
                                                            </small>
                                                        {% else %}
                                                            <small>
                                                                <div>{{ saque.conta_responsavel }} - {{ saque.conta_cpf_cnpj }}</div>
                                                            </small>
                                                        {% endif %}
                                                    </td>
                                                    <td>R$ <b>{{ saque.valor|number_format(2, ',', '.') }}</b></td>
                                                    <td>
                                                        {% if saque.status == 'Pendente' %}
                                                            <div class="badge bg-warning" title="Aguarde 24h. Seu saque está sendo processado.">{{ saque.status }}</div>
                                                        {% elseif saque.status == 'Concluido' %}
                                                            <div class="badge bg-success" title="Saque concluido.">{{ saque.status }}</div>
                                                        {% else %}
                                                            <div class="badge bg-danger" title="Saque rejeitado.">{{ saque.status }}</div>
                                                        {% endif %}
                                                        {% if saque.nota != '' %}<span data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="primary-tooltip" title="{{ saque.nota }}"><i class="fa-solid fa-message-exclamation fa-lg text-danger"></i></span>{% endif %}
                                                    </td>
                                                    <td class="text-center">
                                                        <b>{{ saque.date_create|date('d-m-Y \\a\\s H:i') }}</b>
                                                    </td>
                                                    <td class="text-end">
                                                        <div class="d-flex justify-content-end flex-column">
                                                            <div style="margin: 2px;">
                                                                <a href="javascript:void(0)" data-bs-toggle="modal-remote" data-remote="{{ DOMAIN }}/painel/admin/saques/verificarModal/{{ saque.id_consultor }}" data-bs-target="#verificar" class="btn btn-warning btn-sm w-100"><i class="fa-light fa-money-bill-trend-up"></i> Verificar Saldo</a>
                                                            </div>
                                                            <div>
                                                                <a href="javascript:void(0)" data-bs-toggle="modal-remote" data-remote="{{ DOMAIN }}/painel/admin/saques/statusModal/{{ saque.id }}" data-bs-target="#editar" class="btn btn-primary btn-sm w-100"><i class="fa-regular fa-pen-to-square"></i> Alterar Status</a>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                            {% endfor %}
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </section>

            </div>
        </div>
    </div>

    <div class="modal fade" id="verificar" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body p-0"></div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="editar" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body p-0"></div>
            </div>
        </div>
    </div>

    <script src="{{ PATH }}/view/painel/src/js/scripts/pages/saques.js"></script>

{% endblock %}