{% extends "layout/layoutMaster.twig" %}

{% block title %}Lista de Equipes{% endblock %}

{% block body %}

    <div class="container py-5">
        <section>

            <div class="row match-height">

                <div class="col-lg-12 col-12">

                    <h5 class="card-title mb-4">Lista de Equipes</h5>
                    {# <div class="heading-elements">
                        <a class="btn btn-primary" href="{{ DOMAIN }}/equipe/cadastro"><i class="fa-regular fa-plus"></i> Add Novo</a>
                    </div> #}

                    <div class="table-responsive">
                        <table id="tabela_dinamica" class="table table-hover align-middle text-white pt-4 mb-4 table-sm" >
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Nome</th>
                                    <th>Email</th>
                                    <th>Setor</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for equipe in equipes %}
                                    <tr>
                                        <td>{{ equipe.id }}</td>
                                        <td class="text-uppercase">{{ equipe.nome }}</td>
                                        <td class="text-lowercase">{{ equipe.email }}</td>
                                        <td>{{ equipe.setor }}</td>
                                        <td class="text-end">
                                            <div class="d-flex justify-content-end">
                                                {% if equipe.situacao == 'Ativo' %}
                                                    <a href="javascript:void(0)" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Desativar" onclick="statusEquipe('{{ equipe.id }}', '{{ equipe.situacao == 'Inativo' ? 'Ativo' : 'Inativo' }}')" class="btn btn-danger btn-sm"><i class="fa-solid fa-power-off"></i></a>
                                                {% else %}
                                                    <a href="javascript:void(0)" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Ativar" onclick="statusEquipe('{{ equipe.id }}', '{{ equipe.situacao == 'Inativo' ? 'Ativo' : 'Inativo' }}')" class="btn btn-success btn-sm text-black"><i class="fa-solid fa-power-off"></i></a>
                                                {% endif %}
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>

                </div>

            </div>

        </section>
    </div>
    <script src="{{ PATH }}/view/painel/src/js/scripts/pages/equipes.js"></script>
{% endblock %}