{% extends "layout/layoutPanelLogin.twig" %}
{% block body %}

	<div class="content-body">

		<div class="card">
			<div class="card-body">
				<div class="d-flex justify-content-between flex-wrap align-items-end">

					<div class="mb-1 flex-fill w-md-100 me-md-1">
						<label for="id_equipe" class="form-label">Retirada em nome:</label>
						<div class="form-control text-uppercase rounded-0 border-0 border-bottom px-0">{{ pedido.equipe }}</div>
					</div>

					<div class="mb-1 flex-fill w-md-100 me-md-1">
						<label for="id_equipe" class="form-label">Estado de despacho:</label>
						<div class="form-control text-uppercase rounded-0 border-0 border-bottom px-0">{{ pedido.estado_pedido }}</div>
					</div>

					<div class="mb-1 flex-fill w-md-100 me-md-1">
						<label for="tipo_evento" class="form-label">Víncular a um Tipo de Evento</label>
						<div class="form-control text-uppercase rounded-0 border-0 border-bottom px-0">{{ pedido.tipo_evento }}</div>
					</div>
					{% if pedido.tipo_evento != 'extra' %}
					<div class="mb-1 flex-fill w-md-100 me-md-1">
						<div class="id_evento">
							<label for="id_evento" class="form-label">Nome do Evento</label>
							<div class="form-control text-uppercase rounded-0 border-0 border-bottom px-0">{{ evento.data_evento|date("d-m-Y") }} - {{ evento.nome_evento }}</div>
						</div>
					</div>
					{% endif %}
					<div class="mb-1 flex-fill me-md-1 w-md-100">
						<label for="descricao_pedido" class="form-label">Informações sobre o Pedido</label>
						<div class="form-control text-uppercase rounded-0 border-0 border-bottom px-0">{{ pedido.descricao_pedido }}</div>
					</div>
					<div class="mb-1 flex-fill w-md-100 me-md-1">
						<label for="descricao_pedido" class="form-label">Valor Total do Pedido</label>
						<div class="form-control text-uppercase rounded-0 border-0 border-bottom px-0 fw-bold">R$ {{ pedido.valor_total_pedido|number_format(2, ',', '.') }}</div>
					</div>
					<div class="mb-1 me-md-1">
						<div class="btn border-0 rounded-0 text-black text-uppercase bg-{{ pedido.status_pedido|pedidoStatusColor }} ">{{ pedido.status_pedido|pedidoStatus|raw }}</div>
					</div>
				</div>
			</div>
		</div>

		<div class="card">
			<div class="card-body">

				<div class="table-responsive lista_produtos"> 
					<div class="table-wrapper">
						<table id="produtos" class="table table-striped table-hover">
							<thead>
								<tr>
									<th></th>
									<th class="filter-column">Produto</th>
									<th>Código</th>
									<th class="text-center">Embalagem</th>
									<th class="text-center">Unit</th>
									<th class="text-center">Valor Unit</th>
									<th class="text-center" width="50">Qtd</th>
									<th class="text-center" width="50">Qtd Total</th>
								</tr>
							</thead>
							<tbody>
								{% for produto in itens %}
									<tr>
										<td class="p-0">
											<input type="hidden" name="id_produto[]" value="{{ produto.id }}">
											{% if produto.imagem != '' %}
												<a href="{{ produto.imagem }}" class="img"><img src="{{ produto.imagem }}" width="50" class="img-fluid"></a>
											{% else %}                                                            
												<img src="{{ DOMAIN }}/view/painel/src/images/produtos/produto-placeholder-small.png" width="50" class="img-fluid">
											{% endif %}
										</td>
										<td>{{ produto.nome }}</td>
										<td>{{ produto.codigo }}</td>
										<td class="text-center">{{ produto.embalagem }} / {{ produto.quantidade }}</td>
										<td class="text-center">{{ produto.unidades }}</td>
										<td class="text-center">
											R$ {{ produto.preco|number_format(2, ',', '.') }}
										</td>
										<td class="text-center" width="50">
											<span class="text-black">{{ produto.qtd_escolhida }}</span>
										</td>
										<td class="text-center" width="50">
											<span class="fw-bold">{{ produto.qt_total }}</span>
										</td>
									</tr>
								{% endfor %}

							</tbody>
						</table>
					</div>
				</div>

			</div>
		</div>

	</div>
<script>window.onload = function() { window.print(); };</script>
{% endblock %}