{% extends "layout/layoutPanel.twig" %}

{% block title %}Configurações de Visitas{% endblock %}

{% block body %}

    <link rel="stylesheet" href="{{ DOMAIN }}/view/painel/src/vendors/froala/css/froala_editor.min.css">
    <link rel="stylesheet" href="{{ DOMAIN }}/view/painel/src/vendors/froala/css/themes/dark.css">
    <script src="{{ DOMAIN }}/view/painel/src/vendors/froala/js/froala_editor.pkgd.min.js"></script>
    <script src='{{ DOMAIN }}/view/painel/src/vendors/froala/js/languages/pt_br.js'></script>

    <!-- BEGIN: Content-->
    <div class="app-content content ">
        <div class="content-overlay"></div>
        <div class="header-navbar-shadow"></div>
        <div class="content-wrapper">
           
            <div class="content-header row">
            </div>

            <div class="content-body">
                
                <div class="mt-1 mb-2">
                    <h3>Configurações relacionadas aos Agendamentos </h3>
                </div>

                <hr>

                <div class="row">

                    <div class="col-md-3 col-sm-12 col-12">
                        <form action="javascript:void(0)" id="configuracoes_visita" method="POST">

                            <div class="card">
                                <div class="card-body">
                                    <div class="position-relative configuracoes_visita">

                                        <div class="form-load"><i class="fa-solid fa-spinner fa-spin-pulse"></i></div>
                                        <div class="row">
                                            <div class="col-8 pe-0">
                                                <label>ESTADO</label>
                                            </div>
                                            <div class="col-2 p-0">
                                                <label>MIN</label>
                                            </div>
                                            <div class="col-2 p-0">
                                                <label>MAX</label>
                                            </div>                                                
                                        </div>
                                        {% for estado in estados %}
                                        <div class="row">
                                            <div class="col-8 pe-0">
                                                <div class="form-control form-control-sm text-uppercase rounded-0">{{ estado.estado }}</div>
                                            </div>
                                            <div class="col-2 p-0">
                                                <input type="number" name="{{ estado.sigla }}_min" value="{{ estado.limit_min }}" class="form-control form-control-sm rounded-0" placeholder="0">
                                            </div>
                                            <div class="col-2 p-0">
                                                <input type="number" name="{{ estado.sigla }}_max" value="{{ estado.limit }}" class="form-control form-control-sm rounded-0" placeholder="0">
                                            </div>                                                
                                        </div>
                                        {% endfor %}
                                        
                                        <div class="mt-2">
                                            <button type="submit" class="rounded-pill btn btn-lg btn-primary">ATUALIZAR</button>
                                        </div>

                                    </div>
                                </div>
                            </div>

                        </form>
                    </div>

                    <div class="col-md-4 col-sm-12 col-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="d-flex justify-content-between">
                                    <label>CADASTROS DE MOTIVOS DA VISITA</label>
                                    <div><a href="javascript:void(0)" class="text-warning" data-bs-toggle="modal" data-bs-target="#addopcao"><i class="fa-solid fa-plus"></i> add</a></div>
                                </div>
                                <div class="mt-2">
                                    {% for motivo in motivos %}
                                        <form action="javascript:void(0)" class="edit_motivo" method="POST">
                                            <div class="input-group mb-2">
                                                <input type="text" name="motivo" class="form-control" value="{{ motivo.motivo }}">
                                                <input type="hidden" name="id" value="{{ motivo.id }}">
                                                <button class="btn btn-warning" type="submit"><i class="fa-solid fa-pen-to-square"></i></button>
                                                <a class="btn btn-danger" onclick="deleteMotivo('{{ motivo.id }}')" href="javascript:void(0);"><i class="fa-solid fa-trash"></i></a>
                                            </div>
                                        </form>
                                    {% endfor %}

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-5 col-sm-12 col-12">
                        <form action="javascript:void(0)" id="configuracoes_regras" method="POST">

                            <div class="card">
                                <div class="card-body">
                                    <div class="mb-2">
                                        <label>SOBRE HORÁRIOS E EVENTOS</label>
                                        <textarea name="sobre_horarios" id="sobre_horarios">{{ configuracoes.sobre_horarios }}</textarea>
                                    </div>
                                    <div class="mb-2">
                                        <label>REGRAS PARA VISITA NA FÁBRICA SAMPEL</label>
                                        <textarea name="regras_visita" id="regras_visita">{{ configuracoes.regras_visita }}</textarea>
                                    </div>
                                    <div>
                                        <button type="submit" class="rounded-pill btn btn-lg btn-primary">ATUALIZAR</button>
                                    </div>
                                </div>
                            </div>

                        </form>
                    </div>


                </div>

            </div>

        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="addopcao" tabindex="-1" aria-labelledby="addopcao" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-sm">
            <div class="modal-content">
                <div class="modal-body">
                    <form method="post" action="javascript:void(0);" id="add_motivo">
                        <label>Digite o Motivo</label>
                        <input class="form-control" type="text" name="motivo" oninput="this.value = this.value.toUpperCase()">
                        <button type="submit" class="btn btn-primary mt-1">SALVAR INFORMAÇÕES</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script src="{{ PATH }}/view/painel/src/js/scripts/pages/configuracoes.js"></script>

{% endblock %}