{% extends "layout/layoutPanel.twig" %}

{% block title %}Formulário de Visita{% endblock %}

{% block body %}

    <!-- BEGIN: Content-->
    <div class="app-content content ">
        <div class="content-overlay"></div>
        <div class="header-navbar-shadow"></div>
        <div class="content-wrapper">
           
            <div class="content-header row">
            </div>

            <div class="content-body">
                
                <div class="mb-2">
                    <h3>{{ visita.visita_id != '' ? 'Preencha o formulário para editar essa visita.' : 'Preencha o formulário para agendar a sua visita.' }}</h3>
                    <div>Campos marcados com asterisco (  ) são obrigatórios.</div>
                </div>

                <hr>

                <form action="javascript:void(0)" id="{{ visita.visita_id != '' ? 'editar_visita' : 'cadastrar_visita' }}" method="POST">

                    <div class="row">

                        <div class="col-md-12 col-sm-12 col-12">
                            <div class="position-relative {{ visita.visita_id != '' ? 'editar_visita' : 'cadastrar_visita' }}">

                                <div class="form-load"><i class="fa-solid fa-spinner fa-spin-pulse"></i></div>
                                <div class="mb-2">
                                    <label for="title" class="form-label">Qual o motivo da visita? </label>
                                    <input type="text" class="form-control" name="title" id="title" value="{{ visita.title }}">
                                </div>

                                <div class="row">
                                    <div class="mb-2 col-md-6 col-sm-12 col-12">
                                        <label for="qtd_visitas" class="form-label">Selecione seu Estado </label>
                                        <select class="form-control" name="estado" id="estado">
                                            <option>Selecione</option>
                                            {% for estado in estados %}
                                                <option value="{{ estado.sigla }}" {{ visita.estado == estado.sigla ? 'selected' }}>{{ estado.estado }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="mb-2 col-md-4 col-sm-12 col-12">
                                        <label for="data_visita" class="form-label">Data da Visita </label>
                                        <input type="date" name="data_visita" class="form-control" id="data_visita" value="{{ visita.data_visita }}">
                                    </div>
                                    <div class="mb-2 col-md-2 col-sm-12 col-12">
                                        <label for="horario_visita" class="form-label">Horário da Visita </label>
                                        <input type="time" name="horario_visita" class="form-control" id="horario_visita" value="{{ visita.horario_visita }}">
                                    </div>
                                </div>

                                <div class="row digitar_qtd">
                                    <div class="mb-2 col-md-6 col-sm-12 col-12">
                                        <label for="qtd_visitas_min" class="form-label">Quantidade mínima</label>
                                        <input type="text" name="qtd_visitas_min" class="form-control" id="qtd_visitas_min" value="{{ visita.qtd_visitas_min }}">
                                    </div>
                                    <div class="mb-2 col-md-6 col-sm-12 col-12">
                                        <label for="qtd_visitas" class="form-label">Quantidade máxima</label>
                                        <input type="text" name="qtd_visitas" class="form-control" id="qtd_visitas" value="{{ visita.qtd_visitas }}">
                                    </div>
                                </div>

                                <div class="mb-2">
                                    <label for="descricao" class="form-label">Descreva por completo os objetivos para esse agendamento de visita. </label>
                                    <textarea id="descricao" class="form-control" name="descricao" rows="5">{{ visita.descricao }}</textarea>
                                </div>

                                <div class="mb-2">
                                    {% if visita.visita_id != '' %}
                                    <input type="hidden" name="id" value="{{ visita.visita_id }}">
                                    {% endif %}
                                    <button type="submit" class="rounded-pill btn btn-lg btn-primary">
                                        <i class="fa-light fa-paper-plane"></i> {{ visita.visita_id != '' ? 'SALVAR EDIÇÃO' : 'FINALIZAR CADASTRO' }}
                                    </button>
                                </div>

                            </div>
                            <div class="cadastrar_visita_success mt-2">
                                <div class="alert alert-primary p-2" role="alert">
                                    <div><h4>Agendamento enviado com sucesso!</h4></div>
                                </div>
                            </div>
                            <div class="editar_visita_success mt-2">
                                <div class="alert alert-primary p-2" role="alert">
                                    <div><h4>Agendamento editado com sucesso!</h4></div>
                                </div>
                            </div>
                        </div>

                    </div>

                </form>

            </div>

        </div>
    </div>
    <script src="{{ PATH }}/view/painel/src/js/scripts/pages/visitas.js"></script>
{% endblock %}