{% extends "layout/layoutPanel.twig" %}

{% block title %}Venda{% endblock %}

{% block body %}

    <!-- BEGIN: Content-->
    <div class="app-content content ">
        <div class="content-overlay"></div>
        <div class="header-navbar-shadow"></div>
        <div class="content-wrapper">
            <div class="content-header row">
            </div>
            <div class="content-body">
                <!-- Dashboard Ecommerce Starts -->
                <section id="dashboard-ecommerce">

                    <div class="row">

						<div class="col-md-12">

							<div class="card">

								<div class="card-body">
								
									<div class="mb-2">
										<h3>Informações dessa Solicitação de Visita</h3>
										<div>Informações do solicitante e empresa responsável abaixo.</div>
									</div>

									<hr>

									<div class="d-flex justify-content-between flex-wrap">
										<h4 class="text-primary m-0"><b>{{ visita.title }}</b></h4>

										<div><b class="text-primary">Quantidade Mínima:</b> <b>{{ visita.qtd_visitas_min }}</b></div>
										<div><b class="text-primary">Quantidade Máxima:</b> <b>{{ visita.qtd_visitas }}</b></div>

										<div><b class="text-primary">Data para a visita:</b> {{ visita.data_visita | date("d-m-Y") }} as {{ visita.horario_visita }}</div>
									</div>

									<hr>

									<div class="my-1 row">

										<div class="col-12 col-sm-12 col-md-4">
											<div><h5 class="text-primary">Responsavel:</h5></div>
											<b>{{ visita.nome }}</b>
											<div class="text-lowercase">{{ visita.email }}</div>
											<div class="text-lowercase">{{ visita.empresa_telefone }}</div>
										</div>

										<div class="col-12 col-sm-12 col-md-4">
											<div><h5 class="text-primary">Empresa:</h5></div>
											<div>{{ visita.empresa_fantasia }}</div>
											<div>{{ visita.empresa_email }}</div>
											<div>{{ visita.empresa_telefone }}</div>
											<div>{{ visita.empresa_logradouro }}, {{ visita.empresa_numero }}</div>
											<div>{{ visita.empresa_cidade }} - {{ visita.empresa_uf }}</div>
										</div>

										<div class="col-12 col-sm-12 col-md-4">
											<div><h5 class="text-warning">Estatísticas da Visita:</h5></div>
											{% for grupo in grupos %}
												<div class="badge {{ _get.setor == grupo.setor ? 'bg-warning' : 'bg-light' }} mb-1 me-1"><a class="text-black" href="{{ DOMAIN }}/painel/visita/ver/{{ visita.visita_id }}?setor={{ grupo.setor }}">{{ grupo.setor }} <span class="badge bg-black">{{ grupo.total }}</span></a></div>
											{% endfor %}
										</div>

									</div>

									<hr>
									
									<div class="mt-1">
										<div><b>Informações:</b></div>
										<div class="">{{ visita.descricao }}</div>
									</div>

								</div>

							</div>

						</div>

						<div class="col-md-12">

							<div class="card">
								<div class="card-header border-bottom">
									<div><h3>Lista de Inscritos</h3></div>
								</div>
								<div class="card-body">
									<table class="table dataTable_list_export">
										<thead>
                                            <tr>
												<th class="d-none">#</th>
                                                <th>Nome</th>
                                                <th>CPF</th>
                                                <th>Telefone</th>
                                                <th>Email</th>
                                                <th>Setor</th>
                                                <th>Cidade</th>
                                                <th>Estado</th>
                                                <th width="25" class="text-end">Data</th>
                                            </tr>
                                        </thead>
										<tbody>
											{% for lista in listas %}
												<tr>
													<td class="d-none">{{ lista.visita_id }}</td>

													<td class="ps-0">{{ lista.nome }}</td>
													<td class="ps-0">{{ lista.cpf }}</td>
													<td class="ps-0">{{ lista.telefone }}</td>
													<td class="ps-0">{{ lista.email }}</td>
													<td class="ps-0">{{ lista.setor }}</td>
													<td class="ps-0">{{ lista.cidade }}</td>
													<td class="ps-0">{{ lista.estado }}</td>

													<td class="text-end pe-0">
														{{ lista.data_visita | date("m-d-Y H:i") }}
														<div><a href="{{ DOMAIN }}/etiqueta/{{ lista.codigo }}" target="_blank" class="badge bg-dark"><i class="fa-regular fa-arrow-up-right-from-square"></i> VER INSCRIÇÃO</a></div>
													</td>

												</tr>
												{% endfor %}
										</tbody>
									</table>
								</div>
							</div>

						</div>

					</div>

                </section>

            </div>
        </div>
    </div>

{% endblock %}