<!-- Source Visit -->
<div class="col-xxl-4 col-xl-6 col-lg-12 mt-2">
    <div class="card h-100">
        <div class="card-header d-flex justify-content-between">
            <div class="card-title d-flex justify-content-between align-items-center w-100 mb-0">
                <h4 class="mb-0">Pedidos por Equipe</h4>
                <p class="card-subtitle">{{ pedidosTotal|length }}  Pedidos</p>
            </div>
        </div>
        <div class="card-body pb-0">
            <div class="table-responsive">
                <table class="table table-striped list-unstyled mb-0" id="pedidos_equipe">
                    <thead class="d-none">
                        <tr>
                            <th>Nome</th>
                            <th>Valores</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in pedidosEquipe %}
                        <tr>
                            <td>
                                <div class="me-1">
                                    <a href="{{ DOMAIN }}/painel/pedidos?id_equipe={{ item.id_equipe }}"<h6 class="mb-0">{{ item.nome_usuario }}</h6></a>
                                </div>
                            </td>
                            <td class="text-end">
                                <div class="d-flex justify-content-end align-items-center">
                                    <p class="mb-0">{{ item.quantidade_pedidos }}</p>
                                    <div class="ms-2 badge bg-label-success">{{ item.porcentagem_pedidos }}%</div>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!--/ Source Visit -->