{% extends "layout/layoutPanel.twig" %}

{% block title %}Add Orçamento{% endblock %}

{% block body %}
<div class="app-content content ">
    <div class="content-wrapper">
        <div class="content-body">

			<div class="card">
                <div class="card-body py-1">
					<div class="d-flex flex-column">
						<div class="d-flex justify-content-between align-items-center">
							<h4 class="mb-0 text-uppercase text-warning">{{ orcamento.nome_evento }}: {{ orcamento.orcamento }}</h4>
							<h4 class="mb-0 text-uppercase text-white badge bg-primary">{{ orcamento.tipo_evento }}</h4>
						</div>
					</div>
				</div>
			</div>
        
            <section id="addOrcamento">

				<div class="offcanvas-header px-0 border-bottom">
				    <h5 class="offcanvas-title" id="offcanvasRightLabel">{{ orcamento.id == '' ? 'Criar Orçamento' : 'Editar Orçamento' }}</h5>
					<a href="{{ DOMAIN }}/painel/{{ tipo }}/orcamento/{{ dados.id }}" class="text-warning"><i class="fa-regular fa-chevrons-left"></i> Retornar a lista do Orçamento</a>
				</div>
				
				<div class="mt-2">

						<div class="row">
							
							<div class="col-12 col-md-8">
								<form action="javascript:void(0)" class="form_orcamento" method="POST" id="{{ orcamento.id == '' ? 'add_orcamento' : 'edit_orcamento' }}" data-tipo="{{ tipo }}" data-orcamento="{{ dados.id }}" data-item="{{ dados.id_edit }}">
									<div class="row">
										<div class="col-12 col-md-6">
											
											<div class="card p-2">

												<div class="mb-2">
													<div class="orcamento_select2">
														<label class="control-label">Tipo</label>
														<select class="form-control" name="tipo_contrato" id="tipo_contrato" required>
															<option value="">Selecione</option>
															<option value="Serviço" {{ orcamento.tipo_contrato == 'Serviço' ? 'selected' }}>Serviço</option>
															<option value="Contrato" {{ orcamento.tipo_contrato == 'Contrato' ? 'selected' }}>Contrato</option>
														</select>
													</div>
												</div> 
												<div class="mb-2">
													<div class="orcamento_select2">
														<label class="control-label">Despesa</label>
														<select class="form-control" name="orcamento" id="orcamento">
															<option value="{{ orcamento.id == '' ? '' : orcamento.orcamento }}">{{ orcamento.orcamento }}</option>
														</select>
													</div>
												</div>

												<div class="mb-2">
													<label class="control-label">Valor Total Gasto</label>
													<input type="text" name="valor_orcamento" class="form-control money" value="{{ orcamento.valor_orcamento }}">
												</div>

												<div class="mb-2">
													<label class="control-label">Descrição</label>
													<textarea id="descricao" name="descricao_orcamento" class="form-control">{{ orcamento.descricao_orcamento }}</textarea>
												</div>
											</div>

											<div class="mb-2">
												<input type="hidden" name="tipo_evento" value="{{ dados.tipo }}">
												<input type="hidden" name="id_evento" value="{{ dados.id }}">
												{% if orcamento.id != '' %}
													<input type="hidden" name="id" value="{{ orcamento.id }}">
												{% endif %}            
												<button class="btn btn-primary w-100" type="submit">SALVAR ORÇAMENTO</button>
											</div>

										</div>
									

										<div class="col-12 col-md-6">
											<div class="card p-2 parcelas-content">
												<div class="mb-2">
													<label class="control-label">Quantidade de Parcelas</label>
													<div class="input-group">
														<input type="number" class="form-control" name="qtd_parcelas" value="{{ orcamento.qtd_parcelas }}">
														<button class="btn btn-outline-secondary" type="button" id="gerar_parcelas">Gerar</button>
													</div>
												</div>

												<div class="parcelas">
													{% if parcelas %}
														{% for parcela in parcelas %}
														<div class="mb-2 row">
															<div class="col-sm-6">
																<label class="control-label">Valor da Parcela</label>
																<input type="text" name="valor_parcela[]" class="form-control money" value="{{ parcela.valor_parcela|number_format(2, ',', '.') }}">
															</div>
															<div class="col-sm-6">
																<label class="control-label">Data de Pagamento</label>
																<input type="date" name="data_parcela[]" class="form-control" value="{{ parcela.data_parcela }}">
																<input type="hidden" name="numero_parcela[]" value="{{ loop.index }}">
															</div>
														</div>
														{% endfor %}
													{% else %}
														<div class="mb-2 row">
															<div class="col-sm-6">
																<label class="control-label">Valor da Parcela</label>
																<input type="text" name="valor_parcela[]" class="form-control money" value="">
															</div>
															<div class="col-sm-6">
																<label class="control-label">Data de Pagamento</label>
																<input type="date" name="data_parcela[]" class="form-control" value="">
																<input type="hidden" name="numero_parcela[]" value="1">
															</div>
														</div>
													{% endif %}
												</div>
											</div>
										</div>
									</div>
								</form>
							</div>

							<div class="col-12 col-md-4">
								<div class="card p-2">
									<div>Lista de Arquivos</div>
									<hr>
									{% if orcamento.id != '' %}
										{{ include('painel/pages/orcamentos/arquivos.twig') }}
									{% else %}
										<div class="alert alert-warning p-2" role="alert">
											Arquivos só podem ser adicionados na Edição desse Orçamento.
										</div>
									{% endif %}
								</div>
							</div>		       

						</div>
					
				        
				</div>
            </section>

        </div>
    </div>
</div>

<link rel="stylesheet" href="{{ DOMAIN }}/view/painel/src/vendors/froala/css/froala_editor.min.css">
<link rel="stylesheet" href="{{ DOMAIN }}/view/painel/src/vendors/froala/css/themes/dark.css">
<script src="{{ DOMAIN }}/view/painel/src/vendors/froala/js/froala_editor.pkgd.min.js"></script>
<script src='{{ DOMAIN }}/view/painel/src/vendors/froala/js/languages/pt_br.js'></script>
<script src="{{ PATH }}/view/painel/src/js/scripts/pages/orcamentos.js"></script>
{% endblock %}