{% extends "layout/layoutPanel.twig" %}

{% block title %}Lista de Orçamentos{% endblock %}

{% block body %}

{% set valor_total_orcamento = 0 %}
{% for brinde in brindes %}
    {% set valor_total_orcamento = valor_total_orcamento + brinde.valor_total_pedido %}
{% endfor %}
{% for orcamento in orcamentos %}
    {% set valor_total_orcamento = valor_total_orcamento + orcamento.valor_orcamento %}
{% endfor %}

<div class="app-content content">

    <div class="card card-company-table">
        <div class="card-header w-100">
            <div class="d-flex justify-content-between align-items-center flex-wrap w-100">
                <h5 class="card-title">
                {{ tipo }}<span class="text-success">{{ evento.nome_evento }}</span>
                </h5>
                <h5 class="card-title">Valor Total: <span class="text-success">R$ {{ valor_total_orcamento|number_format(2, ',', '.') }}</span></h5>
                <a href="{{ DOMAIN }}/painel/{{ dados.tipo }}/orcamento/add/{{ dados.id }}" class="btn btn-primary fw-bolder"><i class="fa-solid fa-plus"></i> Adicionar Novo</a>
            </div>
        </div>
        <div class="card-body px-1">

            <table class="table table-striped table-hover dataTable_list">
                <thead>
                    <tr>
                        <th width="150">Tipo</th>
                        <th>Gasto</th>
                        <th>Valor</th>
                        <th class="text-end" width="250">Data</th>
                        <th class="text-end" width="150">Opções</th>
                    </tr>
                </thead>
                <tbody>
                    {% for orcamento in orcamentos %}
                        <tr>
                            <td>
                                <div class="dropdown">
                                    <a class="text-uppercase text-white badge bg-{{ orcamento.tipo_contrato == 'Serviço' ? 'primary' : 'success' }} dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        {{ orcamento.tipo_contrato }}
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" onclick="orcamentoChangeType('{{ orcamento.id }}', 'Serviço');" href="#">Serviço</a></li>
                                        <li><a class="dropdown-item" onclick="orcamentoChangeType('{{ orcamento.id }}', 'Contrato');" href="#">Contrato</a></li>
                                    </ul>
                                </div>
                            </td>
                            <td class="text-uppercase">{{ orcamento.orcamento }}</td>
                            <td class="text-success fw-bolder">R$ {{ orcamento.valor_orcamento|number_format(2, ',', '.') }}</td>
                            <td class="text-end" width="250">{{ orcamento.date_create|date("d-m-Y H:i") }}</td>
                            <td class="text-end" width="150">
                                <div class="d-flex justify-content-end">
                                    <a href="{{ DOMAIN }}/painel/{{ dados.tipo }}/orcamento/edit/{{ dados.id }}/{{ orcamento.id }}" class="ms-1 btn btn-warning text-black btn-sm"><i class="fa-solid fa-pen-to-square"></i></a>
                                    <a href="javascript:void(0);" onclick="removeOrcamento('{{ orcamento.id }}')" class="ms-1 btn btn-danger text-black btn-sm"><i class="fa-solid fa-trash"></i></a>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    {% for brinde in brindes %}
                        <tr>
                            <td><span class="badge bg-primary">Brindes</span></td>
                            <td>{{ brinde.descricao_pedido }}</td>
                            <td class="text-success fw-bolder">R$ {{ brinde.valor_total_pedido|number_format(2, ',', '.') }}</td>
                            <td class="text-end" width="250">{{ brinde.date_create|date("d-m-Y H:i") }}</td>
                            <td class="text-end" width="150">
                                <div class="d-flex justify-content-end">
                                    <a href="{{ DOMAIN }}/painel/pedidos/edit/{{ brinde.id }}" class="ms-1 btn btn-warning text-black btn-sm"><i class="fa-solid fa-pen-to-square"></i></a>
                                    <a href="{{ DOMAIN }}/painel/pedidos/view/{{ brinde.id }}" class="ms-1 btn btn-success text-black btn-sm"><i class="fa-solid fa-eye"></i></a>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

        </div>
    </div>

</div>

<script src="{{ PATH }}/view/painel/src/js/scripts/pages/orcamentos.js"></script>

{% endblock %}