{% extends "layout/layoutPanel.twig" %}

{% block title %}56 minutos - Painel{% endblock %}

{% block body %}

    <!-- BEGIN: Content-->
    <div class="app-content content ">
        <div class="content-overlay"></div>
        <div class="header-navbar-shadow"></div>
        <div class="content-wrapper">
            <div class="content-header row">
            </div>
            <div class="content-body">
                <!-- Dashboard Ecommerce Starts -->
                <section id="dashboard-ecommerce">
                    <div class="row match-height">
                    
                        {% if (_session.sampel_user_tipo == 2) %}
                        <!-- Medal Card -->
                        <div class="col-xl-4 col-md-6 col-12">
                            <div class="card card-congratulation-medal">
                                <div class="card-body">
                                    <h5>Parabéns 🎉 {{ _session.sampel_user_nome }}!</h5>
                                    <p class="card-text font-small-3">Está é sua carteira até agora</p>
                                    <h3 class="mb-1 mt-1 pt-50">
                                        <a href="javascript:void(0);">R$ {{ carteira|number_format(2, ',', '.') }}</a>
                                    </h3>
                                    <a href="{{ DOMAIN }}/painel/saques" class="btn btn-primary">Fazer um Saque</a>
                                    <img src="{{ PATH }}/view/painel/src/images/illustration/badge.svg" class="congratulation-medal" alt="Medal Pic" />
                                </div>
                            </div>
                        </div>
                        {% endif %}

                        <!-- Statistics Card -->
                        <div class="{{ (_session.sampel_user_tipo == 2) ? 'col-xl-8 col-md-6 ' }} col-12">
                            <div class="card card-statistics">
                                <div class="card-header">
                                    <h4 class="card-title">Estatísticas de vendas, produtos e serviços</h4>
                                </div>
                                <div class="card-body statistics-body">
                                    <div class="row">
                                        <div class="col-xl-3 col-sm-6 col-12 mb-2 mb-xl-0">
                                            <div class="d-flex flex-row">
                                                <div class="avatar bg-light-primary me-2">
                                                    <div class="avatar-content">
                                                        <i data-feather="trending-up" class="avatar-icon"></i>
                                                    </div>
                                                </div>
                                                <div class="my-auto">
                                                    <h4 class="fw-bolder mb-0">{{ agendamentos|length }}</h4>
                                                    <p class="card-text font-small-3 mb-0">Agendamentos</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xl-3 col-sm-6 col-12 mb-2 mb-sm-0">
                                            <div class="d-flex flex-row">
                                                <div class="avatar bg-light-danger me-2">
                                                    <div class="avatar-content">
                                                        <i data-feather="box" class="avatar-icon"></i>
                                                    </div>
                                                </div>
                                                <div class="my-auto">
                                                    <h4 class="fw-bolder mb-0">{{ vendas|length }}</h4>
                                                    <p class="card-text font-small-3 mb-0">Vendas</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xl-3 col-sm-6 col-12 mb-2 mb-xl-0">
                                            <div class="d-flex flex-row">
                                                <div class="avatar bg-light-info me-2">
                                                    <div class="avatar-content">
                                                        <i data-feather="user" class="avatar-icon"></i>
                                                    </div>
                                                </div>
                                                <div class="my-auto">
                                                    <h4 class="fw-bolder mb-0">{{ clientesAgendamentos|length + clientesVendas|length }}</h4>
                                                    <p class="card-text font-small-3 mb-0">Clientes</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xl-3 col-sm-6 col-12">
                                            <div class="d-flex flex-row">
                                                <div class="avatar bg-light-success me-2">
                                                    <div class="avatar-content">
                                                        <i data-feather="dollar-sign" class="avatar-icon"></i>
                                                    </div>
                                                </div>
                                                <div class="my-auto">
                                                    <h4 class="fw-bolder mb-0">R$ {{ total|number_format(2, ',', '.') }}</h4>
                                                    <p class="card-text font-small-3 mb-0">Vendas Totais</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--/ Statistics Card -->
                    </div>

                    <div class="row match-height">
                        <!-- Company Table Card -->
                        <div class="{{ (_session.sampel_user_tipo == 2) ? 'col-xl-8' }} col-12">
                            <div class="card card-company-table">
                                <div class="card-body p-0">
                                    <div class="table-responsive">
                                        <table class="table dataTable_list">
                                            <thead>
                                                <tr>
                                                    <th>Produto</th>
                                                    <th>Valor</th>
                                                    <th>Status</th>
                                                    <th>Conclusão</th>
                                                    <th width="100" class="text-end">Data Compra</th>
                                                    <th width="100" class="text-end">Ações</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for agendamento in agendamentos|slice(0, 5) %}
                                                <tr>
                                                    <td>
                                                        <div><a href="{{ DOMAIN }}/painel/servicos/agendamento/{{ agendamento.id }}" class="title text-uppercase">{{ agendamento.itemTitle }}</a></div>
                                                        <div><small><span class="text-white">Cliente: </span>{{ agendamento.c_nome }}</small></div>
                                                    </td>
                                                    <td>R$ <b>{{ agendamento.total|number_format(2, ',', '.') }}</b></td>
                                                    <td>{{ agendamento.status|payStatus|raw }}</td>
                                                    <td>
                                                        <span>{{ ( agendamento.situacao == 'Pendente') ? '<span class="badge badge-pill badge-light-warning">Pendente</span>' : '<span class="badge badge-pill badge-light-success">Concluído</span>' }}</span>
                                                    </td>
                                                    <td width="100" class="text-end">{{ agendamento.created|date("d-m-Y H:i:s", "America/Sao_Paulo") }}</td>
                                                    <td width="100" class="text-end">
                                                        {% if (agendamento.link_consultor != '') %}
                                                            <a href="{{ agendamento.link_consultor }}" target="_blank" class="btn btn-primary btn-sm"><i class="fa-solid fa-link"></i> LINK</a>
                                                        {% else %}
                                                            <a href="javascript:void(0)" class="btn btn-danger btn-sm"><i class="fa-sharp fa-solid fa-link-slash"></i> SEM LINK</a>
                                                        {% endif %}
                                                    </td>
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--/ Company Table Card -->

                         {% if (_session.sampel_user_tipo == 2) %}
                        <!-- Developer Meetup Card -->
                        <div class="col-lg-4 col-md-6 col-12">
                            <div class="card card-developer-meetup">
                                <div class="meetup-img-wrapper rounded-top text-center">
                                    <img src="{{ PATH }}/view/painel/src/images/illustration/email.svg" alt="Meeting Pic" height="170" />
                                </div>
                                <div class="card-body">

                                    {% if last|length > 0 %}

                                        <div class="meetup-header d-flex align-items-center">
                                            <div class="meetup-day">
                                                <div class="avatar float-start bg-light-primary rounded">
                                                    <div class="avatar-content">
                                                        <i data-feather="user" class="avatar-icon font-medium-3"></i>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="my-auto">
                                                <a href="{{ DOMAIN }}/painel/servicos/agendamento/{{ last.id }}" class="title text-uppercase">
                                                    <h4 class="card-title mb-25">{{ last.c_nome }}</h4>
                                                    <p class="card-text mb-0">{{ last.itemTitle }}</p>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="mt-0">
                                            <div class="avatar float-start bg-light-primary rounded me-1">
                                                <div class="avatar-content">
                                                    <i data-feather="calendar" class="avatar-icon font-medium-3"></i>
                                                </div>
                                            </div>
                                            <div class="more-info">
                                                {% for horario in horarios %}
                                                <div class="pb-1 w-100">
                                                    <div class="d-flex justify-content-between">
                                                        <div><b><i class="fa-solid fa-calendar-days me-1"></i> {{ horario.dia_agendamento|date("d-m-Y", "America/Sao_Paulo") }}:</b></div>
                                                        <div><i class="fa-solid fa-clock me-1"></i>{{ horario.horario_agendamento }}</div>
                                                    </div>
                                                </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                        <div class="mt-2">
                                            <div class="avatar float-start bg-light-primary rounded me-1">
                                                <div class="avatar-content">
                                                    <i data-feather="link" class="avatar-icon font-medium-3"></i>
                                                </div>
                                            </div>
                                            <div class="more-info">
                                                <h6 class="mb-0">Link de agendamento da reunião</h6>
                                                {% if (last.link_consultor != '') %}
                                                    <small><a href="{{ last.link_consultor }}" target="_blank">{{ last.link_consultor }}</a></small>
                                                {% else %}
                                                    <small><a href="javascript:void(0);" class="text-danger">Sem link até o momento.</a></small>
                                                {% endif %}
                                                
                                            </div>
                                        </div>
                                        <div class="mt-4 text-center">
                                            <h4>Próximo Agendamento</h4>
                                        </div>

                                    {% else %}
                                        <div class="alert alert-warning p-2 text-center" role="alert">Nenhum agendamento até o momento.</div>
                                    {% endif %}

                                </div>
                            </div>
                        </div>
                        <!--/ Developer Meetup Card -->
                        {% endif %}
                        
                    </div>

                </section>
                <!-- Dashboard Ecommerce ends -->

            </div>
        </div>
    </div>

{% endblock %}