{% extends "layout/layoutPanel.twig" %}

{% block title %}Painel{% endblock %}

{% block body %}

    <div class="app-content content ">
        <div class="content-wrapper">
            <div class="content-body">

                <section id="dashboard-ecommerce">

                    {{ include('painel/pages/home/bloco1.twig') }}
                    
                    <div class="row">
                        <div class="col-md-6 cold-12">{{ include('painel/pages/home/bloco2.twig') }}</div>
                        <div class="col-md-6 cold-12">{{ include('painel/pages/home/bloco3.twig') }}</div>
                    </div>

                    <div class="row">
                        {# <div class="col-md-6 cold-12">{{ include('painel/pages/home/bloco4.twig') }}</div> #}
                        {# <div class="col-md-6 cold-12">{{ include('painel/pages/home/bloco3.twig') }}</div> #}
                    </div>

                </section>

            </div>
        </div>
    </div>
    <script src="{{ PATH }}/view/painel/src/js/scripts/pages/home.js"></script>
{% endblock %}