{% extends "layout/layoutPanel.twig" %}

{% block title %}Painel{% endblock %}

{% block body %}

    <div class="app-content content ">
        <div class="content-wrapper">
            <div class="content-body">

                <div class="row">

                    <div class="col-lg-12 col-md-12 col-12">
                        <div class="card">
                            <div class="card-body py-1">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div>Total Geral de Empenho: <span class="text-success">R$ {{ total_empenho|number_format(2, ',', '.') }}</span></div>
                                    <div>Total Geral de Consumo: <span class="text-primary">R$ {{ total_consumo|number_format(2, ',', '.') }}</span></div>
                                    <div>Total Geral de Restante: <span class="text-danger">R$ {{ (total_empenho - total_consumo)|number_format(2, ',', '.') }}</span></div>
                                    <div>
                                      <form action="" method="GET">
                                        <div class="row g-3 align-items-center">
                                          <div class="col-auto pe-1">
                                            <select name="ano" class="form-control">
                                              <option value="{{ now|date('Y') }}" {{ _get.ano == now|date('Y') ? 'selected' }}>{{ now|date('Y') }}</option>
                                              <option value="2024" {{ _get.ano == '2024' ? 'selected' }}>2024</option>
                                            </select>
                                          </div>
                                          <div class="col-auto ps-0">
                                            <button class="btn btn-primary" type="submit">OK</button>
                                          </div>
                                        </div>
                                      </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                {# AREA DE PEDIDOS #}
                <section id="estatisticas-pedido">

                    <div class="row">

                        {# RELATORIO PEDIDOS #}
                        <div class="col-md-6 mb-2">
                          <div class="card h-100">
                            {% set currentDate = date() %}
                            {% set endOfYear = "now"|date("Y") ~ "-12-31" %}
                            {% set daysRemaining = (endOfYear|date_modify("+1 day")|date("U") - currentDate|date("U")) / 86400 %}

                            <div class="card-header d-flex justify-content-between pb-0">
                              <div class="card-title mb-0 d-flex justify-content-between align-items-center w-100">
                                <div class="mb-1">KPI - Brindes Pedidos: {{ dadospedidos.pedidos }}</div>
                                <p class="m-0">Empenho: R$ {{ dadospedidos.valorEmpenhoPedido|number_format(2, ',', '.') }}</p>
                              </div>

                              <div class="d-flex justify-content-between align-items-center w-100">
                                <div>
                                  <h1 class="mb-0 text-primary text-nowrap">R$ {{ dadospedidos.pedidosValorTotalConsumo|number_format(2, ',', '.') }}</h1>
                                  <p class="mb-0">Valor Total Consumido</p>
                                </div>
                                <div class="text-end">
                                  <h1 class="mb-0 text-success text-nowrap">R$ {{ dadospedidos.valorRestante|number_format(2, ',', '.') }}</h1>
                                  <p class="mb-0">Valores Total Restante</p>
                                </div>
                              </div>
                            </div>

                            <div class="card-body row pb-0">
                              <div class="col-12 col-sm-4 col-md-12 col-lg-4">

                                <ul class="p-0 mt-2 mb-0">
                                  <li class="d-flex gap-2 align-items-center pb-1">
                                    <div class="badge rounded bg-label-info p-1"><i class="fa-solid fs-4 fa-cart-shopping-fast"></i></div>
                                    <div>
                                      <h6 class="mb-0 text-nowrap">Total Extra</h6>
                                      <div class="text-info text-nowrap">R$ {{ dadospedidos.pedidosValorTotalExtra|number_format(2, ',', '.') }}</div>
                                    </div>
                                  </li>
                                  <li class="d-flex gap-2 align-items-center pb-1">
                                    <div class="badge rounded bg-label-info p-1"><i class="fa-solid fs-4 fa-cart-shopping-fast"></i></div>
                                    <div>
                                      <h6 class="mb-0 text-nowrap">Total Eventos</h6>
                                      <div class="text-info text-nowrap">R$ {{ dadoseventos.pedidosValorTotal|number_format(2, ',', '.') }}</div>
                                    </div>
                                  </li>
                                  <li class="d-flex gap-2 align-items-center pb-1">
                                    <div class="badge rounded bg-label-info p-1"><i class="fa-solid fs-4 fa-cart-shopping-fast"></i></div>
                                    <div>
                                      <h6 class="mb-0 text-nowrap">Total Patrocínios</h6>
                                      <div class="text-info text-nowrap">R$ {{ dadospatrocinios.pedidosValorTotal|number_format(2, ',', '.') }}</div>
                                    </div>
                                  </li>
                                  <li class="d-flex gap-2 align-items-center pb-1">
                                    <div class="badge rounded bg-label-info p-1"><i class="fa-solid fs-4 fa-cart-shopping-fast"></i></div>
                                    <div>
                                      <h6 class="mb-0 text-nowrap">Total Visitas</h6>
                                      <div class="text-info text-nowrap">R$ {{ dadosvisitas.pedidosValorTotal|number_format(2, ',', '.') }}</div>
                                    </div>
                                  </li>
                                  <li class="d-flex gap-2 align-items-center pb-0">
                                    <div class="badge rounded bg-label-info p-1"><i class="fa-solid fs-4 fa-cart-shopping-fast"></i></div>
                                    <div>
                                      <h6 class="mb-0 text-nowrap">Total Palestras</h6>
                                      <div class="text-info text-nowrap">R$ {{ dadospalestras.pedidosValorTotal|number_format(2, ',', '.') }}</div>
                                    </div>
                                  </li>
                                </ul>
                              </div>
                              <div class="col-12 col-sm-8 col-md-12 col-lg-8">
                                <div id="empenho-pedidos" data-porcentagem="{{ dadospedidos.porcentagemRestante }}"></div>
                              </div>
                            </div>
                          </div>
                        </div>
                        {#  #}

                        {# RELATORIO EVENTOS #}
                        <div class="col-md-6 mb-2">
                          <div class="card h-100">
                            {% set currentDate = date() %}
                            {% set endOfYear = "now"|date("Y") ~ "-12-31" %}
                            {% set daysRemaining = (endOfYear|date_modify("+1 day")|date("U") - currentDate|date("U")) / 86400 %}

                            <div class="card-header d-flex justify-content-between">
                              <div class="card-title mb-0 d-flex justify-content-between align-items-center w-100">
                                <div class="mb-1">Valor Eventos</div>
                                <p class="m-0">{{ daysRemaining|round(0, 'floor') }} Dias Restantes</p>
                              </div>
                            </div>

                            <div class="card-body row">
                              <div class="col-12 col-sm-4 col-md-12 col-lg-4">

                                <div class="">
                                  <h1 class="mb-0 text-primary text-nowrap">R$ {{ dadoseventos.pedidosValorTotalConsumo|number_format(2, ',', '.') }}</h1>
                                  <p class="mb-0">Valor Total Consumido</p>
                                </div>

                                <ul class="p-0 mt-2">
                                  <li class="d-flex gap-2 align-items-center pb-1">
                                    <div class="badge rounded bg-label-info p-1"><i class="fa-solid fs-4 fa-ticket"></i></div>
                                    <div>
                                      <h6 class="mb-0 text-nowrap">Total de Eventos</h6>
                                      <div class="text-info">{{ dadoseventos.eventos }}</div>
                                    </div>
                                  </li>
                                  <li class="d-flex gap-2 align-items-center pb-1">
                                    <div class="badge rounded bg-label-info p-1">
                                      <i class="fa-solid fs-4 fa-shield-check"></i>
                                    </div>
                                    <div>
                                      <h6 class="mb-0 text-nowrap">Valor de Empenho</h6>
                                      <div class="text-info">R$ {{ dadoseventos.valorEmpenhoPedido|number_format(2, ',', '.') }}</div>
                                    </div>
                                  </li>
                                  <li class="d-flex gap-2 align-items-center pb-1">
                                    <div class="badge rounded bg-label-warning p-1"><i class="fa-solid fs-4 fa-clock"></i></div>
                                    <div>
                                      <h6 class="mb-0 text-nowrap">Valores Restante</h6>
                                      <div class="text-info">R$ {{ dadoseventos.valorRestante|number_format(2, ',', '.') }}</div>
                                    </div>
                                  </li>
                                  <li class="d-flex gap-2 align-items-center pb-0">
                                    <div class="badge rounded bg-label-info p-1"><i class="fa-solid fs-4 fa-cart-shopping-fast"></i></div>
                                    <div>
                                      <h6 class="mb-0 text-nowrap">Valores de Pedidos</h6>
                                      <div class="text-info">R$ {{ dadoseventos.pedidosValorTotal|number_format(2, ',', '.') }}</div>
                                    </div>
                                  </li>
                                </ul>
                              </div>
                              <div class="col-12 col-sm-8 col-md-12 col-lg-8">
                                <div id="empenho-eventos" data-porcentagem="{{ dadoseventos.porcentagemRestante }}"></div>
                              </div>
                            </div>
                          </div>
                        </div>
                        {#  #}

                        {# RELATORIO VISITAS #}
                        <div class="col-md-6 mb-2">
                          <div class="card h-100">
                            {% set currentDate = date() %}
                            {% set endOfYear = "now"|date("Y") ~ "-12-31" %}
                            {% set daysRemaining = (endOfYear|date_modify("+1 day")|date("U") - currentDate|date("U")) / 86400 %}

                            <div class="card-header d-flex justify-content-between">
                              <div class="card-title mb-0 d-flex justify-content-between align-items-center w-100">
                                <div class="mb-1">Valor Visitas</div>
                                <p class="m-0">{{ daysRemaining|round(0, 'floor') }} Dias Restantes</p>
                              </div>
                            </div>

                            <div class="card-body row">
                              <div class="col-12 col-sm-4 col-md-12 col-lg-4">

                                <div class="">
                                  <h1 class="mb-0 text-primary text-nowrap">R$ {{ dadosvisitas.pedidosValorTotalConsumo|number_format(2, ',', '.') }}</h1>
                                  <p class="mb-0">Valor Total Consumido</p>
                                </div>

                                <ul class="p-0 mt-2">
                                  <li class="d-flex gap-2 align-items-center pb-1">
                                    <div class="badge rounded bg-label-info p-1"><i class="fa-solid fs-4 fa-ticket"></i></div>
                                    <div>
                                      <h6 class="mb-0 text-nowrap">Total de Visitas</h6>
                                      <div class="text-info">{{ dadosvisitas.visitas }}</div>
                                    </div>
                                  </li>
                                  <li class="d-flex gap-2 align-items-center pb-1">
                                    <div class="badge rounded bg-label-info p-1">
                                      <i class="fa-solid fs-4 fa-shield-check"></i>
                                    </div>
                                    <div>
                                      <h6 class="mb-0 text-nowrap">Valor de Empenho</h6>
                                      <div class="text-info">R$ {{ dadosvisitas.valorEmpenhoPedido|number_format(2, ',', '.') }}</div>
                                    </div>
                                  </li>
                                  <li class="d-flex gap-2 align-items-center pb-1">
                                    <div class="badge rounded bg-label-warning p-1"><i class="fa-solid fs-4 fa-clock"></i></div>
                                    <div>
                                      <h6 class="mb-0 text-nowrap">Valores Restante</h6>
                                      <div class="text-info">R$ {{ dadosvisitas.valorRestante|number_format(2, ',', '.') }}</div>
                                    </div>
                                  </li>
                                  <li class="d-flex gap-2 align-items-center pb-0">
                                    <div class="badge rounded bg-label-info p-1"><i class="fa-solid fs-4 fa-cart-shopping-fast"></i></div>
                                    <div>
                                      <h6 class="mb-0 text-nowrap">Valores de Pedidos</h6>
                                      <div class="text-info">R$ {{ dadosvisitas.pedidosValorTotal|number_format(2, ',', '.') }}</div>
                                    </div>
                                  </li>
                                </ul>
                              </div>
                              <div class="col-12 col-sm-8 col-md-12 col-lg-8">
                                <div id="empenho-visitas" data-porcentagem="{{ dadosvisitas.porcentagemRestante }}"></div>
                              </div>
                            </div>
                          </div>
                        </div>
                        {#  #}

                        {# RELATORIO PALESTRAS #}
                        <div class="col-md-6 mb-2">
                          <div class="card h-100">
                            {% set currentDate = date() %}
                            {% set endOfYear = "now"|date("Y") ~ "-12-31" %}
                            {% set daysRemaining = (endOfYear|date_modify("+1 day")|date("U") - currentDate|date("U")) / 86400 %}

                            <div class="card-header d-flex justify-content-between">
                              <div class="card-title mb-0 d-flex justify-content-between align-items-center w-100">
                                <div class="mb-1">Valor Palestras</div>
                                <p class="m-0">{{ daysRemaining|round(0, 'floor') }} Dias Restantes</p>
                              </div>
                            </div>

                            <div class="card-body row">
                              <div class="col-12 col-sm-4 col-md-12 col-lg-4">

                                <div class="">
                                  <h1 class="mb-0 text-primary text-nowrap">R$ {{ dadospalestras.pedidosValorTotalConsumo|number_format(2, ',', '.') }}</h1>
                                  <p class="mb-0">Valor Total Consumido</p>
                                </div>

                                <ul class="p-0 mt-2">
                                  <li class="d-flex gap-2 align-items-center pb-1">
                                    <div class="badge rounded bg-label-info p-1"><i class="fa-solid fs-4 fa-ticket"></i></div>
                                    <div>
                                      <h6 class="mb-0 text-nowrap">Total de Palestras</h6>
                                      <div class="text-info">{{ dadospalestras.palestras }}</div>
                                    </div>
                                  </li>
                                  <li class="d-flex gap-2 align-items-center pb-1">
                                    <div class="badge rounded bg-label-info p-1">
                                      <i class="fa-solid fs-4 fa-shield-check"></i>
                                    </div>
                                    <div>
                                      <h6 class="mb-0 text-nowrap">Valor de Empenho</h6>
                                      <div class="text-info">R$ {{ dadospalestras.valorEmpenhoPedido|number_format(2, ',', '.') }}</div>
                                    </div>
                                  </li>
                                  <li class="d-flex gap-2 align-items-center pb-1">
                                    <div class="badge rounded bg-label-warning p-1"><i class="fa-solid fs-4 fa-clock"></i></div>
                                    <div>
                                      <h6 class="mb-0 text-nowrap">Valores Restante</h6>
                                      <div class="text-info">R$ {{ dadospalestras.valorRestante|number_format(2, ',', '.') }}</div>
                                    </div>
                                  </li>
                                  <li class="d-flex gap-2 align-items-center pb-0">
                                    <div class="badge rounded bg-label-info p-1"><i class="fa-solid fs-4 fa-cart-shopping-fast"></i></div>
                                    <div>
                                      <h6 class="mb-0 text-nowrap">Valores de Pedidos</h6>
                                      <div class="text-info">R$ {{ dadospalestras.pedidosValorTotal|number_format(2, ',', '.') }}</div>
                                    </div>
                                  </li>
                                </ul>
                              </div>
                              <div class="col-12 col-sm-8 col-md-12 col-lg-8">
                                <div id="empenho-palestras" data-porcentagem="{{ dadospalestras.porcentagemRestante }}"></div>
                              </div>
                            </div>
                          </div>
                        </div>
                        {#  #}

                        {# RELATORIO PATROCINIOS #}
                        <div class="col-md-6 mb-2">
                          <div class="card h-100">
                            {% set currentDate = date() %}
                            {% set endOfYear = "now"|date("Y") ~ "-12-31" %}
                            {% set daysRemaining = (endOfYear|date_modify("+1 day")|date("U") - currentDate|date("U")) / 86400 %}

                            <div class="card-header d-flex justify-content-between">
                              <div class="card-title mb-0 d-flex justify-content-between align-items-center w-100">
                                <div class="mb-1">Valor Patrocínios</div>
                                <p class="m-0">{{ daysRemaining|round(0, 'floor') }} Dias Restantes</p>
                              </div>
                            </div>

                            <div class="card-body row">
                              <div class="col-12 col-sm-4 col-md-12 col-lg-4">

                                <div class="">
                                  <h1 class="mb-0 text-primary text-nowrap">R$ {{ dadospatrocinios.pedidosValorTotalConsumo|number_format(2, ',', '.') }}</h1>
                                  <p class="mb-0">Valor Total Consumido</p>
                                </div>

                                <ul class="p-0 mt-2">
                                  <li class="d-flex gap-2 align-items-center pb-1">
                                    <div class="badge rounded bg-label-info p-1"><i class="fa-solid fs-4 fa-ticket"></i></div>
                                    <div>
                                      <h6 class="mb-0 text-nowrap">Total de Patrocínios</h6>
                                      <div class="text-info">{{ dadospatrocinios.patrocinios }}</div>
                                    </div>
                                  </li>
                                  <li class="d-flex gap-2 align-items-center pb-1">
                                    <div class="badge rounded bg-label-info p-1">
                                      <i class="fa-solid fs-4 fa-shield-check"></i>
                                    </div>
                                    <div>
                                      <h6 class="mb-0 text-nowrap">Valor de Empenho</h6>
                                      <div class="text-info">R$ {{ dadospatrocinios.valorEmpenhoPedido|number_format(2, ',', '.') }}</div>
                                    </div>
                                  </li>
                                  <li class="d-flex gap-2 align-items-center pb-1">
                                    <div class="badge rounded bg-label-warning p-1"><i class="fa-solid fs-4 fa-clock"></i></div>
                                    <div>
                                      <h6 class="mb-0 text-nowrap">Valores Restante</h6>
                                      <div class="text-info">R$ {{ dadospatrocinios.valorRestante|number_format(2, ',', '.') }}</div>
                                    </div>
                                  </li>
                                  <li class="d-flex gap-2 align-items-center pb-0">
                                    <div class="badge rounded bg-label-info p-1"><i class="fa-solid fs-4 fa-cart-shopping-fast"></i></div>
                                    <div>
                                      <h6 class="mb-0 text-nowrap">Valores de Pedidos</h6>
                                      <div class="text-info">R$ {{ dadospatrocinios.pedidosValorTotal|number_format(2, ',', '.') }}</div>
                                    </div>
                                  </li>
                                </ul>
                              </div>
                              <div class="col-12 col-sm-8 col-md-12 col-lg-8">
                                <div id="empenho-patrocinios" data-porcentagem="{{ dadospatrocinios.porcentagemRestante }}"></div>
                              </div>
                            </div>
                          </div>
                        </div>
                        {#  #}

                    </div>
                </section>
                {#  #}

            </div>
        </div>
    </div>
    <script src="{{ PATH }}/view/painel/src/js/scripts/pages/home.js"></script>
{% endblock %}