{% extends "layout/layoutMaster.twig" %}

{% block title %} Home {% endblock %}

{% block body %}

<div class="container py-5">
	
	<session>

		<div class="text-center">
			<h3><b>BEM-VINDO AO PROGRAMA <br>SAMPEL TOUR</b></h3>
		</div>

		<hr class="w-25 m-auto mb-3">

		<div class="text-center">O Programa Sampel Tour aproxima você do dia a dia das fábricas da Sampel. É uma satisfação contar com seu interesse em nos visitar!</div>


		<div class="d-flex d-flex justify-content-between flex-wrap my-5 options-home-menu">
			
			{% if _session.sampel_user_id %}<a href="{{ DOMAIN }}/agendamentos" class="flex-fill">{% else %}<a href="{{ DOMAIN }}/login" class="flex-fill">{% endif %}
				<div class="card bg-transparent text-center border-2 border-white text-white mb-4 mb-sm-0 mx-0 mx-sm-5">
					<div class="card-body">
						<div><i class="fa-thin fa-calendar-plus fa-4x"></i></div>
						<h4 class="card-title mt-3">AGENDAR VISITAS</h4>
					</div>
				</div>
			</a>

			{% if _session.sampel_user_id %}<a href="{{ DOMAIN }}/visitas" class="flex-fill">{% else %}<a href="{{ DOMAIN }}/login" class="flex-fill">{% endif %}
				<div class="card bg-transparent text-center border-2 border-white text-white mb-4 mb-sm-0 mx-0 mx-sm-5">
					<div class="card-body">
						<div><i class="fa-thin fa-calendar-check fa-4x"></i></div>
						<h4 class="card-title mt-3">MINHAS INSCRIÇÕES </h4>
					</div>
				</div>
			</a>

			{% if _session.sampel_user_id %}<a href="{{ DOMAIN }}/minha-conta/edit-account" class="flex-fill">{% else %}<a href="{{ DOMAIN }}/login" class="flex-fill">{% endif %}
				<div class="card bg-transparent text-center border-2 border-white text-white mb-4 mb-sm-0 mx-0 mx-sm-5">
					<div class="card-body">
							<div><i class="fa-thin fa-calendar-lines-pen fa-4x"></i></div>
							<h4 class="card-title mt-3">EDITAR CADASTRO</h4>
					</div>
				</div>
			</a>

		</div>

	</session>

</div>

{% endblock %}