{% extends "layout/layoutMaster.twig" %}

{% block title %} Minhas Inscrições {% endblock %}

{% block body %}

<div class="container py-5">
	
	<session>

		<div class="text-center">
			<h3><b>MINHAS INSCRIÇÕES</b></h3>
		</div>

		<hr class="w-25 m-auto mb-3">

		<div class="text-center">Listamos abaixo as suas inscrições com links para seus Certificados.</div>

		<div class="table-responsive mt-5">
			<table id="tabela_dinamica" class="table table-hover align-middle text-white pt-4 mb-4" style="width:100%">
				<thead>
					<tr>
						<th width="175" class="no-mobile">Data</th>
						<th class="no-mobile flex-grow-1">Visita</th>
						<th class="no-mobile flex-grow-1">Tipo</th>
						<th width="175" class="text-end no-mobile">Inscrição</th>
						<th width="175" class="text-end no-mobile">Certificado</th>
					</tr>
				</thead>
				<tbody>
					{% for visita in lista %}
					<tr>

						<td class="no-mobile">
							{{ visita.data_visita | date("d/m/Y") }} {{ visita.horario_visita }}
						</td>

						<td class="fw-bold">
							{{ visita.title }}
							<div class="d-flex justify-content-between justify-content-sm-start flex-wrap mt-2 d-md-none d-sm-block d-block">
								<div class="col-6">
									<div class="mb-2">{{ visita.data_visita | date("d/m/Y") }} {{ visita.horario_visita }}</div>
									<div class="text-capitalize">Tipo: {{ visita.tipo }}</div>
								</div>
								<div class="col-6">
									<a href="{{ DOMAIN }}/visita/inscricao/{{ visita.id_visita }}/{{ visita.id }}?action=success" class="btn btn-warning btn-sm fw-bold d-block w-100 mb-2" target="_blank"><i class="fa-solid fa-check-to-slot"></i> VER INSCRIÇÃO</a>
									{% if presenca == 'Sim' %}
										<a href="{{ DOMAIN }}/certificados/pdf/visita.php?codigo={{ visita.codigo }}" class="btn btn-warning btn-sm fw-bold  d-block w-100 mb-2" target="_blank"><i class="fa-solid fa-file-certificate"></i> MEU CERTIFICADO</a>
									{% else %}
										<button type="button" class="btn btn-danger btn-sm fw-bold d-block w-100"><i class="fa-solid fa-file-certificate"></i> INDISPONÍVEL</button>
									{% endif %}
								</div>
							</div>
						</td>
						<td class="fw-bold text-capitalize no-mobile">{{ visita.tipo }}</td>

						<td class="text-end no-mobile" width="175">
							<a href="{{ DOMAIN }}/visita/inscricao/{{ visita.id_visita }}/{{ visita.id }}?action=success" class="btn btn-warning btn-sm fw-bold" target="_blank"><i class="fa-solid fa-check-to-slot"></i> VER INSCRIÇÃO</a>
						</td>
						
						<td class="text-end no-mobile" width="175">
							{% if presenca == 'Sim' %}
								<a href="{{ DOMAIN }}/certificados/pdf/visita.php?codigo={{ visita.codigo }}" class="btn btn-warning btn-sm fw-bold" target="_blank"><i class="fa-solid fa-file-certificate"></i> MEU CERTIFICADO</a>
							{% else %}
								<button type="button" class="btn btn-danger btn-sm fw-bold"><i class="fa-solid fa-file-certificate"></i> INDISPONÍVEL</button>
							{% endif %}
						</td>

					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>

	</session>

</div>

{% endblock %}