{% extends "layout/layoutMaster.twig" %}

{% block title %} Minhas Inscrições {% endblock %}

{% block body %}

<div class="container py-5">
	
	<session>

		<div class="text-center">
			<h3><b>MINHAS INSCRIÇÕES</b></h3>
		</div>

		<hr class="w-25 m-auto mb-3">

		<div class="text-center">Listamos abaixo as suas inscrições com links para seus Certificados.</div>

		<div class="table-responsive mt-5">
			<table id="tabela_dinamica" class="table table-hover align-middle text-white pt-4 mb-4" style="width:100%">
				<thead>
					<tr>
						<th width="175" class="no-mobile">Data</th>
						<th class="no-mobile flex-grow-1">Visita</th>
						<th class="no-mobile flex-grow-1">Tipo</th>
						<th width="175" class="text-end no-mobile">Inscrição</th>
						<th width="175" class="text-end no-mobile">Certificado</th>
					</tr>
				</thead>
				<tbody>
					{% for visita in lista %}
					<tr class="{{ visita.origem == 'palestras' ? 'body-palestras' }}">
						<td class="no-mobile">
							{{ visita.data_inicio | date("d/m/Y") }} 
							{{ visita.horario_visita != ''  ? visita.horario_visita : visita.data_inicio | date("H:i:s") }}
						</td>

						<td class="fw-bold">
							{{ visita.title }}
							<div class="d-flex justify-content-between justify-content-sm-start flex-wrap mt-2 d-md-none d-sm-block d-block">
								<div class="col-6">
									<div class="mb-2">{{ visita.data_inicio | date("d/m/Y") }} {{ visita.data_inicio }}</div>
									<div class="text-capitalize">Tipo: {{ visita.origem }}</div>
								</div>
								<div class="col-6">
									<a href="{{ DOMAIN }}/{{ visita.origem }}/inscricao/{{ visita.id_evento }}/{{ visita.id }}?action=success" class="btn btn-warning btn-sm fw-bold d-block w-100 mb-2" target="_blank"><i class="fa-solid fa-check-to-slot"></i> VER INSCRIÇÃO</a>
									{% if visita.presenca == 'Sim' %}
										<a href="{{ DOMAIN }}/certificados/pdf/{{ visita.origem }}.php?codigo={{ visita.codigo }}" class="btn btn-success btn-sm fw-bold  d-block w-100 mb-2" target="_blank"><i class="fa-solid fa-file-certificate"></i> MEU CERTIFICADO</a>
									{% else %}
										<a href="{{ DOMAIN }}/{{ visita.origem }}/feedback/{{ visita.cpf }}/{{ visita.id_evento }}" class="btn btn-warning btn-sm fw-bold d-block w-100" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Necessário preencher o Feedback para ter acesso ao Certificado"><i class="fa-solid fa-file-certificate"></i> FEEDBACK</a>
									{% endif %}
								</div>
							</div>
						</td>
						<td class="fw-bold text-capitalize no-mobile">{{ visita.origem }}</td>

						<td class="text-end no-mobile" width="175">
							<a href="{{ DOMAIN }}/{{ visita.origem }}/inscricao/{{ visita.id_evento }}/{{ visita.id }}?action=success" class="btn btn-warning btn-sm fw-bold" target="_blank"><i class="fa-solid fa-check-to-slot"></i> VER INSCRIÇÃO</a>
						</td>
						
						<td class="text-end no-mobile" width="175">
							{% if visita.presenca == 'Sim' %}
								<a href="{{ DOMAIN }}/certificados/pdf/{{ visita.id }}.php?codigo={{ visita.codigo }}" class="btn btn-success btn-sm fw-bold" target="_blank"><i class="fa-solid fa-file-certificate"></i> MEU CERTIFICADO</a>
							{% else %}
								<a href="{{ DOMAIN }}/{{ visita.origem }}/feedback/{{ visita.cpf }}/{{ visita.id_evento }}" class="btn btn-warning btn-sm fw-bold" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Necessário preencher o Feedback para ter acesso ao Certificado"><i class="fa-solid fa-file-certificate"></i> FEEDBACK</a>
							{% endif %}
						</td>

					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>

	</session>

</div>

{% endblock %}