{% extends "layout/layoutMaster.twig" %}

{% block title %} Eventos {% endblock %}

{% block body %}

<div class="container py-5">
	
	<session>

		<div class="card">
			<div class="card-body">
				<div class="mb-4 d-flex justify-content-between align-items-center flex-wrap">
					<div>
						<h5 class="text-warning mb-0"><b>Próximas - Feiras & Eventos</b></h5>
						<div><b>Aqui você ver e gerencia os Eventos mais recentes.</b></div>
					</div>
					{% if 'add' in permissions.eventos or permissions == 'all' %}
					<div>
						<a href="{{ DOMAIN }}/eventos/add" class="btn btn-warning fw-bold"><i class="fa-solid fa-plus"></i> CRIAR NOVO EVENTO</a>
					</div>
					{% endif %}
				</div>

				<hr>

				<div class="table-responsive">
					<table id="tabela_dinamica" class="table table-hover table-striped align-middle text-white pt-4 mb-4" style="width:100%">
						<thead>
							<tr>
								<th>Data da Evento</th>
								<th>Evento</th>
								<th class="no-mobile">Local</th>
								<th class="no-mobile text-end">Responsável</th>
							</tr>
						</thead>
						<tbody>
							{% for evento in eventos %}
							<tr>
								<td>
									{% set meses = ["Jan", "Fev", "Mar", "Abr", "Mai", "Jun", "Jul", "Ago", "Set", "Out", "Nov", "Dez"] %}
									{% set mes_numero = evento.data_evento_inicio|date('m') - 1 %}
									{{ evento.data_evento_inicio|date('d') }} de {{ meses[mes_numero] }}. {{ evento.data_evento_inicio|date('Y') }}
									{% set hoje = "now"|date("Y-m-d") %}
									{% set data_evento = evento.data_evento_inicio|date("Y-m-d") %}
									{% set diferenca = data_evento|date_modify("midnight")|date("U") - hoje|date("U") %}
									{% set dias_faltantes = diferenca / (60 * 60 * 24) %}
									{% if dias_faltantes > 0 %}
									<div class="text-warning">Em {{ dias_faltantes }} dias {{ evento.data_evento_inicio|date('l')|dayTranslate }}</div>
									{% else %}
									<div class="text-success">Evento já realizado</div>
									{% endif %}							
								</td>
								<td>
									<a href="{{ DOMAIN }}/eventos/edit/{{ evento.id }}" class="text-uppercase"><i class="fa-solid fa-thumbtack"></i> <b>{{ evento.nome_evento }}</b></a>
									<div>
										{% if 'add' in permissions.eventos or permissions == 'all' %}
											<a class="mb-2 badge bg-warning text-black" href="{{ DOMAIN }}/eventos/edit/{{ evento.id }}"><i class="fa-solid fa-edit"></i> Editar Evento</a>
										{% endif %}
										{% if _session.sampel_user_id == evento.id_user or _session.sampel_user_id == 1 or _session.sampel_user_id == 4 %}
											<a href="javascript:void(0)" data-bs-remote="{{ DOMAIN }}/eventos/equipes/gerenciar/{{ evento.id }}" data-bs-toggle="modal-remote" data-bs-target="#editarEquip" class="mb-2 badge bg-warning text-black">
												Ver Equipe
												<span class="px-1 bg-black rounded-pill text-white">{{ evento.total_equipe }}</span>
											</a>
										{% endif %}
									</div>
								</td>
								<td class="no-mobile">
									{{ evento.local_evento }}
									<div class="text-white-50"><small>{{ evento.cidade_evento }}, {{ evento.estado_evento }}</small></div>
								</td>
								<td class="no-mobile text-end">
									{{ evento.responsavel }}
									<div class="text-lowercase text-white-50" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Data de criação do Evento">{{ evento.date_create|date("d/m/Y H:i") }}</div>
								</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>

	</session>

</div>
<div class="modal fade" id="editarEquip" tabindex="-1" role="dialog" aria-labelledby="editarEquipLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable" role="document">
		<div class="modal-content"></div>
	</div>
</div>
{% endblock %}