<div class="offcanvas-header px-0 border-bottom">
    <h5 class="offcanvas-title" id="offcanvasRightLabel">{{ patrocinio.id == '' ? 'Criar Novo Patrocínios' : 'Editar Patrocínios' }}</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
</div>
<div class="mt-2">

    <form action="javascript:void(0)" id="{{ patrocinio.id == '' ? 'add_patrocinio' : 'edit_patrocinio' }}" method="post">
        
        <div class="mb-1">
            <label class="control-label">Fornecedor</label>
            <div class="d-flex">
                <div class="flex-grow-1">
                    <select class="form-control" name="id_fornecedor" id="id_fornecedor">
                        <option value="0">Selecione</option>
                        {% if fornecedor.id != '0' and fornecedor.id is not empty %}
                            <option value="{{ fornecedor.id }}" selected>{{ fornecedor.empresa_fantasia }}</option>
                        {% endif %}
                    </select>
                </div>
                {% if 'add' in permissions.fornecedores or permissions == 'all' %}
                    <a class="btn btn-primary" href="javascript:void(0)" data-bs-remote="{{ DOMAIN }}/painel/contratos/fornecedores/add" data-bs-toggle="offcanvas" data-bs-target="#formFornecedor" aria-controls="formFornecedor"><i class="fa-solid fa-user-plus"></i></a>
                {% endif %}
            </div>
        </div>

        <div class="mb-1">
            <label for="nome_patrocinio" class="form-label">Nome do Patrocínios:</label>
            <input type="text" class="form-control" id="nome_patrocinio" name="nome_patrocinio" value="{{ patrocinio.nome_patrocinio }}">
        </div>
        
        <div class="mb-1">
            <label for="data_patrocinio_inicio" class="form-label">Data de Início:</label>
            <input type="date" class="form-control" id="data_patrocinio_inicio" name="data_patrocinio_inicio" value="{{ patrocinio.data_patrocinio_inicio }}">
        </div>
        <div class="mb-1">
            <label for="data_patrocinio_fim" class="form-label">Data de Encerramento:</label>
            <input type="date" class="form-control" id="data_patrocinio_fim" name="data_patrocinio_fim" value="{{ patrocinio.data_patrocinio_fim }}">
        </div>
        <div class="mb-1">
            <textarea id="descricao" class="form-control" name="descricao">{{ patrocinio.descricao }}</textarea>
        </div>
        {% if patrocinio.id != '' %} <input type="hidden" name="id" value="{{ patrocinio.id }}"> {% endif %}
        <button type="submit" class="rounded-pill btn btn-lg btn-warning fw-bold"><i class="fa-regular fa-floppy-disk"></i> {{ patrocinio.id == '' ? 'SALVAR PATROCÍNIOS' : 'SALVAR ALTERAÇÕES' }}</button>
    </form>
</div>

<link rel="stylesheet" href="{{ DOMAIN }}/view/painel/src/vendors/froala/css/froala_editor.min.css">
<link rel="stylesheet" href="{{ DOMAIN }}/view/painel/src/vendors/froala/css/themes/dark.css">
<script src="{{ DOMAIN }}/view/painel/src/vendors/froala/js/froala_editor.pkgd.min.js"></script>
<script src='{{ DOMAIN }}/view/painel/src/vendors/froala/js/languages/pt_br.js'></script>
<script src="{{ PATH }}/view/painel/src/js/scripts/pages/patrocinios.js"></script>