{% extends "layout/layoutPanel.twig" %}

{% block title %}Lista de Patrocínios{% endblock %}

{% block body %}

    <!-- BEGIN: Content-->
    <div class="app-content content ">
        <div class="content-wrapper">
            <div class="content-body">
            
                <section id="dashboard-ecommerce">

                    <div class="card">
                        <div class="card-body">
                            <form action="" method="GET">

                                <div class="row align-items-end justify-content-between">
                                
                                    <div class="col-md-2 col-sm-6 col-12">
                                        <div class="mb-1">
                                            <label class="form-label">Ano do Patrocínios:</label>
                                            <select class="form-control text-uppercase" name="ano_patrocinio" id="ano_patrocinio">
                                                <option value="">Selecione</option>
                                                {% set current_year = "now"|date("Y") %}
                                                {% for year in range(current_year + 1, 2018) %}                                                    
                                                    <option value="{{ year }}" {{ _get.ano_patrocinio == year ? 'selected' }}>{{ year }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-md-2 col-sm-6 col-12">
                                        {% set valor_total_orcamento_all = 0 %}
                                        {% for item in patrocinios %}
                                            {% set valor_total_orcamento_all = valor_total_orcamento_all + item.total_gastos %}
                                        {% endfor %}
                                        <h5 class="card-title">Valor Total: <span class="text-success">R$ {{ valor_total_orcamento_all|number_format(2, ',', '.') }}</span></h5>
                                    </div>

                                    <div class="col-md-2 col-sm-6 col-12">
                                        <div class="mb-1 btn-group d-flex">
                                            <button type="submit" class="btn btn-primary w-100" id="salvar">FILTRAR</button>
                                            <a href="{{ DOMAIN }}/painel/patrocinios" class="btn btn-danger px-1 flex-shrink-1" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Resetar Filtro"><i class="fa-solid fa-octagon-xmark"></i></a>
                                        </div>
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>

                    <div class="row">

                        <div class="col-lg-12 col-12">
                            <div class="card card-company-table">
                                <div class="card-header">
                                    <h5 class="card-title">Lista de Patrocínios</h5>
                                    <div class="heading-elements">
                                        {% if 'add' in permissions.patrocinios or permissions == 'all' %}
                                            <a class="btn btn-primary" href="javascript:void(0)" data-bs-remote="{{ DOMAIN }}/painel/patrocinios/add" data-bs-toggle="offcanvas" data-bs-target="#formPadrocinio" aria-controls="formPadrocinio"><i class="fa-regular fa-plus"></i> Add Nova</a>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table dataTable_list">
                                            <thead>
                                                <tr>
                                                    <th>Patrocínios</th>
                                                    <th>Fornecedor</th>
                                                    <th class="text-center">Orçamento</th>
                                                    <th>Local</th>
                                                    <th class="text-end">Data da Patrocínios</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for item in patrocinios %}
                                                <tr>
                                                    <td class="ps-1">
                                                        <span class="me-1">
                                                            <a href="{{ DOMAIN }}/painel/patrocinios/orcamento/{{ item.id }}" class="text-success"><i class="fa-solid fa-folder-open" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="primary-tooltip" title="" data-bs-original-title="Ver Orçamentos" aria-label="Ver Orçamentos"></i></a>
                                                        </span>
                                                        <a  data-bs-remote="{{ DOMAIN }}/painel/patrocinios/edit/{{ item.id }}" data-bs-toggle="offcanvas" data-bs-target="#formPadrocinio" class="text-uppercase text-white"><b>{{ item.nome_patrocinio }}</b></a>
                                                    </td>
                                                    <td>{{ item.empresa_fantasia }}</td>
                                                    <td class="bg-success text-black text-center">
                                                        R$ {{ item.total_gastos|number_format(2, ',', '.') }}
                                                    </td>
                                                    <td class="no-mobile">
                                                        {% if item.cidade_patrocinio != '' %}
                                                            <div class="text-white-50"><small>{{ item.cidade_patrocinio }}, {{ item.estado_patrocinio }} - {{ item.pais_patrocinio }}</small></div>
                                                        {% else %}
                                                            <div class="text-white-50"><small>{{ item.pais_patrocinio }}</small></div>
                                                        {% endif %}
                                                    </td>
                                                    <td class="text-end">
                                                        <i class="fa-solid fa-calendar-days"></i> <span class="fw-bold">{{ item.data_patrocinio_inicio | date("d-m-Y") }}</span>
                                                        <span class="mx-2"><i class="fa-solid fa-calendar-days"></i> <span class="fw-bold">{{ item.data_patrocinio_fim | date("d-m-Y") }}</span></span>
                                                        {% if 'delete' in permissions.patrocinios or permissions == 'all' %}
                                                            <a href="javascript:void(0)" class="text-danger" onclick="statusEvent('{{ item.id }}', '{{ item.status_patrocinio == 'Ativo' ? 'Inativo' : 'Ativo' }}');"><i class="fa-solid fa-power-off"></i></a>
                                                        {% endif %}
                                                    </td>
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </section>

            </div>
        </div>
    </div>

    <div class="offcanvas offcanvas-end" id="formPadrocinio" aria-labelledby="formPadrocinioLabel">
        <div class="offcanvas-body">
            Carregando...
        </div>
    </div>

    <div class="offcanvas offcanvas-end" id="formFornecedor" aria-labelledby="formFornecedorLabel">
        <div class="offcanvas-body">
            Carregando...
        </div>
    </div>
    
    <script src="{{ PATH }}/view/painel/src/js/scripts/pages/patrocinios.js"></script>
{% endblock %}