{% extends "layout/layoutMaster.twig" %}

{% block title %} Visitas {% endblock %}

{% block body %}

<div class="container py-5">
	
	<session>

		<div class="mb-4 d-flex justify-content-between align-items-center flex-wrap">
			<div>
				<h3>Sua listas de agendamentos de visitas</h3>
				<div>Aqui você ver e gerencia sua visitas agendadas.</div>
			</div>
			<div>
				<a href="{{ DOMAIN }}/agendar" class="btn btn-warning btn-lg mt-2 mt-sm-0"><i class="fa-solid fa-plus"></i> CRIAR NOVO AGENDAMENTO</a>
			</div>
		</div>

		<hr>

		<div class="table-responsive">
			<table id="tabela_dinamica" class="table table-hover align-middle text-white pt-4 mb-4" style="width:100%">
		        <thead>
		            <tr>
		                <th class="d-none">#</th>
		                <th class="no-mobile flex-grow-1">Visita</th>
		                <th class="no-mobile">Responsável</th>
		                <th width="50" class="no-mobile">Status</th>
		                <th class="text-end no-mobile">Data da Visita</th>
		            </tr>
		        </thead>
		        <tbody>
		        	{% for visita in visitas %}
					<tr>
						<td class="d-none">{{ visita.visita_id }}</td>

						<td>
							<span class="text-uppercase"><i class="fa-solid fa-thumbtack"></i> <b>{{ visita.title }}</b></span>
							<div class="d-flex justify-content-between justify-content-sm-start flex-wrap mt-2">
								<a href="javascript:void(0);" class="badge bg-warning text-black" data-bs-trigger="click" data-bs-toggle="tooltip" data-bs-title="Copiado" onclick="copy('{{ DOMAIN }}/visita/inscricao/{{ visita.visita_id }}')"><i class="fa-solid fa-share-nodes"></i> Compartilhar URL de inscrição</a>
								<a href="{{ DOMAIN }}/visita/lista/{{ visita.visita_id }}" class="badge bg-warning text-black ms-4"><i class="fa-solid fa-users"></i> {{ visita.inscricoes }} / {{ visita.qtd_visitas }}</a>
							</div>
						</td>

						<td class="no-mobile">
							{{ visita.nome }}
							<div class="text-lowercase text-white-50"><small>{{ visita.empresa_fantasia }} - {{ visita.empresa_telefone }}</small></div>
						</td>

						<td class="no-mobile" width="50"><span class="badge bg-{{ visita.status_visita == 'Pendente' ? 'warning' : 'info' }} text-dark">{{ visita.status_visita }}</span></td>

						<td class="text-end no-mobile">
							{{ visita.data_visita | date("m-d-Y H:i") }}
							<div><a href="{{ DOMAIN }}/visita/inscricao/{{ visita.visita_id }}" class="badge bg-dark"><i class="fa-regular fa-arrow-up-right-from-square"></i> Link de inscrição</a></div>
						</td>

					</tr>
					{% endfor %}
		        </tbody>
		    </table>
		</div>

	</session>

</div>
{% endblock %}