<div class="p-3">
	<h5>EDITAR INSCRIÇÃO</h5>
	<hr>
	<session>
		<div>
			<form action="javascript:void(0)" id="form_inscricao_editar" method="POST">
				<div class="form-load"><i class="fa-solid fa-spinner fa-spin-pulse"></i></div>
				<div class="row">
				
					<div class="col-md-6 col-12">
						<div class="mb-3">
							<label for="cpf" class="form-label">Seu CPF</label>
							<div class="cpf-edit position-relative">
								<input type="text" class="form-control rounded-pill" value="{{ inscricao.cpf|UserCPF }}" readonly>
								<a href="javascript:void(0)" class="position-absolute top-25 end-5" onclick="editCPF();"><i class="fa-solid fa-pen-to-square"></i></a>
							</div>
							<input type="text" name="cpf" class="form-control rounded-pill cpf" id="cpf" value="{{ inscricao.cpf }}" required="required" style="display:none;">
							<div id="valida-cpf" class="invalid-feedback">CPF já cadastrado.</div>
						</div>
					</div>

					<div class="col-md-6 col-12">
						<div class="mb-3">
							<label for="nome" class="form-label">Seu Nome Completo</label>
							<input type="text" name="nome" class="form-control rounded-pill" id="nome" value="{{ inscricao.nome }}" required="required">
						</div>
					</div>
					
					<div class="col-md-6 col-12">
						<div class="mb-3">
							<label for="empresa" class="form-label">Nome da sua Empresa</label>
							<input type="text" name="empresa" class="form-control rounded-pill" id="empresa" value="{{ inscricao.empresa }}" required="required">
						</div>
					</div>

					
					<div class="col-md-6 col-12">
						<div class="mb-3">
							<label for="email" class="form-label">Seu Email</label>
							<input type="email" name="email" class="form-control rounded-pill" id="email" value="{{ inscricao.email }}" required="required">
							<div id="valida-email" class="invalid-feedback">Email já cadastrado.</div>
						</div>
					</div>
					<div class="col-md-6 col-12">
						<div class="mb-3">
							<label class="form-label">Setor de Atuação</label>
							<select class="form-control rounded-pill" id="setor" name="setor" required="required">
								<option value="">Selecione</option>
								<option {{ inscricao.setor == 'Auto Center' ? 'selected'  }} value="Auto Center">Auto Center</option>
								<option {{ inscricao.setor == 'Autopeças' ? 'selected'  }} value="Autopeças">Autopeças</option>
								<option {{ inscricao.setor == 'Balconista' ? 'selected'  }} value="Balconista">Balconista</option>
								<option {{ inscricao.setor == 'Distribuidora' ? 'selected'  }} value="Distribuidora">Distribuidora</option>
								<option {{ inscricao.setor == 'Estoquista' ? 'selected'  }} value="Estoquista">Estoquista</option>
								<option {{ inscricao.setor == 'Frotista' ? 'selected'  }} value="Frotista">Frotista</option>
								<option {{ inscricao.setor == 'Mecânico / Reparador' ? 'selected'  }} value="Mecânico / Reparador">Mecânico / Reparador</option>
								<option {{ inscricao.setor == 'Vendas / Telemarketing' ? 'selected'  }} value="Vendas / Telemarketing">Vendas / Telemarketing</option>
								<option {{ inscricao.setor == 'Outros' ? 'selected'  }} value="Outros">Outros</option>
							</select>
						</div>
						<div class="mb-3 outros" style="display: none">
							<input type="text" name="setor_outros" class="form-control rounded-pill" value="{{ inscricao.setor_outros }}" placeholder="Qual?">
						</div>
					</div>
					<div class="col-md-6 col-12">
						<div class="mb-3">
							<label for="cep" class="form-label">Seu CEP</label>
							<input type="text" name="cep" class="form-control rounded-pill cep" id="cep" value="{{ inscricao.cep }}" required="required">
						</div>
					</div>
					<div class="col-md-6 col-12">
						<div class="mb-3">
							<label for="cep" class="form-label">Cidade</label>
							<input type="text" name="cidade" class="form-control rounded-pill" id="cidade" value="{{ inscricao.cidade }}" required="required">
						</div>
					</div>
					<div class="col-md-6 col-12">
						<div class="mb-3">
							<label for="cep" class="form-label">Estado</label>
							<input type="text" name="estado" class="form-control rounded-pill text-uppercase" minlength="2" maxlength="2" id="estado" value="{{ inscricao.estado }}" required="required">
						</div>
					</div>
					<div class="col-md-6 col-12">
						<div class="mb-3">
							<label for="telefone" class="form-label">Seu Whatsapp</label>
							<input type="text" name="telefone" class="form-control rounded-pill telefone" id="telefone" value="{{ inscricao.telefone }}" required="required">
							<div id="valida-telefone" class="invalid-feedback">Telefone já cadastrado.</div>
						</div>
					</div>

					<div class="col-md-6 col-12">
						<div class="mb-3">
							<label class="form-label"></label>
							<input type="hidden" name="id" value="{{ inscricao.id }}">
							<button type="submit" class="rounded-pill btn btn-warning w-100"><i class="fa-solid fa-unlock-alt me-2"></i> SALVAR ALTERAÇÕES</button>
						</div>
					</div>

				</div>

			</form>

		</div>
	</session>
</div>
<script src="{{ PATH }}/view/src/js/inscricao.js?333"></script>