{% extends "layout/layoutMaster.twig" %}

{% block title %} Visitas {% endblock %}

{% block body %}

<div class="container py-5">
	
	<session>

		{% if _get.action == '' %}

			<div class="d-flex justify-content-between align-items-center">
				<div class="mb-4">
					<h3>Faça sua inscrição para essa visita</h3>
					<div>Faça sua inscrição abaixo e guarde os dados exibidos após sua inscrição.</div>
				</div>
				<div class="text-end">
					<h3 data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Total de inscrições"><span class="badge text-bg-warning"><i class="fa-solid fa-users"></i> {{ visita.inscricoes }} / {{ visita.qtd_visitas }}</span></h3>
					{% if _session.sampel_user_tipo == 1 or _session.sampel_user_id == visita.id_empresa %}
						<a href="javascript:void(0)" data-bs-remote="{{ DOMAIN }}/visita/inscricao/link-inscricao?visita={{ visita.id }}" data-bs-toggle="modal-remote" data-bs-target="#linkinscricao" class="btn btn-warning btn-sm fw-bold">CRIAR LINK DE INSCRIÇÃO</a>
					{% endif %}
				</div>
			</div>

			<hr>
			
			<div class="row">

				<div class="{{ _get.action != '' ? 'col-md-6' : 'col-md-6' }} col-sm-12 col-12 mb-5">

					{% if _get.action != '' %}
					<div class="mb-4">
						<h3>Inscrição realizada com sucesso</h3>
						<div>Imprima seu crachá ao lado e apresente no dia do evento.</div>
					</div>

					<hr>
					{% endif %}

					<h4 class="text-warning"><b>{{ visita.title }}</b></h4>
					<div>Fechamento das inscrições: <span class="text-warning fw-bold">{{ visita.data_close | date("d/m/Y") }}</span></div>
					<div class="my-4">
						<b>{{ visita.nome }}</b></small>
						<div class="text-lowercase text-white-50"><small>{{ visita.email }} - {{ visita.empresa_telefone }}</small></div>
					</div>
					{% set date = visita.data_visita|date("d") ~ ' de ' ~ visita.data_visita|date("F")|monthTranslate() ~ ' de ' ~ visita.data_visita|date("Y") %}
					<div><b>Data da visita:</b>  {{ date }} as {{ visita.horario_visita }}</div>
					<div class="mt-4">
						<div><b>Informações:</b></div>
						<div class="text-white-50">{{ visita.descricao|raw }}</div>
					</div>

					<div class="accordion mt-3" id="regras_visita">
						<div class="accordion-item">
							<h2 class="accordion-header">
								<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#horarios_tab" aria-expanded="true" aria-controls="horarios_tab"><b>SOBRE HORÁRIOS E EVENTOS</b></button>
							</h2>
							<div id="horarios_tab" class="accordion-collapse collapse" data-bs-parent="#regras_visita">
								<div class="accordion-body">
									<small>
										{{ config.sobre_horarios|raw }}
									</small>
								</div>
							</div>
						</div>						
						<div class="accordion-item">
							<h2 class="accordion-header">
								<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#regras_tab" aria-expanded="false" aria-controls="regras_tab"><b>REGRAS PARA VISITA NA FÁBRICA SAMPEL</b></button>
							</h2>
							<div id="regras_tab" class="accordion-collapse collapse" data-bs-parent="#regras_visita">
								<div class="accordion-body">
									<small>
										{{ config.regras_visita|raw }}
									</small>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="{{ _get.action != '' ? 'col-md-6' : 'col-md-6' }} col-sm-12 col-12 mb-5 position-relative">

					{% if (_session.sampel_user_id == '' and visita.status_visita != 'Concluido') %}

						{% if (_get.action == '') %}

							{% if visita.inscricoes >= visita.qtd_visitas %}

								<div class="form_inscricao">
									<div class="alert alert-warning text-center py-5" role="alert">
										<div><i class="fa-solid fa-circle-exclamation fa-3x mb-4"></i></div>
										<h4 class="text-black">Inscrições esgotadas</h4> 
										<div>Limite de inscrições para esse evento foi alcançado.</div>
									</div>
								</div>
							
							{% elseif visita.status_visita == 'Recusado' %}

								<div class="form_inscricao">
									<div class="alert alert-danger text-center py-5" role="alert">
										<div><i class="fa-solid fa-circle-exclamation fa-3x mb-4"></i></div>
										<h4 class="text-black">Inscrições Fechadas</h4> 
										<div>O evento foi recusado por <br>disponíbilidade ou não atingiu o mínimo de inscrições.</div>
									</div>
								</div>
							
							{% elseif visita.status_inscricoes == 'Concluido' %}

								<div class="form_inscricao">
									<div class="alert alert-danger text-center py-5" role="alert">
										<div><i class="fa-solid fa-circle-exclamation fa-3x mb-4"></i></div>
										<h4 class="text-black">Inscrições encerradas</h4> 
										<div>Olá, agradecemos pelo seu interesse. No entanto, lamentamos informar que nosso link de agendamento expirou, não sendo mais possível realizar inscrições para o evento Sampel.</div>
									</div>
								</div>
							
							{% endif %}

						{% endif %}

					{% endif %}

					{% if (visita.status_visita != 'Aguardando') %}

						{% if
							(visita.status_visita != 'Concluido' and visita.status_visita != 'Recusado' and _get.a == 'qr') or
							(visita.status_visita != 'Recusado' and now|date('Y-m-d') < visita.data_close) or
							(_session.sampel_user_id != '' and visita.status_visita != 'Concluido') or
							(visita.status_visita != 'Concluido' and visita.status_visita != 'Recusado' and now|date('Y-m-d') > visita.data_close and link_codigo != '' and link_codigo.qtd_usos > link_codigo.qtd_usado)
						%}
							
							{% if _get.action == '' %}
								<div class="form_inscricao">

									<div class="alert-3 alert-none">
										<div class="alert alert-danger" role="alert">
											<i class="fa-sharp fa-solid fa-bug"></i> Aconteceu algum erro. Tente novamente mais tarde ou entre em contato com o suporte.
										</div>
									</div>
									<div class="alert-2 alert-none">
										<div class="alert alert-warning" role="alert">
											<i class="fa-solid fa-circle-exclamation"></i> Este usuário já participou de uma visita.
										</div>
									</div>

									<form action="javascript:void(0)" id="form_inscricao" method="POST">
									
										<div class="form-load"><i class="fa-solid fa-spinner fa-spin-pulse"></i></div>

										<div class="row">

											{% if visita.tipo == 'visita' %}
											<div class="col-md-6 col-12">
												<div class="mb-3">
													<label for="cpf" class="form-label">Seu CPF *</label>
													<input type="text" name="cpf" class="form-control rounded-pill cpf" id="cpf" value="" required="required">
													<div id="valida-cpf" class="invalid-feedback">CPF já cadastrado.</div>
												</div>
											</div>
											{% endif %}

											{% if visita.tipo == 'evento' %}
											<div class="col-md-6 col-12">
												<div class="mb-3">
													<label for="cpf" class="form-label">Seu CPF *</label>
													<input type="text" name="cpf" class="form-control rounded-pill cpf cpf_autocomplete" id="cpf" value="" required="required">
													<div id="valida-cpf" class="invalid-feedback">CPF já cadastrado.</div>
												</div>
											</div>
											{% endif %}

											<div class="col-md-6 col-12">
												<div class="mb-3">
													<label for="nome" class="form-label">Seu Nome Completo *</label>
													<input type="text" name="nome" class="form-control rounded-pill" id="nome" value="" required="required">
												</div>
											</div>
											
											<div class="col-md-6 col-12">
												<div class="mb-3">
													<label for="empresa" class="form-label">Nome da sua Empresa *</label>
													<input type="text" name="empresa" minlength="3" class="form-control rounded-pill" id="empresa" value="" required="required">
												</div>
											</div>
											
											<div class="col-md-6 col-12">
												<div class="mb-3">
													<label for="email" class="form-label">Seu Email *</label>
													<input type="email" name="email" class="form-control rounded-pill" id="email" value="" required="required">
													<div id="valida-email" class="invalid-feedback">Email já cadastrado.</div>
												</div>
											</div>
											<div class="col-md-6 col-12">
												<div class="mb-3">
													<label class="form-label">Setor de Atuação *</label>
													<select class="form-control rounded-pill" id="setor" name="setor" required="required">
														<option value="">Selecione</option>
														<option value="Auto Center">Auto Center</option>
														<option value="Autopeças">Autopeças</option>
														<option value="Balconista">Balconista</option>
														<option value="Distribuidora">Distribuidora</option>
														<option value="Estoquista">Estoquista</option>
														<option value="Frotista">Frotista</option>
														<option value="Mecânico / Reparador">Mecânico / Reparador</option>
														<option value="Vendas / Telemarketing">Vendas / Telemarketing</option>
													</select>
												</div>
												<div class="mb-3 outros" style="display: none">
													<input type="text" name="setor_outros" class="form-control rounded-pill" placeholder="Qual?">
												</div>
											</div>
											<div class="col-md-6 col-12">
												<div class="mb-3">
													<label for="cep" class="form-label">Seu CEP *</label>
													<input type="text" name="cep" class="form-control rounded-pill cep" id="cep" value="" required="required">
													<input type="hidden" name="cidade" id="cidade" value="">
													<input type="hidden" name="estado" id="estado" value="">
													<div class="endereco ms-3"></div>
												</div>
											</div>
											<div class="col-md-6 col-12">
												<div class="mb-3">
													<label for="telefone" class="form-label">Seu Whatsapp *</label>
													<input type="text" name="telefone" class="form-control rounded-pill telefone" id="telefone" value="" required="required">
													<div id="valida-telefone" class="invalid-feedback">Telefone já cadastrado.</div>
												</div>
											</div>

											<div class="col-md-6 col-12">
												<div class="mb-3">
													<label class="form-label"></label>
													<input type="hidden" name="id_visita" id="id_visita" value="{{ visita.visita_id }}">
													<input type="hidden" name="tipo_visita" id="tipo_visita" value="{{ visita.tipo }}">
													{% if link_codigo != '' %}<input type="hidden" name="link_inscricao" value="{{ link_codigo.codigo }}">{% endif %}
													<button type="submit" class="rounded-pill btn btn-warning w-100"><i class="fa-solid fa-unlock-alt me-2"></i> SALVAR SUA INSCRIÇÃO</button>
												</div>
											</div>

										</div>

									</form>
									
								</div>
							{% endif %}

						{% else %}

								<div class="form_inscricao">
									<div class="alert alert-danger text-center py-5" role="alert">
										<div><i class="fa-solid fa-circle-exclamation fa-3x mb-4"></i></div>
										<h4 class="text-black">Inscrições encerradas</h4> 
										<div>Olá, agradecemos pelo seu interesse. No entanto, lamentamos informar que nosso link de agendamento expirou, não sendo mais possível realizar inscrições para o evento Sampel.</div>
									</div>
								</div>							
							
						{% endif %}

					{% else %}

						<div class="form_inscricao">
							<div class="alert alert-warning text-center py-5" role="alert">
								<div><i class="fa-solid fa-circle-exclamation fa-3x mb-4"></i></div>
								<h4 class="text-black">Inscrições Fechadas</h4> 
								<div>O evento está Aguardando aprovação para liberação de inscrições.</div>
							</div>
						</div>

					{% endif %}
					
				</div>

			</div>

		{% endif %}

		{% if _get.action == 'success' %}
			<div class="row">
				<div class="col-md-4 offset-md-4">

					<div class="text-center mb-4">
						<a href="javascript:void(0)" id="salvar_inscricao" class="btn btn-warning btn-lg rounded-pill fw-bold"><i class="fa-solid fa-download"></i> SALVAR INGRESSO</a>
						<div class="fw-bold mt-2 w-75 m-auto">Apresente o ingresso abaixo para poder participar do evento.</div>
					</div>
					
					<div class="success" id="inscricao_sucesso">

						<div id='card'>

							<div id='upper-side'>
								<div class="d-flex justify-content-around align-items-center">
									<img src="{{ DOMAIN }}/view/src/media/ingresso_banner1.jpg">
								</div>
							</div>

							<div id='lower-side'>
								<div id="message">
									<h5 class="fw-bold text-uppercase"><b>{{ visita.title }}</b></h5>

									<div class="mt-2 text-body-tertiary fw-bold"><small>LOCAL</small></div>
									<div class="d-flex justify-content-between">
										<div>R. Flôr de Noiva, 500 - Q.ta da Boa Vista, Itaquaquecetuba - SP</div>
										<div class="ps-3 flex-nowrap"><a class="text-primary text-nowrap" href="https://www.waze.com/pt-BR/live-map/directions/br/sp/sampel-pecas-automotivas?navigate=yes&utm_campaign=default&utm_source=waze_website&utm_medium=lm_share_location&to=place.ChIJjcSH_PV8zpQRbVEGvsBiWIU" target="_blank"><i class="fa-regular fa-arrow-turn-right"></i> ver local</a></div>
									</div>

									<div class="mt-4 text-body-tertiary fw-bold"><small>DATA</small></div>
									<div class="d-flex justify-content-between">
										{% set date = visita.data_visita|date("d") ~ ' de ' ~ visita.data_visita|date("F")|monthTranslate() ~ ' de ' ~ visita.data_visita|date("Y") %}
										<div>{{ date }} às {{ visita.horario_visita }}</div>
										<div class="ps-3 flex-nowrap"><a class="text-primary text-nowrap" href="https://www.google.com/calendar/render?action=TEMPLATE
										&text={{ visita.title }}
										&dates={{ visita.data_visita|date("Ymd") }}T{{ visita.horario_visita | replace({':': ''}) }}00Z/{{ visita.data_visita|date("Ymd") }}T130000Z
										&details={{ visita.descricao }}
										&location={{ visita.local }}" target="_blank"><i class="fa-regular fa-circle-plus"></i> Calendário</a></div>
									</div>
									
									<div class="my-3 fw-bold separador position-relative"><span>INGRESSO</span></div>

									<div class="row">
										<div class="col-5 text-center">
											<b>{{ inscricao.codigo }}</b>
											<div id="image_qrcode" style="display:none;">{{ inscricao.qrcode|raw }}</div>
											<div id="image_qrcode_rend"></div>
										</div>
										<div class="col-7">
											<div class="mb-2">
												<div class="text-body-tertiary fw-bold"><small>PARTICIPANTE</small></div>
												<div class="text-uppercase">{{ inscricao.nome }}</div>
											</div>
											<div class="mb-2">
												<div class="text-body-tertiary fw-bold"><small>CPF</small></div>
												<div class="">{{ inscricao.cpf|UserCPF }}</div>
											</div>
											<div class="mb-2">
												<div class="text-body-tertiary fw-bold"><small>CIDADE/ESTADO</small></div>
												<div class="">{{ inscricao.cidade }}, {{ inscricao.estado }}</div>
											</div>
											<div class="mb-2">
												<div class="text-body-tertiary fw-bold"><small>SETOR</small></div>
												<div class="">{{ inscricao.setor }}</div>
											</div>
										</div>
									</div>

									<div class="my-3 fw-bold separador position-relative"><span>Checking</span></div>

									<div class="codigo-barra"><img src="data:image/png;base64, {{ barcode }}" class="img-fluid w-100"></div>

								</div>
							</div>

						</div>
						<!-- partial -->
					</div>
				</div>
			</div>
		{% endif %}

	</session>

</div>

<!-- Modal -->
<div class="modal fade" id="cpf_notification" tabindex="-1" aria-labelledby="cpf_notificationLabel" aria-hidden="true">
  	<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title fw-bold fs-5">INFORMAÇÃO JÁ CADASTRA</h1>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<div>Verificamos que seu cadastro já está registrado em nosso sistema desde <b id="uservisita">[Data da Última Visita]</b>.</div>
				<div>Para seu retorno à Sampel, é necessário aguardar um período de 12 meses. Após esse intervalo, você estará apto a se inscrever em um novo evento.</div>
				<br>
				<div>Caso tenha dúvidas ou precise de assistência para reativar seu cadastro, não hesite em entrar em contato com a nossa equipe.</div>
				<br>
				<div>Agradecemos seu interesse em retornar e estamos à disposição para ajudá-lo.</div>
				<br>
				<div>Atenciosamente,</div>
				<div>Marketing - Sampel</div>
				<div>souza.marketing@sampel.com.br</div>
			</div>
		</div>
  	</div>
</div>

{% if agora >= datavisita %}
<div class="modal fade" id="sorteio" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-sm" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<span class="modal-title">Digite a Quantidade de Sorteados</span>
			</div>
			<div class="modal-body">
				<form id="sorteioForm">

					<div class="form-group mt-2 mb-4">
						<input type="number" name="quantidade" class="form-control form-control-lg text-center" min="1" value="1" id="quantidade" required>
						<input type="hidden" name="id_visita" id="id_visita" value="{{ visita.visita_id }}">
					</div>

					<a class="btn btn-sm btn-primary rounded-0 w-100" data-bs-toggle="collapse" href="#repescagem" role="button" aria-expanded="false" aria-controls="repescagem">Repescagem?</a>
					<div class="collapse" id="repescagem">
						<input type="number" name="repescagem" id="repescagem_input" class="form-control form-control-lg text-center" min="0" value="0">
					</div>

					<div id="timer" class="my-4 text-center"></div>
					<button type="submit" class="btn btn-warning btn-lg w-100">REALIZAR SORTEIO</button>
				</form>
			</div>
		</div>
	</div>
</div>
<script src="{{ PATH }}/view/src/js/services/sorteio.js"></script>
{% endif %}

<div class="modal fade" id="linkinscricao" tabindex="-1" role="dialog" aria-labelledby="linkinscricaoLabel" aria-hidden="true">
	<div class="modal-dialog modal-sm modal-dialog-centered modal-dialog-scrollable" role="document">
		<div class="modal-content">
			<div class="modal-body"></div>
		</div>
	</div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.js"></script>
<script src="{{ PATH }}/view/src/js/inscricao.js"></script>
{% if _session.sampel_user_id %}
	{% if link_codigo.restricao == 'S' or link_codigo is empty %}<script src="{{ PATH }}/view/src/js/inscricao_check-2.js"></script>{% endif %}
{% else %}
	{% if link_codigo.restricao == 'S' or link_codigo is empty %}<script src="{{ PATH }}/view/src/js/inscricao_check.js"></script>{% endif %}
{% endif %}
{% endblock %}