{% extends "layout/layoutMaster.twig" %}

{% block title %} Visitas {% endblock %}

{% block body %}

<div class="container py-5">
	
	<session>

		{% if _get.action == '' %}
		<div class="mb-4">
			<h3>Faça sua inscrição para essa visita</h3>
			<div>Faça sua inscrição abaixo e guarde os dados exibidos após sua inscrição.</div>
		</div>

		<hr>
		{% endif %}

		<div class="row">

			<div class="{{ _get.action != '' ? 'col-md-6' : 'col-md-6' }} col-sm-12 col-12 mb-5">

				{% if _get.action != '' %}
				<div class="mb-4">
					<h3>Inscrição realizada com sucesso</h3>
					<div>Imprima seu crachá ao lado e apresente no dia do evento.</div>
				</div>

				<hr>
				{% endif %}


				<h4 class="text-warning"><b>{{ visita.title }}</b></h4>
				<div class="my-4">
					<b>{{ visita.nome }}</b> - <small class="text-white-50">{{ visita.empresa_fantasia }}</small>
					<div class="text-lowercase text-white-50"><small>{{ visita.email }} - {{ visita.empresa_telefone }}</small></div>
				</div>
				{% set date = visita.data_visita|date("d") ~ ' de ' ~ visita.data_visita|date("F")|monthTranslate() ~ ' de ' ~ visita.data_visita|date("Y") %}
				<div><b>Data da visita:</b>  {{ date }} as {{ visita.horario_visita }}</div>
				<div class="mt-4">
					<div><b>Informações:</b></div>
					<div class="text-white-50">{{ visita.descricao }}</div>
				</div>

				<div class="accordion mt-3" id="regras_visita">
					<div class="accordion-item">
						<h2 class="accordion-header">
							<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#horarios_tab" aria-expanded="true" aria-controls="horarios_tab"><b>SOBRE HORÁRIOS E EVENTOS</b></button>
						</h2>
						<div id="horarios_tab" class="accordion-collapse collapse" data-bs-parent="#regras_visita">
							<div class="accordion-body">
								<small>
									{{ config.sobre_horarios|raw }}
								</small>
							</div>
						</div>
					</div>						
					<div class="accordion-item">
						<h2 class="accordion-header">
							<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#regras_tab" aria-expanded="false" aria-controls="regras_tab"><b>REGRAS PARA VISITA NA FÁBRICA SAMPEL</b></button>
						</h2>
						<div id="regras_tab" class="accordion-collapse collapse" data-bs-parent="#regras_visita">
							<div class="accordion-body">
								<small>
									{{ config.regras_visita|raw }}
								</small>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="{{ _get.action != '' ? 'col-md-6' : 'col-md-6' }} col-sm-12 col-12 mb-5 position-relative">

				{% if _get.action == '' %}

					{% if visita.inscricoes >= visita.qtd_visitas %}

						<div class="form_inscricao">
							<div class="alert alert-warning text-center py-5" role="alert">
								<div><i class="fa-solid fa-circle-exclamation fa-3x mb-4"></i></div>
								<h4>Inscrições esgotadas</h4> 
								<div>Limite de inscrições para esse evento foi alcançado.</div>
							</div>
						</div>
					
					{% elseif visita.status_visita == 'Recusado' %}

						<div class="form_inscricao">
							<div class="alert alert-danger text-center py-5" role="alert">
								<div><i class="fa-solid fa-circle-exclamation fa-3x mb-4"></i></div>
								<h4>Inscrições Fechadas</h4> 
								<div>O evento foi recusado por <br>disponíbilidade ou não atingiu o mínimo de inscrições.</div>
							</div>
						</div>

					{% elseif visita.status_inscricoes == 'Fechadas' %}

						<div class="form_inscricao">
							<div class="alert alert-danger text-center py-5" role="alert">
								<div><i class="fa-solid fa-circle-exclamation fa-3x mb-4"></i></div>
								<h4>Inscrições encerradas</h4> 
								<div>Olá, agradecemos pelo seu interesse. No entanto, lamentamos informar que nosso link de agendamento expirou, não sendo mais possível realizar inscrições para o evento Sampel.</div>
							</div>
						</div>
					
					{% endif %}

				{% endif %}

				{% if (visita.status_visita != 'Recusado') and (visita.status_inscricoes == 'Abertas') %}
					{% if _get.action == '' %}
						<div class="form_inscricao">

							<div class="alert-3 alert-none">
								<div class="alert alert-danger" role="alert">
									<i class="fa-sharp fa-solid fa-bug"></i> Aconteceu algum erro. Tente novamente mais tarde ou entre em contato com o suporte.
								</div>
							</div>
							<div class="alert-2 alert-none">
								<div class="alert alert-warning" role="alert">
									<i class="fa-solid fa-circle-exclamation"></i> Este usuário já participou de uma visita.
								</div>
							</div>

							<form action="javascript:void(0)" id="form_inscricao" method="POST">
							
								<div class="form-load"><i class="fa-solid fa-spinner fa-spin-pulse"></i></div>

								<div class="row">
									<div class="col-md-6 col-12">
										<div class="mb-3">
											<label for="empresa" class="form-label">Nome da Empresa *</label>
											<input type="text" name="empresa" class="form-control rounded-pill" id="empresa" value="" required="required">
										</div>
									</div>
									<div class="col-md-6 col-12">
										<div class="mb-3">
											<label for="nome" class="form-label">Seu Nome Completo *</label>
											<input type="text" name="nome" class="form-control rounded-pill" id="nome" value="" required="required">
										</div>
									</div>
								</div>

								<div class="row">
									<div class="col-md-6 col-12">
										<div class="mb-3">
											<label for="email" class="form-label">Seu Email *</label>
											<input type="email" name="email" class="form-control rounded-pill" id="email" value="" required="required">
										</div>
									</div>
									<div class="col-md-6 col-12">
										<div class="mb-3">
											<label class="form-label">Setor de Atuação *</label>
											<select class="form-control rounded-pill" id="setor" name="setor" required="required">
												<option value="">Selecione</option>
												<option value="Mecânico / Reparador">Mecânico / Reparador</option>
												<option value="Balconista">Balconista</option>
												<option value="Vendas / Telemarketing">Vendas / Telemarketing</option>
												<option value="Estoquista">Estoquista</option>
												<option value="Autopeças">Autopeças</option>
												<option value="Auto Center">Auto Center</option>
												<option value="Frotista">Frotista</option>
												<option value="Oficina Reparadora">Oficina Reparadora</option>
												<option value="Distribuidora">Distribuidora</option>
												<option value="Outros">Outros</option>
											</select>
										</div>
										<div class="mb-3 outros" style="display: none">
											<input type="text" name="setor_outros" class="form-control rounded-pill" placeholder="Qual?">
										</div>
									</div>
									<div class="col-md-6 col-12">
										<div class="mb-3">
											<label for="cep" class="form-label">Seu CEP *</label>
											<input type="text" name="cep" class="form-control rounded-pill cep" id="cep" value="" required="required">
											<input type="hidden" name="cidade" id="cidade" value="">
											<input type="hidden" name="estado" id="estado" value="">
											<div class="endereco ms-3"></div>
										</div>
									</div>
									<div class="col-md-6 col-12">
										<div class="mb-3">
											<label for="telefone" class="form-label">Seu Whatsapp *</label>
											<input type="text" name="telefone" class="form-control rounded-pill telefone" id="telefone" value="" required="required">
										</div>
									</div>
									<div class="col-md-6 col-12">
										<div class="mb-3">
											<label for="cpf" class="form-label">Seu CPF *</label>
											<input type="text" name="cpf" class="form-control rounded-pill cpf" id="cpf" value="" required="required">
										</div>
									</div>
									<div class="col-md-6 col-12">
										<div class="mb-3">
											<label for="cpf" class="form-label"></label>
											<input type="hidden" name="id_visita" id="id_visita" value="{{ visita.visita_id }}">
											<button type="submit" class="rounded-pill btn btn-warning w-100"><i class="fa-solid fa-unlock-alt me-2"></i> SALVAR SUA INSCRIÇÃO</button>
										</div>
									</div>
								</div>

							</form>
						</div>
					{% endif %}
				{% endif %}

				{% if _get.action == 'success' %}
					<div class="sucess">
						<!-- partial:index.partial.html -->
						<div id='card' class="animated fadeIn text-center">
							<div id='upper-side'>
								<i class="fa-sharp fa-solid fa-shield-check fa-7x mb-3"></i>
								<h3 id='status'><b>Inscrito com sucesso</b></h3>
								<span class="d-block mt-2"><b>CÓDIGO: </b>{{ inscricao.codigo }}</span>
							</div>
							<div id='lower-side'>
								<p id='message'>Parabéns, sua inscrição foi realizada com sucesso. Imprima sua etiqueta clicando abaixo e fique atento a data do agendamento.</p>
								<div><a href="{{ DOMAIN }}/etiqueta/{{ inscricao.codigo }}" target="_blank" class="mt-3" id="contBtn"><i class="fa-duotone fa-shredder"></i> IMPRIMIR ETIQUETA</a></div>
								<div><a href="{{ DOMAIN }}/visita/inscricao/{{ visita.visita_id }}" class="btn btn-warning rounded-pill mt-3"><i class="fa-solid fa-rotate-left"></i> FAZER UMA NOVA INSCRIÇÃO</a></div>
							</div>
						</div>
						<!-- partial -->
					</div>
				{% endif %}

			</div>

		</div>

	</session>

</div>
<script src="{{ PATH }}/view/src/js/inscricao.js"></script>
{% endblock %}