{% extends "layout/layoutMaster.twig" %}

{% block title %} Visitas {% endblock %}

{% block body %}

<div class="container py-5">
	
	<session>

		<div class="row mb-4">
			<div class="col-sm-12 col-md-8">
				<div><h5>Lista de inscrições: <span class="text-warning">{{ visita.title }}</span></h5></div>
				<div><h5>Data da Visita: <span class="text-warning">{{ visita.data_visita | date("d-m-Y") }} as {{ visita.horario_visita }}</span></h5></div>
				<div class="limit-3">{{ visita.descricao }}</div>
				{% set agora = "now"|date("Y-m-d") %}
				{% set datavisita = visita.data_visita|date("Y-m-d") %}

				{% if agora >= datavisita %}
					<div class="d-flex align-items-end flex-wrap mt-4 mb-4 mb-sm-0">
						{% if sorteados %}
							<a href="{{ DOMAIN }}/visita/sorteados/{{ visita.visita_id }}" class="btn btn-light btn-lg px-5 me-1"><i class="fa-light fa-trophy-star"></i> Lista de Sorteados</a>
						{% else %}
							<button type="button" class="btn btn-warning btn-lg px-5 mt-4 me-1" data-bs-toggle="modal" data-bs-target="#sorteio"><i class="fa-light fa-trophy-star"></i> Realizar Sorteio</button>
						{% endif %}
						<div class="btn {{ _get.presenca == 'Sim' ? 'btn-warning' : 'btn-light' }} my-1 me-1"><a class="text-black" href="{{ DOMAIN }}/visita/lista/{{ visita.visita_id }}?presenca=Sim"><i class="fa-solid fa-shield-check fa-lg {{ _get.presenca == 'Sim' ? 'text-dark' : 'text-warning' }}"></i> Confirmados</a></div>
						<div class="btn {{ _get.presenca == 'No' ? 'btn-warning' : 'btn-light' }} my-1 me-1"><a class="text-black" href="{{ DOMAIN }}/visita/lista/{{ visita.visita_id }}?presenca=No"><i class="fa-solid fa-shield fa-lg text-dark"></i> Não confirmados</a></div>
					</div>
				{% endif %}

			</div>
			<div class="col-sm-12 col-md-4">
				<div><h5 class="text-warning">Estatísticas da Visita:</h5></div>
				<div class="badge {{ _get.setor == '' ? 'bg-warning' : 'bg-light' }} mb-1 me-1"><a class="text-black" href="{{ DOMAIN }}/visita/lista/{{ visita.visita_id }}">Total <span class="badge bg-black">{{ total.total }}</span></a></div>
				{% for grupo in grupos %}
					<div class="badge {{ _get.setor == grupo.setor ? 'bg-warning' : 'bg-light' }} mb-1 me-1"><a class="text-black" href="{{ DOMAIN }}/visita/lista/{{ visita.visita_id }}?setor={{ grupo.setor }}">{{ grupo.setor }} <span class="badge bg-black">{{ grupo.total }}</span></a></div>
				{% endfor %}
			</div>
		</div>

		<hr>

		<div class="table-responsive">
			<table id="tabela_dinamica" class="table table-hover align-middle text-white pt-4 mb-4" style="width:100%">
		        <thead>
		            <tr>
						<th class="d-none">#</th>
						<th>Nome</th>
						<th>Email</th>
						<th>Setor</th>
						<th>Endereço</th>
						<th class="text-end">Crachá</th>
					</tr>
		        </thead>
		        <tbody>
		        	{% for lista in listas %}
						<tr>
							<td class="d-none">{{ lista.visita_id }}</td>
							<td class="ps-0 text-uppercase">
								<span class="text-nowrap" {{ lista.presenca == 'Sim' ? 'data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="PRESENÇA CONFIRMADA"' : 'data-bs-toggle="tooltip" data-bs-placement="top"  data-bs-title="PRESENÇA AINDA NÃO CONFIRMADA"' }}>
									{{ lista.presenca == 'Sim' ? '<i class="fa-solid fa-shield-check fa-lg text-warning"></i>' : '<i class="fa-solid fa-shield fa-lg text-dark"></i>' }}
									{{ lista.nome }}
								</span>
							</td>
							<td class="ps-0 text-uppercase">{{ lista.email }}</td>
							<td class="ps-0">{{ lista.setor }}</td>
							<td class="ps-0">{{ lista.cidade }}, {{ lista.estado }}</td>
							<td class="text-end pe-0">
								<div>{{ lista.data | date("d-m-Y H:i") }}</div>
								<a href="{{ DOMAIN }}/etiqueta/{{ lista.codigo }}" target="_blank" class="badge bg-dark"><i class="fa-regular fa-arrow-up-right-from-square"></i> VER INSCRIÇÃO</a>
							</td>

						</tr>
					{% endfor %}
		        </tbody>
		    </table>
		</div>

	</session>

</div>

{% if agora >= datavisita %}
<div class="modal fade" id="sorteio" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-sm" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<span class="modal-title text-black">Digite a Quantidade de Sorteados</span>
			</div>
			<div class="modal-body">
				<form id="sorteioForm">
					<div class="form-group mt-2 mb-4">
						<input type="number" name="quantidade" class="form-control form-control-lg text-center" min="1" value="1" id="quantidade" required>
						<input type="hidden" name="id_visita" id="id_visita" value="{{ visita.visita_id }}">
					</div>
					<div id="timer" class="text-black my-4 text-center"></div>
					<button type="submit" class="btn btn-warning btn-lg w-100">REALIZAR SORTEIO</button>
				</form>
			</div>
		</div>
	</div>
</div>
<script src="{{ PATH }}/view/src/js/services/sorteio.js"></script>
{% endif %}

{% endblock %}