{% extends "layout/layoutMaster.twig" %}

{% block title %} Visitas {% endblock %}

{% block body %}

<div class="container py-5">
	
	<session>

		<div class="row mb-4">

			<div class="col-sm-12 col-md-6">
				<div><span>Lista de inscrições: <span class="text-warning fw-bold">{{ visita.title }}</span></span></div>
				<div class="d-flex justify-content-between flex-wrap">
					<span class="mt-3">
						Data da Visita: <span class="text-warning fw-bold">
							{% set meses = ["Jan", "Fev", "Mar", "Abr", "Mai", "Jun", "Jul", "Ago", "Set", "Out", "Nov", "Dez"] %}
							{% set mes_numero = visita.data_visita|date('m') - 1 %}
							{{ visita.data_visita|date('d') }} de {{ meses[mes_numero] }}. {{ visita.data_visita|date('Y') }} {{ visita.horario_visita }}
							{% set hoje = "now"|date("Y-m-d") %}
							{% set data_evento = visita.data_visita|date("Y-m-d") %}
							{% set diferenca = data_evento|date_modify("midnight")|date("U") - hoje|date("U") %}
							{% set dias_faltantes = diferenca / (60 * 60 * 24) %}
							{% if dias_faltantes >= 0 %}
							<div class="text-warning">
								Em {{ dias_faltantes }} dias {{ visita.data_visita|date('l')|dayTranslate }}
							</div>
							{% endif %}
						</span>
						<div>Fechamento das inscrições: <span class="text-warning fw-bold">{{ visita.data_close | date("d/m/Y") }}</span></div>
					</span>
					<span class="mt-3">Responsável: <div class="text-warning fw-bold">{{ visita.nome }}</div></span>
					<span class="mt-3 ms-3">Solicitante: <div class="text-warning fw-bold">{{ visita.solicitante }}</div></span>
				</div>
				<div class="my-3">{{ visita.descricao|replace({'<p>': ' '})|replace({'<br>': ' '})|striptags }}</div>

				{% set agora = "now"|date("Y-m-d") %}
				{% set datavisita = visita.data_visita|date("Y-m-d") %}

				{% if agora >= datavisita %}
					<div class="d-flex align-items-end flex-wrap mt-2 mb-4 mb-sm-0">
						{% if _session.sampel_user_id == 1 %}
						<button type="button" class="btn btn-warning px-5 mt-4 me-1 mt-1" data-bs-toggle="modal" data-bs-target="#sorteio"><i class="fa-light fa-trophy-star"></i> Realizar Sorteio</button>
						{% endif %}
						{% if sorteados %}
							<a href="{{ DOMAIN }}/visita/sorteados/{{ visita.visita_id }}" class="btn btn-light px-2 me-1 mt-1"><i class="fa-light fa-trophy-star"></i> Lista de Sorteados</a>
						{% else %}
							{% if _session.sampel_user_id != 1 %}
							<button type="button" class="btn btn-warning px-2 mt-4 me-1 mt-1" data-bs-toggle="modal" data-bs-target="#sorteio"><i class="fa-light fa-trophy-star"></i> Realizar Sorteio</button>
							{% endif %}
						{% endif %}
						<div class="btn {{ _get.presenca == 'Sim' ? 'btn-warning' : 'btn-light' }} me-1 mt-1"><a class="text-black" href="{{ DOMAIN }}/visita/lista/{{ visita.visita_id }}?presenca=Sim" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Confirmados"><i class="fa-solid fa-shield-check fa-lg {{ _get.presenca == 'Sim' ? 'text-dark' : 'text-warning' }}"></i></a></div>
						<div class="btn {{ _get.presenca == 'No' ? 'btn-warning' : 'btn-light' }} me-1 mt-1"><a class="text-black" href="{{ DOMAIN }}/visita/lista/{{ visita.visita_id }}?presenca=No" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Não confirmados"><i class="fa-solid fa-shield fa-lg text-dark"></i></a></div>
						
						<div class="btn {{ _get.feedback == 'Sim' ? 'btn-warning' : 'btn-light' }} me-1 mt-1"><a class="text-black" href="{{ DOMAIN }}/visita/lista/{{ visita.visita_id }}?feedback=Sim" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Com Feedback"><i class="fa-solid fa-message-smile fa-lg {{ _get.feedback == 'Sim' ? 'text-dark' : 'text-warning' }}"></i></a></div>
						<div class="btn {{ _get.feedback == 'No' ? 'btn-warning' : 'btn-light' }} me-1 mt-1"><a class="text-black" href="{{ DOMAIN }}/visita/lista/{{ visita.visita_id }}?feedback=No" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Sem Feedback"><i class="fa-solid fa-message-smile fa-lg text-dark"></i></a></div>
					</div>
				{% endif %}
				
			</div>

			<div class="col-sm-12 col-md-6">
				<div><span class="text-warning">Estatísticas da Visita:</span></div>
				<div class="badge rounded-pill {{ _get.setor == '' ? 'bg-warning' : 'bg-light' }} mb-1 me-1">
					<a class="text-black" href="{{ DOMAIN }}/visita/lista/{{ visita.visita_id }}">Total <span class="px-1 bg-black rounded-pill text-white">{{ total.total }}</span></a>
				</div>
				{% for grupo in grupos %}
					<div class="badge rounded-pill {{ _get.setor == grupo.setor ? 'bg-warning' : 'bg-light' }} mb-1 me-1">
						<a class="text-black" href="{{ DOMAIN }}/visita/lista/{{ visita.visita_id }}?setor={{ grupo.setor }}">{{ grupo.setor }} <span class="px-1 bg-black rounded-pill text-white">{{ grupo.total }}</span></a>
					</div>
				{% endfor %}
				<div class="mt-3"><span class="text-warning">Gerenciamento da Visita:</span></div>
				<div class="d-flex justify-content-between flex-wrap">
					{% if _session.sampel_user_id == visita.id_empresa or _session.sampel_user_id == 1 or _session.sampel_user_id == 4 %}
					<button type="button" data-bs-toggle="modal" data-bs-target="#editar_visita" class="btn btn-success text-black btn-sm rounded-pill me-2 mb-2"><i class="fa-solid fa-pen-to-square"></i> Editar Evento</button>
					{% endif %}
					<button type="button" data-bs-toggle="modal" data-bs-target="#editarEquip" class="btn btn-warning btn-sm rounded-pill me-2 mb-2">Ver Equipe <span class="px-1 bg-black rounded-pill text-white">{{ equipevisita|length }}</span></button>
					
					<a href="{{ DOMAIN }}/visita/inscricao/{{ visita.visita_id }}" class="btn btn-dark btn-sm rounded-pill me-2 mb-2"><i class="fa-solid fa-user-plus"></i> Inscreva-se</a>

					<div class="btn-group dropstart d-block">
						<a href="javascript:void(0)" class="btn btn-info btn-sm rounded-pill dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
							<i class="fa-solid fa-images"></i> Fotos
						</a>
						<ul class="dropdown-menu py-1">
							<li><a href="{{ DOMAIN }}/visita/fotos/{{ visita.visita_id }}" class="dropdown-item text-black border-bottom"><i class="fa-solid fa-images"></i> Ver Fotos</a></li>
							<li><a href="{{ DOMAIN }}/visita/galeria/{{ visita.visita_id }}" class="dropdown-item text-black"><i class="fa-solid fa-upload"></i> Upload de Fotos</a></li>
						</ul>
					</div>			
					
					<div class="btn-group dropstart d-block">
						<a href="javascript:void(0)" class="btn btn-light btn-sm rounded-pill dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
							Outros ações
						</a>
						<ul class="dropdown-menu py-1">
							<li><a class="dropdown-item text-black border-bottom" href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#shared_{{ visita.visita_id }}"><i class="fa-sharp fa-light fa-share-nodes"></i> Compartilhar Lista</a></li>
							<li><a class="dropdown-item text-black border-bottom" href="{{ DOMAIN }}/visita/feedback/{{ visita.visita_id }}"><i class="fa-sharp fa-light fa-share-nodes"></i> Link de Feedback</a></li>
							<li><a class="dropdown-item text-black border-bottom" href="{{ DOMAIN }}/visita/recepcao/{{ visita.visita_id }}"><i class="fa-solid fa-shield-check"></i> Confirmar Presença</a></li>
							{% if visita.qrcode_inscricao != '' %}
							<li><a class="dropdown-item text-black border-bottom" target="_blank" href="{{ DOMAIN }}/visita/qrcode/{{ visita.visita_id }}"><i class="fa-solid fa-qrcode"></i> Ver QRCode</a></li>
							{% else %}
							<li><a class="dropdown-item text-black border-bottom" href="javascript:void(0);" onclick="qrcodeGenVisitas('{{ visita.visita_id }}')"><i class="fa-solid fa-qrcode"></i> Ver QRCode</a></li>
							{% endif %}
							{% if _session.sampel_user_id == visita.id_empresa or _session.sampel_user_id == 1 or _session.sampel_user_id == 4 and visita.status_visita != 'Concluido' %}
								{% if visita.status_visita != 'Concluido' and visita.status_visita != 'Recudado' and visita.status_visita != 'Cancelado' %}
									<li><a class="dropdown-item text-danger visita-status" href="javascript:void(0);" data-visita="{{ visita.visita_id }}" data-action="reprovar"><i class="fa-solid fa-trash-can-xmark"></i> Cancelar Evento</a></li>
								{% endif %}
							{% endif %}
						</ul>
					</div>

				</div>

				<div class="modal fade" id="shared_{{ visita.visita_id }}" tabindex="-1" aria-labelledby="shared_{{ visita.visita_id }}" aria-hidden="true">
					<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
						<div class="modal-content text-black">
							<div class="modal-body p-0">
								<div class="row mx-0">
									<div class="col-12 col-lg-5 bg-primary d-flex flex-column justify-content-center py-5 px-4">
										<h4 class="h3 text-white text-uppercase mb-3">
											<strong>Compartilhar Lista de Inscritos</strong>
										</h4>
										<p class="text-white mb-0">Selecione as opções ao lado para compartilhar essa lista nas
											redes sociais</p>
									</div>
									<div class="col-12 col-lg-7 pt-4 pb-5 pt-lg-5 mt-lg-3">
										<button type="button" class="btn-close position-absolute top-0 end-0 pt-4 px-3" data-bs-dismiss="modal" aria-label="Close"></button>
										<div class="d-flex flex-column">
											<div class="border-bottom">
												<button class="text-start btn btn-white py-3 w-100" onclick="copy('{{ DOMAIN }}/visita/lista/{{ visita.visita_id }}/share')">
													<i class="fa-solid fa-link"></i> <span class="ms-2">Copiar link</span>
												</button>
											</div>
											<div class="border-bottom">
												<a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{ DOMAIN }}/visita/lista/{{ visita.visita_id }}/share" class="text-start btn btn-white py-3 w-100">
													<i class="fa-brands fa-facebook-f"></i> <span class="ms-2">Compartilhar no Facebook</span>
												</a>
											</div>
											<div class="border-bottom">
												<a target="_blank" href="https://twitter.com/intent/tweet?url={{ DOMAIN }}/visita/lista/{{ visita.visita_id }}/share&amp;text=Confira%20esse%20agendamento%20em" class="text-start btn btn-white py-3 w-100">
													<i class="fa-brands fa-twitter"></i> <span class="ms-2">Compartilhar no Twitter</span>
												</a>
											</div>
											<div>
												<a target="_blank" href="https://api.whatsapp.com/send/?text={{ DOMAIN }}/visita/lista/{{ visita.visita_id }}/share" class="text-start btn btn-white py-3 w-100">
													<svg width="18" fill="#000" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 40.01"><path d="M21.171,40.01H18.983c-.568-.064-1.137-.114-1.7-.193A19.541,19.541,0,0,1,9.329,36.9a.724.724,0,0,0-.687-.089c-1.332.441-2.67.864-4.006,1.292-1.084.347-2.168.691-3.308,1.055.051-.167.082-.275.118-.382.726-2.168,1.441-4.341,2.191-6.5a1.014,1.014,0,0,0-.146-1.029,19.359,19.359,0,0,1-3.4-9.47A19.108,19.108,0,0,1,2.819,9.808,19.568,19.568,0,0,1,19.16.033,18.753,18.753,0,0,1,30.192,2.814a19.706,19.706,0,0,1,9.5,13.749c.14.75.209,1.513.312,2.271v2.344c-.032.281-.064.562-.1.843a19.771,19.771,0,0,1-5,11.294A19.617,19.617,0,0,1,23.445,39.7c-.753.133-1.515.209-2.274.311M26.52,31.3l.026-.1a6.528,6.528,0,0,0,.7-.045,5.681,5.681,0,0,0,.949-.218c2.818-.99,3.779-2.342,3.856-4.963a.811.811,0,0,0-.494-.843c-1.5-.715-2.994-1.45-4.5-2.152a1.179,1.179,0,0,0-1.688.464c-.4.531-.785,1.07-1.193,1.593a1.358,1.358,0,0,1-1.936.493,15.818,15.818,0,0,1-7.665-6.782.839.839,0,0,1,.107-1.173c.391-.47.806-.92,1.207-1.382a1.549,1.549,0,0,0,.287-1.824c-.683-1.5-1.29-3.038-1.955-4.548A.97.97,0,0,0,13.7,9.3a3.316,3.316,0,0,0-3.021.4A6.209,6.209,0,0,0,8.5,15.858a11.692,11.692,0,0,0,2.189,4.824,31.069,31.069,0,0,0,5.276,5.936,20.845,20.845,0,0,0,7.685,4.019c.94.283,1.915.448,2.874.667" transform="translate(0 0)"></path></svg>
													<span class="ms-2">Compartilhar no WhatsApp</span>
												</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>

		<hr class="mb-0">

		<div class="table-responsive">
			<table id="tabela_dinamica" class="table table-hover align-middle text-white pt-1 mb-4 table-sm" style="width:100%">
		        <thead>
		            <tr>
						<th class="d-none">#</th>
						<th class="no-mobile">Nome</th>
						<th class="no-mobile">Empresa</th>
						<th class="no-mobile">Telefone</th>
						<th class="no-mobile">Setor</th>
						<th class="no-mobile">Endereço</th>
						<th class="no-mobile">Inscrição</th>
						<th class="no-mobile">Editar</th>
					</tr>
		        </thead>
		        <tbody>
		        	{% for lista in listas %}
						<tr class="inscricao-item" data-presenca="{{ lista.presenca }}" data-certificado="{{ lista.certificado }}" data-feedback="{{ lista.feedback != '' ? 'Sim' : 'No' }}">
							<td class="d-none">{{ lista.visita_id }}</td>
							<td class="ps-0 text-uppercase">
								<div class="ms-2">
									{{ lista.nome }}
									<div class="d-flex justify-content-start">
										<div {{ lista.presenca == 'Sim' ? 'class="ms-1 text-success" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="PRESENÇA CONFIRMADA"' : 'class="ms-1 text-danger" data-bs-toggle="tooltip" data-bs-placement="top"  data-bs-title="PRESENÇA AINDA NÃO CONFIRMADA"' }}><i class="fa-solid fa-shield-check fa-lg"></i></div>
										<div {{ lista.feedback != '' ? 'class="ms-1 text-success" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="FEEDBACK CONCLUÍDO"' : 'class="ms-1 text-danger" data-bs-toggle="tooltip" data-bs-placement="top"  data-bs-title="SEM FEEDBACK"' }}><i class="fa-solid fa-message-smile fa-lg"></i></div>
										<div {{ lista.certificado == 'Sim' ? 'class="ms-1 text-success" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="CERTIFICADO EMITIDO"' : 'class="ms-1 text-danger" data-bs-toggle="tooltip" data-bs-placement="top"  data-bs-title="SEM CERTIFICADO"' }}><i class="fa-solid fa-file-certificate fa-lg"></i></div>
									</div>
									<div class="d-block d-sm-none p-0">
										<div class="col-md-6 col-sm-12">
											<div class="text-lowercase">{{ lista.email }}</div>
											{% if lista.cidade != '' %}<div>{{ lista.cidade }}, {{ lista.estado }}</div>{% endif %}
											<div>{{ lista.empresa }}</div>
										</div>
										<div class="col-md-6 col-sm-12">
											<a href="{{ DOMAIN }}/visita/inscricao/{{ lista.visita_id }}/{{ lista.id }}?action=success" target="_blank" class="badge bg-warning text-black mt-2"><i class="fa-regular fa-arrow-up-right-from-square"></i> VER INSCRIÇÃO</a>
										</div>
									</div>
								</div>
							</td>
							<td class="ps-0 no-mobile text-uppercase">{{ lista.empresa }}</td>
							<td class="ps-0 no-mobile text-uppercase text-nowrap">{{ lista.telefone }}</td>
							<td class="ps-0 no-mobile">{{ lista.setor }}</td>
							<td class="ps-0 text-nowrap no-mobile">{{ lista.cidade }}, {{ lista.estado }}</td>
							<td class="no-mobile">
								<a href="{{ DOMAIN }}/visita/inscricao/{{ lista.visita_id }}/{{ lista.id }}?action=success" target="_blank" class="badge bg-warning text-black"><i class="fa-regular fa-arrow-up-right-from-square"></i> VER INSCRIÇÃO</a>
								<div class="text-nowarp">{{ lista.data|date("d/m/Y H:i") }}</div>
							</td>
							<td class="no-mobile">
								<a href="javascript:void(0)" data-remote="{{ DOMAIN }}/visita/inscricao/editar/{{ lista.visita_id }}/{{ lista.id }}" data-bs-remote="modal" data-bs-toggle="modal" data-bs-target="#editarInscricao" class="badge bg-warning text-black">
									<i class="fa-regular fa-pen-to-square fs-6"></i>
									<div class="mt-1">EDITAR</div>
								</a>
							</td>
						</tr>
					{% endfor %}
		        </tbody>
		    </table>
		</div>

	</session>

</div>

{% if agora >= datavisita %}
<div class="modal fade" id="sorteio" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-sm" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<span class="modal-title text-black">Digite a Quantidade de Sorteados</span>
			</div>
			<div class="modal-body">
				<form id="sorteioForm">

					<div class="form-group mt-2 mb-4">
						<input type="number" name="quantidade" class="form-control form-control-lg text-center" min="1" value="1" id="quantidade" required>
						<input type="hidden" name="id_visita" id="id_visita" value="{{ visita.visita_id }}">
					</div>

					<a class="btn btn-sm btn-primary rounded-0 w-100" data-bs-toggle="collapse" href="#repescagem" role="button" aria-expanded="false" aria-controls="repescagem">Repescagem?</a>
					<div class="collapse" id="repescagem">
						<input type="number" name="repescagem" id="repescagem_input" class="form-control form-control-lg text-center" min="0" value="0">
					</div>

					<div id="timer" class="text-black my-4 text-center"></div>
					<button type="submit" class="btn btn-warning btn-lg w-100">REALIZAR SORTEIO</button>
				</form>
			</div>
		</div>
	</div>
</div>
<script src="{{ PATH }}/view/src/js/services/sorteio.js"></script>
{% endif %}

<div class="modal fade" id="editarEquip" tabindex="-1" role="dialog" aria-labelledby="editarEquipLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable" role="document">
		
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title fs-5 text-black"><b>Lista de Equipes</b></h1>
				{% if _session.sampel_user_gerente_equipe == 'S' and visita.status_visita != 'Concluido' %}
					{% if equipevisita|length < 4 %}
					<button type="button" class="btn btn-secondary"><i class="fa-solid fa-paper-plane"></i> MÍNIMO DE 4 MEMBROS PARA ENVIO</button>
					{% elseif visita.email_equipe == 'N' %}
					<button type="button" data-visita="{{ visita.visita_id }}" class="send_email_equipe btn btn-warning"><i class="fa-solid fa-paper-plane"></i> ENVIAR EMAIL PARA TODOS</button>
					{% else %}
					<button type="button" class="btn btn-secondary"><i class="fa-solid fa-shield-check"></i> EMAIL DE EQUIPE ENVIADO</button>
					{% endif %}
				{% endif %}
			</div>
			<div class="modal-body">
				<div class="form-load"><i class="fa-solid fa-spinner fa-spin-pulse"></i></div>
			
				{% if _session.sampel_user_gerente_equipe == 'S' and visita.status_visita != 'Concluido' %}
				<div class="collapse mb-2" id="addMember">
					<form action="javascript:void(0);" method="POST" id="form_editar_equipe">
						
						<div class="repeater">

							<div data-repeater-list="equipe">
      							<div data-repeater-item>
									<div class="d-flex justify-content-between align-items-center">
										<div class="flex-fill">
											<div class="mb-2">
												<select class="form-control" name="editar_equipe" required>
													<option value="">Selecione um Membro</option>
													{% for todasequipe in todasequipes %}
														{% if (todasequipe.id not in equipeselecionada) %}<option class="text-capitalize" value="{{ todasequipe.id }}" >{{ todasequipe.nome }}</option>{% endif %}
													{% endfor %}
												</select>
											</div>
										</div>
										<div class="mx-2 flex-fill">
											<div class="mb-2">
												<input class="form-control" name="funcao" placeholder="Função para o Evento" required>
											</div>
										</div>
										<div>
											<div class="mb-2">
												<button class="btn btn-danger btn-sm" data-repeater-delete type="button">X</button>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="d-flex justify-content-between align-items-center my-3">
								<button data-repeater-create type="button" class="btn btn-warning text-black"><i class="fa-solid fa-plus"></i> Adicionar</button>
								<input type="hidden" name="id_visita" value="{{ visita.visita_id }}">
								<button type="submit" class="btn btn-success text-black"><i class="fa-solid fa-floppy-disk"></i> Salvar lista de Equipe</button>
							</div>
						</div>


					</form>
				</div>
				<script src="{{ PATH }}/view/painel/src/vendors/js/repeater/jquery.repeater.min.js"></script>
				<script>$('.repeater').repeater();</script>
				{% endif %}

				<table class="table table-sm">
					<tbody class="lista_equipe">
						{% if equipevisita|length == 0 %}
							<tr>
								<td class="text-uppercase">Nenhuma equipe até o momento.</td>
							</tr>
						{% endif %}
						{% for equipe in equipevisita %}
						<tr class="{{ visita.id }}-{{ equipe.id }}">
							<td class="text-uppercase" style="line-height:normal">
								{{ equipe.nome }}
								<div class="text-primary"><small>{{ equipe.funcao }}</small></div>
							</td>
							<td class="text-end" style="line-height:normal">
								{{ equipe.setor }}
								<div class="text-secondary"><small>{{ equipe.data_equipe | date("d/m/Y H:i") }}</small></div>
							</td>
							<td class="text-end" width="25">
								{% if _session.sampel_user_gerente_equipe == 'S' and visita.status_visita != 'Concluido' %}
								<a href="javascript:void(0);" data-visita="{{ visita.id }}" data-membro="{{ equipe.id }}" class="text-danger remover_equipe" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Remover">
									<i class="fa-solid fa-octagon-xmark fa-lg"></i>
								</a>
								{% endif %}
							</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>

			</div>
			{% if _session.sampel_user_gerente_equipe == 'S' and visita.status_visita != 'Concluido' %}
			<div class="modal-footer justify-content-between w-100 d-grid gap-2 d-md-flex">
				<button type="button" class="btn btn-primary"  data-bs-toggle="collapse" href="#addMember"><i class="fa-solid fa-plus"></i> ADICIONAR MEMBROS</button>
			</div>
			{% endif %}
		</div>

	</div>
</div>

{% if _session.sampel_user_id == visita.id_empresa or _session.sampel_user_id == 1 or _session.sampel_user_id == 4 %}
<div class="modal fade" id="editar_visita" tabindex="-1" aria-labelledby="editar_visita" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
		<div class="modal-content">
			<div class="modal-body">
				<link rel="stylesheet" href="{{ DOMAIN }}/view/painel/src/vendors/froala/css/froala_editor.min.css">
				{# <link rel="stylesheet" href="{{ DOMAIN }}/view/painel/src/vendors/froala/css/themes/dark.css"> #}
				<script src="{{ DOMAIN }}/view/painel/src/vendors/froala/js/froala_editor.pkgd.min.js"></script>
				<script src='{{ DOMAIN }}/view/painel/src/vendors/froala/js/languages/pt_br.js'></script>
				
				<form action="javascript:void(0)" id="editar_visita_form" method="POST">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">

                                <div class="col-md-12 col-sm-12 col-12">
                                    <div class="position-relative editar_visita">

                                        <div class="form-load"><i class="fa-solid fa-spinner fa-spin-pulse"></i></div>

                                        <div class="row">
                                            <div class="mb-2 col-md-12 col-sm-12 col-12">
                                                <label for="title" class="form-label">Qual o motivo da visita? </label>
												<input type="text" placeholder="MOTIVO DA VISITA" class="form-control" name="title" value="{{ visita.title }}">
                                            </div>
                                        </div>

										<div class="row">
                                            <div class="mb-2 col-md-6 col-sm-12 col-12">
                                                <label for="solicitante" class="form-label">Nome do Solicitante </label>
                                                <input type="text" class="form-control" name="solicitante" id="solicitante" value="{{ visita.solicitante }}">
                                            </div>
											<div class="mb-2 col-md-6 col-sm-12 col-12">
                                                <label for="solicitante" class="form-label">Email do Solicitante </label>
                                                <input type="text" class="form-control" name="solicitante_email" id="solicitante_email" value="{{ visita.solicitante_email }}">
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="mb-2 col-md-6 col-sm-12 col-12">
                                                <label for="qtd_visitas" class="form-label">Selecione seu Estado </label>
                                                <select class="form-control" name="estado" id="estado">
                                                    <option>Selecione</option>
                                                    {% for estado in estados %}
                                                        <option value="{{ estado.sigla }}" {{ visita.estado == estado.sigla ? 'selected' }}>{{ estado.estado }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                            <div class="mb-2 col-md-6 col-sm-12 col-12">
                                                <label for="qtd_visitas" class="form-label">Quantidade máxima</label>
                                                <input type="number" name="qtd_visitas" class="form-control" id="qtd_visitas" value="{{ visita.qtd_visitas }}">
                                            </div>
                                        </div>

                                        <div class="row digitar_qtd">
                                            <div class="mb-2 col-md-4 col-sm-12 col-12">
                                                <label for="data_visita" class="form-label">Data da Visita </label>
                                                <input type="date" name="data_visita" class="form-control" id="data_visita" value="{{ visita.data_visita }}">
                                            </div>
                                            <div class="mb-2 col-md-4 col-sm-12 col-12">
                                                <label for="horario_visita" class="form-label">Horário da Visita </label>
                                                <input type="time" name="horario_visita" class="form-control" id="horario_visita" value="{{ visita.horario_visita }}">
                                            </div>
                                            <div class="mb-2 col-md-4 col-sm-12 col-12">
                                                <label for="data_close" class="form-label">Fechamento das Inscrições</label>
                                                <input type="date" name="data_close" class="form-control" id="data_close" value="{{ visita.data_close }}">
                                            </div>
                                        </div>

                                        <div class="mb-2">
                                            <label for="descricao" class="form-label">Descreva por completo os objetivos para esse agendamento de visita. </label>
                                            <textarea id="descricao" class="form-control" name="descricao" rows="5">{{ visita.descricao }}</textarea>
                                        </div>

                                        <div class="d-flex justify-content-between align-items-center">
                                            {% if visita.visita_id != '' %}
                                            <input type="hidden" name="id" value="{{ visita.visita_id }}">
                                            {% endif %}
                                            <button type="submit" class="rounded-pill btn btn-lg btn-primary"><i class="fa-solid fa-floppy-disk"></i> SALVAR EDIÇÃO</button>
                                            <div class="form-check">
												<input class="form-check-input" name="notification_sand" type="checkbox" value="yes" id="notification_sand">
												<label class="form-check-label" for="notification_sand">Enviar Email de notificação</label>
											</div>
                                        </div>

                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </form>

			</div>
		</div>
	</div>
</div>
{% endif %}

<div class="modal fade" id="editarInscricao" tabindex="-1" role="dialog" aria-labelledby="editarInscricaoLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-body"></div>
		</div>
	</div>
</div>


<script src="{{ PATH }}/view/src/js/services/visitas.js"></script>

{% endblock %}