{% extends "layout/layoutMaster.twig" %}

{% block title %} Visitas {% endblock %}

{% block body %}

<div class="container py-5">
	
	<session>

		<div class="row mb-4">

			<div class="col-sm-12 col-md-8">
				<div><h5>Lista de inscrições: <span class="text-warning fw-bold">{{ visita.title }}</span></h5></div>
				<div class="d-flex justify-content-between">
					<h5>Data da Visita: <span class="text-warning fw-bold">{{ visita.data_visita | date("d/m/Y") }} as {{ visita.horario_visita }}</span></h5>
					<h5>Responsavel: <span class="text-warning fw-bold">{{ visita.nome }}</span></h5>
				</div>
				<div class="limit-3">{{ visita.descricao }}</div>
				{% set agora = "now"|date("Y-m-d") %}
				{% set datavisita = visita.data_visita|date("Y-m-d") %}

				{% if agora >= datavisita %}
					<div class="d-flex align-items-end flex-wrap mt-4 mb-4 mb-sm-0">
						{% if sorteados %}
							<a href="{{ DOMAIN }}/visita/sorteados/{{ visita.visita_id }}" class="btn btn-light btn-lg px-5 me-1"><i class="fa-light fa-trophy-star"></i> Lista de Sorteados</a>
						{% else %}
							<button type="button" class="btn btn-warning btn-lg px-5 mt-4 me-1" data-bs-toggle="modal" data-bs-target="#sorteio"><i class="fa-light fa-trophy-star"></i> Realizar Sorteio</button>
						{% endif %}
						<div class="btn {{ _get.presenca == 'Sim' ? 'btn-warning' : 'btn-light' }} my-1 me-1"><a class="text-black" href="{{ DOMAIN }}/visita/lista/{{ visita.visita_id }}?presenca=Sim"><i class="fa-solid fa-shield-check fa-lg {{ _get.presenca == 'Sim' ? 'text-dark' : 'text-warning' }}"></i> Confirmados</a></div>
						<div class="btn {{ _get.presenca == 'No' ? 'btn-warning' : 'btn-light' }} my-1 me-1"><a class="text-black" href="{{ DOMAIN }}/visita/lista/{{ visita.visita_id }}?presenca=No"><i class="fa-solid fa-shield fa-lg text-dark"></i> Não confirmados</a></div>
					</div>
				{% endif %}
			</div>

			<div class="col-sm-12 col-md-4">
				<div><h5 class="text-warning">Estatísticas da Visita:</h5></div>
				<div class="badge rounded-pill {{ _get.setor == '' ? 'bg-warning' : 'bg-light' }} mb-1 me-1">
					<a class="text-black" href="{{ DOMAIN }}/visita/lista/{{ visita.visita_id }}">Total <span class="px-1 bg-black rounded-pill text-white">{{ total.total }}</span></a>
				</div>
				{% for grupo in grupos %}
					<div class="badge rounded-pill {{ _get.setor == grupo.setor ? 'bg-warning' : 'bg-light' }} mb-1 me-1">
						<a class="text-black" href="{{ DOMAIN }}/visita/lista/{{ visita.visita_id }}?setor={{ grupo.setor }}">{{ grupo.setor }} <span class="px-1 bg-black rounded-pill text-white">{{ grupo.total }}</span></a>
					</div>
				{% endfor %}
				<div><h5 class="text-warning">Gerenciamento de Equipe:</h5></div>
				<div class="d-flex jus">
					<button type="button" data-bs-toggle="modal" data-bs-target="#verEquip" class="btn btn-warning btn-sm rounded-pill me-2">Ver Equipe <span class="px-1 bg-black rounded-pill text-white">{{ equipevisita|length }}</span></button>
					<button type="button" data-bs-toggle="modal" data-bs-target="#editarEquip"  class="btn btn-warning btn-sm rounded-pill"><i class="fa-solid fa-pen-to-square"></i> Editar Equipe</button>
				</div>
			</div>

		</div>

		<hr>

		<div class="table-responsive">
			<table id="tabela_dinamica" class="table table-hover align-middle text-white pt-4 mb-4" style="width:100%">
		        <thead>
		            <tr>
						<th class="d-none">#</th>
						<th>Nome</th>
						<th>Email</th>
						<th>Setor</th>
						<th>Endereço</th>
						<th class="text-end">Crachá</th>
					</tr>
		        </thead>
		        <tbody>
		        	{% for lista in listas %}
						<tr>
							<td class="d-none">{{ lista.visita_id }}</td>
							<td class="ps-0 text-uppercase">
								<span class="text-nowrap" {{ lista.presenca == 'Sim' ? 'data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="PRESENÇA CONFIRMADA"' : 'data-bs-toggle="tooltip" data-bs-placement="top"  data-bs-title="PRESENÇA AINDA NÃO CONFIRMADA"' }}>
									{{ lista.presenca == 'Sim' ? '<i class="fa-solid fa-shield-check fa-lg text-warning"></i>' : '<i class="fa-solid fa-shield fa-lg text-dark"></i>' }}
									{{ lista.nome }}
								</span>
							</td>
							<td class="ps-0 text-uppercase">{{ lista.email }}</td>
							<td class="ps-0">{{ lista.setor }}</td>
							<td class="ps-0">{{ lista.cidade }}, {{ lista.estado }}</td>
							<td class="text-end pe-0">
								<div>{{ lista.data | date("d-m-Y H:i") }}</div>
								<a href="{{ DOMAIN }}/etiqueta/{{ lista.codigo }}" target="_blank" class="badge bg-dark"><i class="fa-regular fa-arrow-up-right-from-square"></i> VER INSCRIÇÃO</a>
							</td>

						</tr>
					{% endfor %}
		        </tbody>
		    </table>
		</div>

	</session>

</div>

{% if agora >= datavisita %}
<div class="modal fade" id="sorteio" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-sm" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<span class="modal-title text-black">Digite a Quantidade de Sorteados</span>
			</div>
			<div class="modal-body">
				<form id="sorteioForm">
					<div class="form-group mt-2 mb-4">
						<input type="number" name="quantidade" class="form-control form-control-lg text-center" min="1" value="1" id="quantidade" required>
						<input type="hidden" name="id_visita" id="id_visita" value="{{ visita.visita_id }}">
					</div>
					<div id="timer" class="text-black my-4 text-center"></div>
					<button type="submit" class="btn btn-warning btn-lg w-100">REALIZAR SORTEIO</button>
				</form>
			</div>
		</div>
	</div>
</div>
<script src="{{ PATH }}/view/src/js/services/sorteio.js"></script>
{% endif %}

<div class="modal fade" id="verEquip" tabindex="-1" role="dialog" aria-labelledby="verEquipLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-body">
				<div><label class="text-black"><b>Lista de membros da equipe dessa Visita</b></label></div>
				<table class="table table-striped fa-sm">
					<tbody>
						{% for equipe in equipevisita %}
						<tr>
							<td class="text-uppercase">{{ equipe.nome }}</td>
							<td class="text-end">{{ equipe.email }}</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="editarEquip" tabindex="-1" role="dialog" aria-labelledby="editarEquipLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-body">
				<div class="form-load"><i class="fa-solid fa-spinner fa-spin-pulse"></i></div>
				<form action="javascript:void(0);" method="POST" id="form_editar_equipe">
					<div class="mb-2">
						<div><label class="text-black"><b>Selecione os membros da equipe</b></label></div>
						<select class="form-control select2-tag" name="editar_equipe[]" multiple="multiple">
							{% for todasequipe in todasequipes %}
								<option value="{{ todasequipe.id }}" {{ (todasequipe.id in equipeselecionada) ? 'selected' : '' }}>{{ todasequipe.nome }}</option>
							{% endfor %}
						</select>
					</div>
					<div>
						<input type="hidden" name="id_visita" value="{{ visita.visita_id }}">
						<button type="submit" class="btn btn-warning">SALVAR MEMBROS DA EQUIPE</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<script src="{{ PATH }}/view/src/js/services/visitas.js"></script>

{% endblock %}