{% extends "layout/layoutMaster.twig" %}

{% block title %} Visitas {% endblock %}

{% block body %}

<div class="container py-5">
	
	<session>

		<div class="row mb-4">
			<div class="col-sm-12 col-md-8">
				<div><h5>Lista de inscrições: <span class="text-warning">{{ visita.title }}</span></h5></div>
				<div><h5>Data da Visita: <span class="text-warning">{{ visita.data_visita | date("d-m-Y") }} as {{ visita.horario_visita }}</span></h5></div>
				<div class="limit-3">{{ visita.descricao }}</div>
			</div>
	
		</div>

		<hr>

		<div class="table-responsive">
			<table id="tabela_dinamica" class="table table-hover align-middle text-white pt-4 mb-4" style="width:100%">
		        <thead>
		            <tr>
						<th class="d-none">#</th>
						<th>Nome</th>
						<th>Email</th>
						<th>Setor</th>
						<th>Endereço</th>
						<th class="text-end">Crachá</th>
					</tr>
		        </thead>
		        <tbody>
		        	{% for lista in listas %}
						<tr>
							<td class="d-none">{{ lista.visita_id }}</td>
							<td class="ps-0 text-uppercase">{{ lista.nome }}</td>
							<td class="ps-0 text-uppercase">{{ lista.email }}</td>
							<td class="ps-0">{{ lista.setor }}</td>
							<td class="ps-0">{{ lista.cidade }}, {{ lista.estado }}</td>
							<td class="text-end pe-0">
								<div>{{ lista.data | date("d-m-Y H:i") }}</div>
								<a href="{{ DOMAIN }}/etiqueta/{{ lista.codigo }}" target="_blank" class="badge bg-dark"><i class="fa-regular fa-arrow-up-right-from-square"></i> VER INSCRIÇÃO</a>
							</td>

						</tr>
					{% endfor %}
		        </tbody>
		    </table>
		</div>

	</session>

</div>

{% endblock %}