{% extends "layout/layoutMaster.twig" %}

{% block title %} Palestra - Lista de inscritos {% endblock %}

{% block body %}

<div class="container py-5">
	
	<session>

		<div class="row mb-4">

			<div class="col-sm-12 col-md-7">			
				<div><span>Lista de inscrições: <span class="text-warning fw-bold">{{ palestra.title }}</span></span></div>
				<div class="">
					<div class="mb-4">Palestrante: <span class="text-warning fw-bold">{{ palestra.palestrante_nome }}</span></div>

					<div>Data de Início: <span class="text-warning fw-bold">{{ palestra.data_palestra | date("d/m/Y H:i") }}</span></div>
					<div>Data de Término: <span class="text-warning fw-bold">{{ palestra.data_fim | date("d/m/Y H:i") }}</span></div>
				</div>

				{% set agora = "now"|date("Y-m-d") %}
				{% set datapalestra = palestra.data_palestra|date("Y-m-d") %}

				{% if agora >= datapalestra %}
					<div class="d-flex align-items-end flex-wrap mt-2 mb-4 mb-sm-0">
						{% if sorteados %}
							<a href="{{ DOMAIN }}/palestras/sorteados/{{ palestra.id}}" class="btn btn-light px-5 mt-4 me-1"><i class="fa-light fa-trophy-star"></i> Lista de Sorteados</a>
						{% else %}
							<button type="button" class="btn btn-warning px-5 mt-4 me-1" data-bs-toggle="modal" data-bs-target="#sorteio"><i class="fa-light fa-trophy-star"></i> Realizar Sorteio</button>
						{% endif %}
						<div class="btn {{ _get.presenca == 'Sim' ? 'btn-warning' : 'btn-light' }} me-1 mt-1"><a class="text-black" href="{{ DOMAIN }}/palestras/inscricao/lista/{{ palestra.id }}?presenca=Sim"><i class="fa-solid fa-shield-check fa-lg {{ _get.presenca == 'Sim' ? 'text-dark' : 'text-warning' }}"></i> Confirmados</a></div>
						<div class="btn {{ _get.presenca == 'No' ? 'btn-warning' : 'btn-light' }} me-1 mt-1"><a class="text-black" href="{{ DOMAIN }}/palestras/inscricao/lista/{{ palestra.id }}?presenca=No"><i class="fa-solid fa-shield fa-lg text-dark"></i> Não confirmados</a></div>
					</div>
				{% endif %}
			</div>

			<div class="col-sm-12 col-md-5">
				<div><span class="text-warning">Estatísticas da Palestra:</span></div>
				<div class="badge rounded-pill {{ _get.setor == '' ? 'bg-warning' : 'bg-light' }} mb-1 me-1">
					<a class="text-black" href="{{ DOMAIN }}/palestras/inscricao/lista/{{ palestra.id }}">Total <span class="px-1 bg-black rounded-pill text-white">{{ total.total }}</span></a>
				</div>
				{% for grupo in grupos %}
					<div class="badge rounded-pill {{ _get.setor == grupo.setor ? 'bg-warning' : 'bg-light' }} mb-1 me-1">
						<a class="text-black" href="{{ DOMAIN }}/palestras/inscricao/lista/{{ palestra.id }}?setor={{ grupo.setor }}">{{ grupo.setor }} <span class="px-1 bg-black rounded-pill text-white">{{ grupo.total }}</span></a>
					</div>
				{% endfor %}
			</div>

		</div>

		<hr>

		<div class="table-responsive">
			<table id="tabela_dinamica" class="table table-hover align-middle text-white pt-4 mb-4 table-sm" style="width:100%">
		        <thead>
		            <tr>
						<th class="d-none">#</th>
						<th>Nome</th>
						<th class="no-mobile">Empresa</th>
						<th class="no-mobile">Telefone</th>
						<th class="no-mobile">Setor</th>
						<th>Endereço</th>
						<th class="text-end">Inscrição</th>
					</tr>
		        </thead>
		        <tbody>
		        	{% for lista in listas %}
						<tr>
							<td class="d-none">{{ lista.visita_id }}</td>
							<td class="ps-0 text-uppercase">
								<span class="d-flex justify-content-start text-nowrap" {{ lista.presenca == 'Sim' ? 'data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="PRESENÇA CONFIRMADA"' : 'data-bs-toggle="tooltip" data-bs-placement="top"  data-bs-title="PRESENÇA AINDA NÃO CONFIRMADA"' }}>
									
									<div>{{ lista.presenca == 'Sim' ? '<i class="fa-solid fa-shield-check fa-lg text-warning"></i>' : '<i class="fa-solid fa-shield fa-lg text-dark"></i>' }}</div>
									<div class="ms-2">
										{{ lista.nome }}
										<div class="text-lowercase">{{ lista.email }}</div>
									</div>
								</span>
							</td>
							<td class="ps-0 no-mobile text-uppercase">{{ lista.empresa }}</td>
							<td class="ps-0 no-mobile text-uppercase text-nowrap">{{ lista.telefone }}</td>
							<td class="ps-0 no-mobile">{{ lista.setor }}</td>
							<td class="ps-0 text-nowrap">{{ lista.cidade }}, {{ lista.estado }}</td>
							<td class="text-end">
								<a href="{{ DOMAIN }}/palestras/etiqueta/{{ lista.codigo }}" target="_blank" class="badge bg-warning text-black"><i class="fa-regular fa-arrow-up-right-from-square"></i> VER INSCRIÇÃO</a>
								<div>{{ lista.data|date("d/m/Y H:i") }}</div>
							</td>
						</tr>
					{% endfor %}
		        </tbody>
		    </table>
		</div>

	</session>

</div>

{% if agora >= datapalestra %}
<div class="modal fade" id="sorteio" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-sm" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<span class="modal-title text-black">Digite a Quantidade de Sorteados</span>
			</div>
			<div class="modal-body">
				<form id="sorteioForm">
					<div class="form-group mt-2 mb-4">
						<input type="number" name="quantidade" class="form-control form-control-lg text-center" min="1" value="1" id="quantidade" required>
						<input type="hidden" name="id_palestra" id="id_palestra" value="{{ palestra.id }}">
					</div>
					<div id="timer" class="text-black my-4 text-center"></div>
					<button type="submit" class="btn btn-warning btn-lg w-100">REALIZAR SORTEIO</button>
				</form>
			</div>
		</div>
	</div>
</div>
<script src="{{ PATH }}/view/src/js/services/sorteio_palestras.js"></script>
{% endif %}

<script src="{{ PATH }}/view/src/js/services/palestras.js"></script>

{% endblock %}