{% extends "layout/layoutMaster.twig" %}

{% block title %} Palestra - Lista de inscritos {% endblock %}

{% block body %}

<div class="container py-5">
	
	<session>

		<div class="row mb-4">

			<div class="col-sm-12 col-md-6">			
				<div><span>Lista de inscrições: <span class="text-warning fw-bold">{{ palestra.title }}</span></span></div>
				<div class="">
					<div class="mb-4">Palestrante: <span class="text-warning fw-bold">{{ palestra.palestrante_nome }}</span></div>
					<div>Data de Início: <span class="text-warning fw-bold">{{ palestra.data_palestra | date("d/m/Y H:i") }}</span></div>
					<div>Data de Término: <span class="text-warning fw-bold">{{ palestra.data_fim | date("d/m/Y H:i") }}</span></div>
				</div>

				<div class="mt-2 opacity-75">{{ palestra.descricao|raw }}</div>

				{% set agora = "now"|date("Y-m-d") %}
				{% set datapalestra = palestra.data_palestra|date("Y-m-d") %}

				{% if agora >= datapalestra %}
					{% if 'add' in permissions.palestras or permissions == 'all' %}
					<div class="d-flex align-items-end flex-wrap mt-2 mb-4 mb-sm-0">
						{% if sorteados %}
							<a href="{{ DOMAIN }}/palestras/sorteados/{{ palestra.id}}" class="btn btn-light px-2 mt-4 me-1"><i class="fa-light fa-trophy-star"></i> Lista de Sorteados</a>
						{% else %}
							<button type="button" class="btn btn-warning px-2 mt-4 me-1" data-bs-toggle="modal" data-bs-target="#sorteio"><i class="fa-light fa-trophy-star"></i> Realizar Sorteio</button>
						{% endif %}
					</div>
					{% endif %}
				{% endif %}
			</div>

			{% if _get.q == '' %}
				{% if 'add' in permissions.palestras or permissions == 'all' %}
				<div class="col-sm-12 col-md-6">
					<div><span class="text-warning">Estatísticas da Palestra:</span></div>
					<div class="badge rounded-pill {{ _get.setor == '' ? 'bg-warning' : 'bg-light' }} mb-1 me-1">
						<a class="text-black" href="{{ DOMAIN }}/palestras/inscricao/lista/{{ palestra.id }}">Total <span class="px-1 bg-black rounded-pill text-white">{{ total.total }}</span></a>
					</div>
					{% for grupo in grupos %}
						<div class="badge rounded-pill {{ _get.setor == grupo.setor ? 'bg-warning' : 'bg-light' }} mb-1 me-1">
							<a class="text-black" href="{{ DOMAIN }}/palestras/inscricao/lista/{{ palestra.id }}?setor={{ grupo.setor }}">{{ grupo.setor }} <span class="px-1 bg-black rounded-pill text-white">{{ grupo.total }}</span></a>
						</div>
					{% endfor %}
					
					<div class="mt-3"><span class="text-warning">Gerenciamento de Equipe:</span></div>
					<div class="d-flex justify-content-between flex-wrap">
						{% if _session.sampel_user_id == palestra.id_empresa or _session.sampel_user_id == 1 or _session.sampel_user_id == 4 or _session.sampel_user_id == 16 %}
							<button type="button" data-bs-toggle="modal" data-bs-target="#editar_palestra" class="btn btn-success text-black btn-sm rounded-pill me-2 mb-2"><i class="fa-solid fa-pen-to-square"></i> Editar Evento</button>
						{% endif %}
						<a href="{{ DOMAIN }}/palestras/inscricao/{{ palestra.id }}" class="btn btn-dark btn-sm rounded-pill me-2 mb-2"><i class="fa-solid fa-user-plus"></i> Inscreva-se</a>
						<a class="btn btn-warning btn-sm rounded-pill me-2 mb-2" href="{{ DOMAIN }}/palestras/qrcode/{{ palestra.id }}"><i class="fa-solid fa-qrcode"></i> Ver QRCode</a>

						<div class="btn-group dropstart d-block">
							<a href="javascript:void(0)" class="btn btn-info btn-sm rounded-pill dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
								<i class="fa-solid fa-images"></i> Fotos
							</a>
							<ul class="dropdown-menu py-1">
								<li><a href="{{ DOMAIN }}/palestras/fotos/{{ palestra.id }}" class="dropdown-item border-bottom"><i class="fa-solid fa-images"></i> Ver Fotos</a></li>
								<li><a href="{{ DOMAIN }}/palestras/galeria/{{ palestra.id }}" class="dropdown-item"><i class="fa-solid fa-upload"></i> Upload de Fotos</a></li>
							</ul>
						</div>
						<div class="btn-group dropstart d-block">
							<a href="javascript:void(0)" class="btn btn-light btn-sm rounded-pill dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
								Outros ações
							</a>
							<ul class="dropdown-menu py-1">
								<li><a class="dropdown-item" href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#sharedPalestras_{{ palestra.id }}"><i class="fa-sharp fa-light fa-share-nodes"></i> Compartilhar Lista</a></li>
								<li><a class="dropdown-item" href="{{ DOMAIN }}/palestras/feedback/{{ palestra.id }}"><i class="fa-sharp fa-light fa-share-nodes"></i> Link de Feedback</a></li>
								<li><a class="dropdown-item" href="{{ DOMAIN }}/palestras/recepcao/{{ palestra.id }}"><i class="fa-solid fa-shield-check"></i> Confirmar Presença</a></li>
							</ul>
						</div>
					</div>

					<div class="modal fade" id="sharedPalestras_{{ palestra.id }}" tabindex="-1" aria-labelledby="sharedPalestras_{{ palestra.id }}" aria-hidden="true">
						<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
							<div class="modal-content">
								<div class="modal-body p-0">
									<div class="row mx-0">
										<div class="col-12 col-lg-5 bg-success d-flex flex-column justify-content-center py-5 px-4">
											<h4 class="h3 text-white text-uppercase mb-3">
												<strong>Compartilhar Lista de Inscritos</strong>
											</h4>
											<p class="text-white mb-0">Selecione as opções ao lado para compartilhar essa lista nas
												redes sociais</p>
										</div>
										<div class="col-12 col-lg-7 pt-4 pb-5 pt-lg-5 mt-lg-3">
											<button type="button" class="btn-close position-absolute top-0 end-0 pt-4 px-3" data-bs-dismiss="modal" aria-label="Close"></button>
											<div class="d-flex flex-column">
												<div class="border-bottom">
													<button class="text-start btn btn-white text-white py-3 w-100" onclick="copy('{{ DOMAIN }}/palestras/inscricao/lista/{{ palestra.id }}?q=share')">
														<i class="fa-solid fa-link"></i> <span class="ms-2">Copiar link</span>
													</button>
												</div>
												<div class="border-bottom">
													<a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{ DOMAIN }}/palestras/inscricao/lista/{{ palestra.id }}?q=share" class="text-start btn btn-white text-white py-3 w-100">
														<i class="fa-brands fa-facebook-f"></i> <span class="ms-2">Compartilhar no Facebook</span>
													</a>
												</div>
												<div class="border-bottom">
													<a target="_blank" href="https://twitter.com/intent/tweet?url={{ DOMAIN }}/palestras/inscricao/lista/{{ palestra.id }}?q=share&amp;text=Confira%20esse%20agendamento%20em" class="text-start btn btn-white text-white py-3 w-100">
														<i class="fa-brands fa-twitter"></i> <span class="ms-2">Compartilhar no Twitter</span>
													</a>
												</div>
												<div>
													<a target="_blank" href="https://api.whatsapp.com/send/?text={{ DOMAIN }}/palestras/inscricao/lista/{{ palestra.id }}?q=share" class="text-start btn btn-white text-white py-3 w-100">
														<svg width="18" fill="#fff" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 40.01"><path d="M21.171,40.01H18.983c-.568-.064-1.137-.114-1.7-.193A19.541,19.541,0,0,1,9.329,36.9a.724.724,0,0,0-.687-.089c-1.332.441-2.67.864-4.006,1.292-1.084.347-2.168.691-3.308,1.055.051-.167.082-.275.118-.382.726-2.168,1.441-4.341,2.191-6.5a1.014,1.014,0,0,0-.146-1.029,19.359,19.359,0,0,1-3.4-9.47A19.108,19.108,0,0,1,2.819,9.808,19.568,19.568,0,0,1,19.16.033,18.753,18.753,0,0,1,30.192,2.814a19.706,19.706,0,0,1,9.5,13.749c.14.75.209,1.513.312,2.271v2.344c-.032.281-.064.562-.1.843a19.771,19.771,0,0,1-5,11.294A19.617,19.617,0,0,1,23.445,39.7c-.753.133-1.515.209-2.274.311M26.52,31.3l.026-.1a6.528,6.528,0,0,0,.7-.045,5.681,5.681,0,0,0,.949-.218c2.818-.99,3.779-2.342,3.856-4.963a.811.811,0,0,0-.494-.843c-1.5-.715-2.994-1.45-4.5-2.152a1.179,1.179,0,0,0-1.688.464c-.4.531-.785,1.07-1.193,1.593a1.358,1.358,0,0,1-1.936.493,15.818,15.818,0,0,1-7.665-6.782.839.839,0,0,1,.107-1.173c.391-.47.806-.92,1.207-1.382a1.549,1.549,0,0,0,.287-1.824c-.683-1.5-1.29-3.038-1.955-4.548A.97.97,0,0,0,13.7,9.3a3.316,3.316,0,0,0-3.021.4A6.209,6.209,0,0,0,8.5,15.858a11.692,11.692,0,0,0,2.189,4.824,31.069,31.069,0,0,0,5.276,5.936,20.845,20.845,0,0,0,7.685,4.019c.94.283,1.915.448,2.874.667" transform="translate(0 0)"></path></svg>
														<span class="ms-2">Compartilhar no WhatsApp</span>
													</a>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

				</div>
				{% endif %}
			{% endif %}

		</div>

		<hr>

		<div class="table-responsive">
			<table id="tabela_dinamica" class="table table-hover align-middle text-white pt-4 mb-4 table-sm" style="width:100%">
		        <thead>
		            <tr>
						<th class="d-none">#</th>
						<th class="no-mobile">Nome</th>
						<th class="no-mobile">Empresa</th>
						<th class="no-mobile">Telefone</th>
						<th class="no-mobile">Setor</th>
						<th class="no-mobile">Endereço</th>
						<th class="text-end no-mobile">Inscrição</th>
						{% if _get.q == '' %}{% if 'add' in permissions.palestras or permissions == 'all' %}<th class="text-end no-mobile">Editar</th>{% endif %}{% endif %}
					</tr>
		        </thead>
		        <tbody>
		        	{% for lista in listas %}
						<tr>
							<td class="d-none">{{ palestra.id }}</td>
							<td class="ps-0 text-uppercase">
								<span class="d-flex justify-content-start text-nowrap" {{ lista.presenca == 'Sim' ? 'data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="PRESENÇA CONFIRMADA"' : 'data-bs-toggle="tooltip" data-bs-placement="top"  data-bs-title="PRESENÇA AINDA NÃO CONFIRMADA"' }}>
									<div class="ms-2 row">
										{{ lista.nome }}
										<div class="d-block d-sm-none p-0">
											<div class="col-md-6 col-sm-12">
												<div class="text-lowercase">{{ lista.email }}</div>
												{% if lista.cidade != '' %}<div>{{ lista.cidade }}, {{ lista.estado }}</div>{% endif %}
												<div>{{ lista.empresa }}</div>
											</div>
											<div class="col-md-6 col-sm-12">
												<a href="{{ DOMAIN }}/palestras/inscricao/{{ palestra.id }}/{{ lista.id }}?action=success" target="_blank" class="badge bg-warning text-black mt-2"><i class="fa-regular fa-arrow-up-right-from-square"></i> VER INSCRIÇÃO</a>
											</div>
										</div>
									</div>
								</span>
							</td>
							<td class="ps-0 no-mobile text-uppercase">{{ lista.empresa }}</td>
							<td class="ps-0 no-mobile text-uppercase text-nowrap">{{ lista.telefone }}</td>
							<td class="ps-0 no-mobile">{{ lista.setor }}</td>
							<td class="ps-0 text-nowrap no-mobile">{{ lista.cidade }}, {{ lista.estado }}</td>
							<td class="text-end no-mobile">
								{% if _get.q == '' %}{% if 'add' in permissions.palestras or permissions == 'all' %}<a href="{{ DOMAIN }}/palestras/inscricao/{{ palestra.id }}/{{ lista.id }}?action=success" target="_blank" class="badge bg-warning text-black"><i class="fa-regular fa-arrow-up-right-from-square"></i> VER INSCRIÇÃO</a>{% endif %}{% endif %}								<div class="text-nowarp">{{ lista.data|date("d/m/Y H:i") }}</div>
							</td>
							{% if _get.q == '' %}{% if 'add' in permissions.palestras or permissions == 'all' %}
							<td class="ps-0 no-mobile text-end">
								<a class="badge bg-warning text-black" href="javascript:void(0)" data-bs-remote="{{ DOMAIN }}/palestras/inscricao/editar/{{ palestra.id }}/{{ lista.id }}" data-bs-toggle="modal-remote" data-bs-target="#editarParticipante">
									<i class="fa-regular fa-pen-to-square fs-6"></i>
									<div class="mt-1">EDITAR</div>
								</a>
							</td>
							{% endif %}{% endif %}
						</tr>
					{% endfor %}
		        </tbody>
		    </table>
		</div>

	</session>

</div>

{% if 'add' in permissions.palestras or permissions == 'all' %}
<div class="modal fade" id="editarParticipante" tabindex="-1" role="dialog" aria-labelledby="editarParticipanteLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable" role="document">
		<div class="modal-content"></div>
	</div>
</div>
{% endif %}

{% if _session.sampel_user_id == visita.id_empresa or _session.sampel_user_id == 1 or _session.sampel_user_id == 4 or _session.sampel_user_id == 16 %}
<div class="modal fade" id="editar_palestra" tabindex="-1" aria-labelledby="editar_palestra" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
		<div class="modal-content">
			<div class="modal-body">
				
				<form action="javascript:void(0)" method="POST" id="editar_palestra_form">
					<div class="row">
						
						<div class="col-md-12 col-12">
							<div class="mb-3">
								<label class="form-label">Nome da Palestra</label>
								<input type="text" class="form-control form-control-sm" name="title" value="{{palestra.title}}" required="required">
							</div>
							
							<div class="row">
								<div class="col-md-6 col-sm-12">
									<div class="mb-3">
										<label for="data_palestra" class="form-label">Data de Início <span class="text-danger">*</span></label>
										<input type="datetime-local" name="data_palestra" class="form-control form-control-sm" id="data_palestra" value="{{palestra.data_palestra}}" required="required">
									</div>
								</div>
								<div class="col-md-6 col-sm-12">
									<div class="mb-3">
										<label for="data_fim" class="form-label">Data de Término <span class="text-danger">*</span></label>
										<input type="datetime-local" name="data_fim" class="form-control form-control-sm" id="data_fim" value="{{palestra.data_fim}}" required="required">
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-md-6 col-sm-12">
									<div class="mb-3">
										<label for="cep" class="form-label">CEP do Local</label>
										<input type="text" name="cep" class="form-control form-control-sm cep" id="cep" value="{{palestra.cep}}">
									</div>
								</div>
								<div class="col-md-6 col-sm-12">
									<div class="mb-3">
										<label for="local_nome" class="form-label">Nome do Local</label>
										<input type="text" name="local_nome" class="form-control form-control-sm" id="local_nome" value="{{palestra.local_nome}}">
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-md-6 col-sm-12">
									<div class="mb-3">
										<label for="endereco" class="form-label">Av./Rua</label>
										<input type="text" name="endereco" class="form-control form-control-sm" id="endereco" value="{{palestra.endereco}}">
									</div>
								</div>
								<div class="col-md-2 col-sm-12">
									<div class="mb-3">
										<label for="numero" class="form-label">Numero</label>
										<input type="text" name="numero" class="form-control form-control-sm" id="numero" value="{{palestra.numero}}">
									</div>
								</div>
								<div class="col-md-4 col-sm-12">
									<div class="mb-3">
										<label for="complemento" class="form-label">Complemento</label>
										<input type="text" name="complemento" class="form-control form-control-sm" id="complemento" value="{{palestra.complemento}}">
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-md-4 col-sm-12">
									<div class="mb-3">
										<label for="bairro" class="form-label">Bairro</label>
										<input type="text" name="bairro" class="form-control form-control-sm" id="bairro" value="{{palestra.bairro}}">
									</div>
								</div>

								<div class="col-md-4 col-sm-12">
									<div class="mb-3">
										<label for="cidade" class="form-label">Cidade</label>
										<input type="text" name="cidade" class="form-control form-control-sm" id="cidade" value="{{palestra.cidade}}">
									</div>
								</div>
								<div class="col-md-4 col-sm-12">
									<div class="mb-3">
										<label for="estado" class="form-label">Estado</label>
										<input type="text" name="estado" class="form-control form-control-sm" id="estado" value="{{palestra.estado}}">
									</div>
								</div>
							</div>

						</div>

						<div class="col-md-12 col-12">

							<div class="row">
								<div class="mb-3 col-md-6">
									<label for="palestrante_nome" class="form-label">Nome do Palestrante <span class="text-danger">*</span></label>
									<input type="text" name="palestrante_nome" class="form-control form-control-sm" id="palestrante_nome" value="{{palestra.palestrante_nome}}" required="required">
								</div>

								<div class="mb-3 col-md-6">
									<label for="palestrante_descricao" class="form-label">Descrição do Palestrante (opcional)</label>
									<input type="text" name="palestrante_descricao" class="form-control form-control-sm" id="palestrante_descricao" value="{{palestra.palestrante_descricao}}">
								</div>
							</div>

							<div class="mb-3">
								<label for="descricao" class="form-label">Descrição da Palestra</label>
								<textarea id="descricao" name="descricao" class="form-control form-control-sm" rows="7" cols="50" placeholder="Conte todos os detalhes de sua Palestra, como a programação e os diferenciais da sua produção!">{{palestra.descricao}}</textarea>
							</div>

							<div class="mb-3">
								<input type="hidden" name="id" value="{{palestra.id}}">
								<button type="submit" class="btn btn-warning rounded-pill btn-lg fw-bold"><i class="fa-light fa-paper-plane"></i> SALVAR PALESTRA</button>
							</div>
						</div>

					</div>
				</form>

			</div>
		</div>
	</div>
</div>

{% endif %}

{% if agora >= datapalestra %}
<div class="modal fade" id="sorteio" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-sm" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<span class="modal-title">Digite a Quantidade de Sorteados</span>
			</div>
			<div class="modal-body">
				<form id="sorteioForm">

					<div class="form-group mt-2 mb-4">
						<input type="number" name="quantidade" class="form-control form-control-lg text-center" min="1" value="1" id="quantidade" required>
						<input type="hidden" name="id_palestra" id="id_palestra" value="{{ palestra.id }}">
					</div>

					<a class="btn btn-sm btn-primary rounded-0 w-100" data-bs-toggle="collapse" href="#repescagem" role="button" aria-expanded="false" aria-controls="repescagem">Repescagem?</a>
					<div class="collapse" id="repescagem">
						<input type="number" name="repescagem" id="repescagem_input" class="form-control form-control-lg text-center" min="0" value="0">
					</div>

					<div id="timer" class="my-4 text-center"></div>
					<button type="submit" class="btn btn-warning btn-lg w-100">REALIZAR SORTEIO</button>
				</form>
			</div>
		</div>
	</div>
</div>
<script src="{{ PATH }}/view/src/js/services/sorteio_palestras.js"></script>
{% endif %}

<link rel="stylesheet" href="{{ DOMAIN }}/view/painel/src/vendors/froala/css/froala_editor.min.css">
<script src="{{ DOMAIN }}/view/painel/src/vendors/froala/js/froala_editor.pkgd.min.js"></script>
<script src='{{ DOMAIN }}/view/painel/src/vendors/froala/js/languages/pt_br.js'></script>
<script src="{{ PATH }}/view/src/js/services/palestras.js"></script>

{% endblock %}