{% extends "layout/layoutMaster.twig" %}

{% block title %} Visitas {% endblock %}

{% block body %}

<div class="container py-5">
	
	<session>

		{% if _get.action == '' %}

			<div class="mb-4">
				<h3>Faça sua inscrição para essa Palestra</h3>
				<div>Faça sua inscrição abaixo e guarde os dados exibidos após sua inscrição.</div>
			</div>

			<hr>
			
			<div class="row">

				<div class="{{ _get.action != '' ? 'col-md-6' : 'col-md-6' }} col-sm-12 col-12 mb-5">

					{% if _get.action != '' %}
					<div class="mb-4">
						<h3>Inscrição realizada com sucesso</h3>
						<div>Imprima seu crachá ao lado e apresente no dia do evento.</div>
					</div>

					<hr>
					{% endif %}

					<h4 class="text-warning"><b>{{ palestra.title }}</b></h4>
					<div class="mb-4">Palestrante: <span class="text-warning fw-bold">{{ palestra.palestrante_nome }}</span></div>

					<div>Data de Início: <span class="text-warning fw-bold">{{ palestra.data_palestra | date("d/m/Y H:i") }}</span></div>
					<div>Data de Término: <span class="text-warning fw-bold">{{ palestra.data_fim | date("d/m/Y H:i") }}</span></div>

					<div class="mt-4">
						<div><b>Informações:</b></div>
						<div class="text-white-50">{{ palestra.descricao|raw }}</div>
					</div>

				</div>

				<div class="{{ _get.action != '' ? 'col-md-6' : 'col-md-6' }} col-sm-12 col-12 mb-5 position-relative">
					
					{% if _get.action == '' %}
						<div class="form_inscricao">

							<div class="alert-3 alert-none">
								<div class="alert alert-danger" role="alert">
									<i class="fa-sharp fa-solid fa-bug"></i> Aconteceu algum erro. Tente novamente mais tarde ou entre em contato com o suporte.
								</div>
							</div>
							<div class="alert-2 alert-none">
								<div class="alert alert-warning" role="alert">
									<i class="fa-solid fa-circle-exclamation"></i> Este usuário já participou de uma palestra.
								</div>
							</div>

							<form action="javascript:void(0)" id="form_inscricao" method="POST">
							
								<div class="form-load"><i class="fa-solid fa-spinner fa-spin-pulse"></i></div>

								<div class="row">

									<div class="col-md-6 col-12">
										<div class="mb-3">
											<label for="cpf" class="form-label">Seu CPF *</label>
											<input type="text" name="cpf" class="form-control rounded-pill cpf cpf_autocomplete" id="cpf" value="" required="required">
											<div id="valida-cpf" class="invalid-feedback">CPF já cadastrado.</div>
										</div>
									</div>

									<div class="col-md-6 col-12">
										<div class="mb-3">
											<label for="empresa" class="form-label">Nome da sua Empresa *</label>
											<input type="text" name="empresa" class="form-control rounded-pill" id="empresa" value="" required="required">
										</div>
									</div>

									<div class="col-md-6 col-12">
										<div class="mb-3">
											<label for="nome" class="form-label">Seu Nome Completo *</label>
											<input type="text" name="nome" class="form-control rounded-pill" id="nome" value="" required="required">
										</div>
									</div>
									
									<div class="col-md-6 col-12">
										<div class="mb-3">
											<label for="email" class="form-label">Seu Email *</label>
											<input type="email" name="email" class="form-control rounded-pill" id="email" value="" required="required">
											<div id="valida-email" class="invalid-feedback">Email já cadastrado.</div>
										</div>
									</div>
									<div class="col-md-6 col-12">
										<div class="mb-3">
											<label for="cep" class="form-label">Seu CEP *</label>
											<input type="text" name="cep" class="form-control rounded-pill cep" id="cep" value="" required="required">
											<input type="hidden" name="cidade" id="cidade" value="">
											<input type="hidden" name="estado" id="estado" value="">
											<div class="endereco ms-3"></div>
										</div>
									</div>
									<div class="col-md-6 col-12">
										<div class="mb-3">
											<label class="form-label">Setor de Atuação *</label>
											<select class="form-control rounded-pill" id="setor" name="setor" required="required">
												<option value="">Selecione</option>
												<option value="Auto Center">Auto Center</option>
												<option value="Autopeças">Autopeças</option>
												<option value="Balconista">Balconista</option>
												<option value="Distribuidora">Distribuidora</option>
												<option value="Estoquista">Estoquista</option>
												<option value="Frotista">Frotista</option>
												<option value="Mecânico / Reparador">Mecânico / Reparador</option>
												<option value="Vendas / Telemarketing">Vendas / Telemarketing</option>
											</select>
										</div>
										<div class="mb-3 outros" style="display: none">
											<input type="text" name="setor_outros" class="form-control rounded-pill" placeholder="Qual?">
										</div>
									</div>
									<div class="col-md-6 col-12">
										<div class="mb-3">
											<label for="telefone" class="form-label">Seu Whatsapp *</label>
											<input type="text" name="telefone" class="form-control rounded-pill telefone" id="telefone" value="" required="required">
											<div id="valida-telefone" class="invalid-feedback">Telefone já cadastrado.</div>
										</div>
									</div>
									
									<div class="col-md-6 col-12">
										<div class="mb-3">
											<label class="form-label"></label>
											<input type="hidden" name="id_palestra" id="id_palestra" value="{{ palestra.id }}">
											<button type="submit" class="rounded-pill btn btn-warning w-100" disabled><i class="fa-solid fa-unlock-alt me-2"></i> SALVAR SUA INSCRIÇÃO</button>
										</div>
									</div>

								</div>

							</form>
							
						</div>
					{% endif %}
					
				</div>

			</div>

		{% endif %}

		{% if _get.action == 'success' %}
			<div class="row">
				<div class="col-md-4 offset-md-4">

					<div class="text-center mb-4">
						<a href="javascript:void(0)" id="salvar_inscricao" class="btn btn-warning btn-lg rounded-pill fw-bold"><i class="fa-solid fa-download"></i> SALVAR INGRESSO</a>
						<div class="fw-bold mt-2 w-75 m-auto">Apresente o ingresso abaixo para poder participar do evento.</div>
					</div>
					
					<div class="success" id="inscricao_sucesso">

						<div id='card'>

							<div id='upper-side'>
								<div class="d-flex justify-content-around align-items-center">
									<img src="{{ DOMAIN }}/view/src/media/ingresso_banner1.jpg">
								</div>
							</div>

							<div id='lower-side'>
								<div id="message">
									<h5 class="fw-bold text-uppercase"><b>{{ palestra.title }}</b></h5>

									<div class="mt-2 text-body-tertiary fw-bold"><small>LOCAL</small></div>
									<div class="d-flex justify-content-between">
										<div>{{ palestra.endereco }}, {{ palestra.numero }} - {{ palestra.bairro }}, {{ palestra.cidade }}, {{ palestra.estado }}</div>
										<div class="ps-3 flex-nowrap"><a class="text-primary text-nowrap" href="https://www.waze.com/pt-BR/live-map/directions/br/sp/{{ palestra.cep }}?navigate=yes&utm_campaign=default&utm_source=waze_website&utm_medium=lm_share_location&to=place.ChIJKXWq0dDZzZQRw9exYXp5qt0" target="_blank"><i class="fa-regular fa-arrow-turn-right"></i> ver local</a></div>
									</div>

									<div class="mt-4 text-body-tertiary fw-bold"><small>DATA</small></div>
									<div class="d-flex justify-content-between">
										{% set date = palestra.data_palestra|date("d") ~ ' de ' ~ palestra.data_palestra|date("F")|monthTranslate() ~ ' de ' ~ palestra.data_palestra|date("Y") %}
										<div>{{ date }} às {{ palestra.data_palestra|date("H:i") }} até {{ palestra.data_fim|date("H:i") }}</div>
										<div class="ps-3 flex-nowrap"><a class="text-primary text-nowrap" href="https://www.google.com/calendar/render?action=TEMPLATE
										&text={{ palestra.title }}
										&dates={{ palestra.data_palestra | replace({'-': ''}) | replace({':': ''}) }}00Z/{{ palestra.data_fim | replace({'-': ''}) | replace({':': ''}) }}00Z
										&details={{ palestra.descricao }}
										&location={{ palestra.local }}" target="_blank"><i class="fa-regular fa-circle-plus"></i> Calendário</a></div>
									</div>
									
									<div class="my-3 fw-bold separador position-relative"><span>INGRESSO</span></div>

									<div class="row">
										<div class="col-5 text-center">
											<b>{{ inscricao.codigo }}</b>
											<div id="image_qrcode" style="display:none;">{{ inscricao.qrcode|raw }}</div>
											<div id="image_qrcode_rend"></div>
										</div>
										<div class="col-7">
											<div class="mb-2">
												<div class="text-body-tertiary fw-bold"><small>PARTICIPANTE</small></div>
												<div class="text-uppercase">{{ inscricao.nome }}</div>
											</div>
											<div class="mb-2">
												<div class="text-body-tertiary fw-bold"><small>CPF</small></div>
												<div class="">{{ inscricao.cpf|UserCPF }}</div>
											</div>
											<div class="mb-2">
												<div class="text-body-tertiary fw-bold"><small>CIDADE/ESTADO</small></div>
												<div class="">{{ inscricao.cidade }}, {{ inscricao.estado }}</div>
											</div>
											<div class="mb-2">
												<div class="text-body-tertiary fw-bold"><small>SETOR</small></div>
												<div class="">{{ inscricao.setor }}</div>
											</div>
										</div>
									</div>

									<div class="my-3 fw-bold separador position-relative"><span>Checking</span></div>

									<div class="codigo-barra"><img src="data:image/png;base64, {{ barcode }}" class="img-fluid w-100"></div>

								</div>
							</div>

						</div>
						<!-- partial -->
					</div>
				</div>
			</div>
		{% endif %}

	</session>

</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.js"></script>
<script src="{{ PATH }}/view/src/js/services/palestras.js"></script>
<script src="{{ PATH }}/view/src/js/services/palestras_check.js"></script>

{% endblock %}