<!-- BEGIN: Main Menu-->
    <div class="main-menu menu-fixed menu-light menu-accordion menu-shadow" data-scroll-to-active="true">
        <div class="navbar-header">
            <ul class="nav navbar-nav flex-row">
                <li class="nav-item mr-auto">
                    <a class="navbar-brand" href="{{ DOMAIN }}/painel">
                        <span class="brand-logo"><img src="{{ PATH }}/view/painel/src/images/logo/logo{{ (_cookie.siteStyle == 'dark-layout') ? '_white'}}.png" alt=""></span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="shadow-bottom"></div>
        <div class="main-menu-content">
            <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation">
              
                <li class="navigation-header mt-1"><span>Menu Principal</span><i data-feather="more-horizontal"></i></li>

                <li class="{{ (menu == 'home') ? 'active' }} nav-item">
                    <a class="d-flex align-items-center" href="{{ DOMAIN }}/painel"><i data-feather="grid"></i><span class="menu-title text-truncate">Home</span></a>
                </li>

                <li class=" navigation-header"><span>Lista de Visitas</span><i data-feather="more-horizontal"></i></li>
                <li class="{{ (menu == 'visitas') ? 'active open' }} nav-item">
                    <a class="d-flex align-items-center" href="javascript:void(0);"><i class="fa-thin fa-calendar-check"></i><span class="menu-title text-truncate">Visitas</span></a>
                    <ul class="menu-content">
                        <li><a class="d-flex align-items-center" href="{{ DOMAIN }}/painel/visitas"><i data-feather="circle"></i><span class="menu-item">Todas as Visitas</span></a></li>
                        <li><a class="d-flex align-items-center" href="{{ DOMAIN }}/painel/visitas/add"><i data-feather="circle"></i><span class="menu-item">Criar Nova</span></a></li>
                         <li><a class="d-flex align-items-center" href="{{ DOMAIN }}/painel/visitas/config"><i data-feather="circle"></i><span class="menu-item">Configurações</span></a></li>
                    </ul>
                </li>

                <li class=" navigation-header"><span>Lista de Palestras</span><i data-feather="more-horizontal"></i></li>
                <li class="{{ (menu == 'palestras') ? 'active open' }} nav-item">
                    <a class="d-flex align-items-center" href="javascript:void(0);"><i data-feather="file-text"></i><span class="menu-title text-truncate">Palestras</span></a>
                    <ul class="menu-content">
                        <li><a class="d-flex align-items-center" href="{{ DOMAIN }}/painel/palestras"><i data-feather="circle"></i><span class="menu-item">Ver Todas</span></a></li>
                        <li><a class="d-flex align-items-center" href="{{ DOMAIN }}/painel/palestras/add"><i data-feather="circle"></i><span class="menu-item">Criar Nova</span></a></li>
                    </ul>
                </li>

            </ul>
        </div>
    </div>
    <!-- END: Main Menu-->