<!-- BEGIN: Main Menu-->
    <div class="main-menu menu-fixed menu-light menu-accordion menu-shadow" data-scroll-to-active="true">
        <div class="navbar-header">
            <ul class="nav navbar-nav flex-row">
                <li class="nav-item mr-auto">
                    <a class="navbar-brand" href="{{ DOMAIN }}/painel">
                        <span class="brand-logo"><img src="{{ PATH }}/view/painel/src/images/logo/logo{{ (_cookie.siteStyle == 'dark-layout') ? '_white'}}.png" alt=""></span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="shadow-bottom"></div>
        <div class="main-menu-content">
            <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation">
              
                <li class=" navigation-header"><span>Menu Principal</span><i data-feather="more-horizontal"></i></li>

                <li class="{{ (menu == 'home') ? 'active' }} nav-item">
                    <a class="d-flex align-items-center" href="{{ DOMAIN }}/painel"><i data-feather="grid"></i><span class="menu-title text-truncate">Home</span></a>
                </li>

                <li class="{{ (menu == 'usuarios') ? 'active' }} nav-item">
                    <a class="d-flex align-items-center" href="{{ DOMAIN }}/painel/admin/usuarios"><i data-feather="grid"></i><span class="menu-title text-truncate">Usuários</span></a>
                </li>

                <li class=" navigation-header"><span>Saques</span><i data-feather="more-horizontal"></i></li>

                <li class="{{ (menu == 'saques') ? 'active' }} nav-item">
                    <a class="d-flex align-items-center" href="{{ DOMAIN }}/painel/admin/saques"><i data-feather="grid"></i><span class="menu-title text-truncate">Lista de Saques</span></a>
                </li>

                <li class=" navigation-header"><span>Serviços</span><i data-feather="more-horizontal"></i></li>

                <li class="{{ (menu == 'agendamentos') ? 'active' }} nav-item">
                    <a class="d-flex align-items-center" href="{{ DOMAIN }}/painel/admin/servicos/agendamentos"><i data-feather="grid"></i><span class="menu-title text-truncate">Agendamentos</span></a>
                </li>
  
                <li class="{{ (menu == 'tipos_servicos_admin') ? 'active' }} nav-item">
                    <a class="d-flex align-items-center" href="{{ DOMAIN }}/painel/admin/servicos/tipos"><i data-feather="grid"></i><span class="menu-title text-truncate">Tipos</span></a>
                </li>
                <li class="{{ (menu == 'categorias_servicos_admin') ? 'active' }} nav-item">
                    <a class="d-flex align-items-center" href="{{ DOMAIN }}/painel/admin/servicos/categorias"><i data-feather="grid"></i><span class="menu-title text-truncate">Categorias</span></a>
                </li>

                <li class=" navigation-header"><span>Produtos</span><i data-feather="more-horizontal"></i></li>

                <li class="{{ (menu == 'vendas') ? 'active' }} nav-item">
                    <a class="d-flex align-items-center" href="{{ DOMAIN }}/painel/admin/produtos/vendas"><i data-feather="grid"></i><span class="menu-title text-truncate">Lista de Vendas</span></a>
                </li>

                <li class="navigation-header text-warning"><span>Vídeos Guias</span><i data-feather="more-horizontal"></i></li>

                <li class="{{ (menu == 'guias') ? 'active' }} nav-item">
                    <a class="d-flex align-items-center" href="{{ DOMAIN }}/painel/admin/manuais-admin"><i data-feather="video"></i><span class="menu-title text-truncate">Vídeos Manuais</span></a>
                </li>

            </ul>
        </div>
    </div>
    <!-- END: Main Menu-->