<!-- BEGIN: Main Menu-->
    <div class="main-menu menu-fixed menu-light menu-accordion menu-shadow d-print-none" data-scroll-to-active="true">
        <div class="navbar-header">
            <ul class="nav navbar-nav flex-row">
                <li class="nav-item mr-auto">
                    <a class="navbar-brand" href="{{ DOMAIN }}/painel">
                        <span class="brand-logo"><img src="{{ PATH }}/view/painel/src/images/logo/logo{{ (_cookie.siteStyle == 'dark-layout') ? '_white'}}.png" alt=""></span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="shadow-bottom"></div>
        <div class="main-menu-content">
            <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation">

                <li class="{{ (menu == 'home') ? 'active' }} nav-item mt-1">
                    <a class="d-flex align-items-center" href="{{ DOMAIN }}/painel"><i class="fa-light fa-home"></i><span class="menu-title text-truncate">Home</span></a>
                </li>
              
                <li class="{{ (menu == 'dashboard') ? 'active open' }} nav-item">
                    <a class="d-flex align-items-center" href="javascript:void(0);"><i class="fa-light fa-chart-candlestick"></i><span class="menu-title text-truncate">Dashboard</span></a>
                    <ul class="menu-content">
                        <li>
                            <a class="d-flex align-items-center" href="{{ DOMAIN }}/painel/dashboard/contratos"><i class="fa-light fa-diploma"></i><span class="menu-title text-truncate">Contratos</span></a>
                        </li>
                        <li>
                            <a class="d-flex align-items-center" href="javascript:void(0)"><i class="fa-light fa-star"></i><span class="menu-title text-truncate">Feiras e Eventos</span></a>
                        </li>
                        <li>
                            <a class="d-flex align-items-center" href="javascript:void(0)"><i class="fa-light fa-megaphone"></i><span class="menu-title text-truncate">Palestras</span></a>
                        </li>
                        <li>
                            <a class="d-flex align-items-center" href="javascript:void(0)"><i class="fa-light fa-handshake-angle"></i><span class="menu-title text-truncate">Patrocínios</span></a>
                        </li>
                        <li>
                            <a class="d-flex align-items-center" href="{{ DOMAIN }}/painel/dashboard-pedidos"><i class="fa-light fa-box-open-full"></i><span class="menu-title text-truncate">Pedidos</span></a>
                        </li>
                        <li>
                            <a class="d-flex align-items-center" href="javascript:void(0)"><i class="fa-light fa-calendar-check"></i><span class="menu-title text-truncate">Visitas</span></a>
                        </li>
                    </ul>
                </li>
                    
                <li class=" navigation-header"><span>Listas de Usuário</span></li>
                <li class="{{ (menu == 'cargos') ? 'active' }} nav-item">
                    <a class="d-flex align-items-center" href="{{ DOMAIN }}/painel/equipes/cargos"><i class="fa-light fa-users-rectangle"></i><span class="menu-title text-truncate">Cargos</span></a>
                </li>
                <li class="{{ (menu == 'equipes') ? 'active' }} nav-item">
                    <a class="d-flex align-items-center" href="{{ DOMAIN }}/painel/equipes"><i class="fa-light fa-users"></i><span class="menu-title text-truncate">Equipes</span></a>
                </li>

                <li class=" navigation-header"><span>Controle de Estoque</span></li>
                <li class="{{ (menu == 'produtos') ? 'active' }} nav-item">
                    <a class="d-flex align-items-center" href="{{ DOMAIN }}/painel/produtos"><i class="fa-light fa-box-open-full"></i><span class="menu-title text-truncate">Produtos</span></a>
                </li>
                <li class="{{ (menu == 'pedidos') ? 'active open' }} nav-item">
                    <a class="d-flex align-items-center" href="javascript:void(0);"><i class="fa-light fa-box-open-full"></i><span class="menu-title text-truncate">Pedidos</span></a>
                    <ul class="menu-content">
                        <li><a class="d-flex align-items-center" href="{{ DOMAIN }}/painel/pedidos"><i data-feather="circle"></i><span class="menu-item">Todos</span></a></li>
                        <li><a class="d-flex align-items-center" href="{{ DOMAIN }}/painel/pedidos/add"><i data-feather="circle"></i><span class="menu-item">Criar Novo</span></a></li>
                    </ul>
                </li>
             
                <li class=" navigation-header"><span>Contratos</span></li>
                <li class="{{ (menu == 'contratos') ? 'active' }} nav-item">
                    <a class="d-flex align-items-center" href="{{ DOMAIN }}/painel/contratos"><i class="fa-light fa-handshake-angle"></i><span class="menu-title text-truncate">Lista de Contratos</span></a>
                </li>

                <li class=" navigation-header"><span>Patrocínios</span></li>
                <li class="{{ (menu == 'patrocinios') ? 'active' }} nav-item">
                    <a class="d-flex align-items-center" href="{{ DOMAIN }}/painel/patrocinios"><i class="fa-light fa-handshake-angle"></i><span class="menu-title text-truncate">Lista de Patrocínios</span></a>
                </li>


                <li class=" navigation-header"><span>Feiras e Eventos</span></li>
                <li class="{{ (menu == 'eventos') ? 'active' }} nav-item">
                    <a class="d-flex align-items-center" href="{{ DOMAIN }}/painel/eventos"><i class="fa-light fa-star"></i><span class="menu-title text-truncate">Lista de Cadastros</span></a>
                </li>

                <li class=" navigation-header"><span>Listas de Visitas</span></li>
                <li class="{{ (menu == 'visitas') ? 'active open' }} nav-item">
                    <a class="d-flex align-items-center" href="javascript:void(0);"><i class="fa-light fa-calendar-check"></i><span class="menu-title text-truncate">Lista de Visitas</span></a>
                    <ul class="menu-content">
                        <li><a class="d-flex align-items-center" href="{{ DOMAIN }}/painel/visitas"><i data-feather="circle"></i><span class="menu-item">Todas as Visitas</span></a></li>
                        <li><a class="d-flex align-items-center" href="{{ DOMAIN }}/painel/visitas/add"><i data-feather="circle"></i><span class="menu-item">Criar Nova</span></a></li>
                        <li><a class="d-flex align-items-center" href="{{ DOMAIN }}/painel/visitas/config"><i data-feather="circle"></i><span class="menu-item">Configurações</span></a></li>
                        <li><a class="d-flex align-items-center" href="{{ DOMAIN }}/painel/feedback/lista"><i data-feather="circle"></i><span class="menu-title text-truncate">Estatísticas</span></a></li>
                        <li><a class="d-flex align-items-center" href="{{ DOMAIN }}/painel/feedback/perguntas"><i data-feather="circle"></i><span class="menu-title text-truncate">Perguntas</span></a></li>
                    </ul>

                <li class=" navigation-header"><span>Listas de Palestras</span></li>
                <li class="{{ (menu == 'palestras') ? 'active open' }} nav-item">
                    <a class="d-flex align-items-center" href="javascript:void(0);"><i class="fa-light fa-megaphone"></i><span class="menu-title text-truncate">Lista de Palestras</span></a>
                    <ul class="menu-content">
                        <li><a class="d-flex align-items-center" href="{{ DOMAIN }}/painel/palestras"><i data-feather="circle"></i><span class="menu-item">Ver Todas</span></a></li>
                        <li><a class="d-flex align-items-center" href="{{ DOMAIN }}/painel/palestras/add"><i data-feather="circle"></i><span class="menu-item">Criar Nova</span></a></li>
                    </ul>
                </li>

                <li class=" navigation-header"><span>Empenho Anual</span></li>
                <li class="{{ (menu == 'empenho') ? 'active' }} nav-item">
                    <a class="d-flex align-items-center" href="{{ DOMAIN }}/painel/empenho"><i class="fa-light fa-star"></i><span class="menu-title text-truncate">Lista de Empenhos</span></a>
                </li>


            </ul>
        </div>
    </div>
    <!-- END: Main Menu-->