<header class="wbc-sticky wbc-nomenu-shadow wbc-sticky-img-logo header-bar mobile-menu">
    <div class="sticky-menu">
        <div class="menu-bar-wrapper">
            <div class="container">

                <div class="header-inner d-flex justify-content-between align-items-center mt-2">
                  
                    <div class="site-logo-title">
                      <a href="{{ DOMAIN }}" class="text-center">
                        <img class="wbc-main-logo" src="{{ PATH }}/view/src/media/logo.png" alt="Sampel">
                      </a>
                    </div>

                    <nav class="primary-menu flex-fill">
                        <ul id="main-menu" class="wbc_menu nav justify-content-center">
                            <li class="menu-item {{ menu == 'home' ? 'current-menu-item' }}">
                                <a href="{{ DOMAIN }}" class="ps-0"><i class="fa-thin fa-house-chimney"></i> Home</a>
                            </li>
                            
                            {% if _session.sampel_user_id %}
                                {% if 'view' in permissions.visitas or permissions == 'all' %}
                                <li class="menu-item {{ menu == 'visitas' ? 'current-menu-item' }}">
                                    <a href="javascript:void(0);"><i class="fa-thin fa-industry-windows"></i> Fabrica</a>
                                    <ul>
                                        <li><a href="{{ DOMAIN }}/visitas?t=i">Minhas Visitas</a></li>
                                        <li><a href="{{ DOMAIN }}/visitas/outras?t=i">Outras Visitas</a></li>
                                        <li><a href="{{ DOMAIN }}/visitas/concluidas?t=i">Visitas Concluídas</a></li>
                                        <li><a href="{{ DOMAIN }}/visitas/relatorios?t=i">Relatórios Gerais</a></li>
                                    </ul>
                                </li>
                                {% endif %}

                                {% if 'view' in permissions.visitas or permissions == 'all' %}
                                <li class="menu-item {{ menu == 'visitas' ? 'current-menu-item' }}">
                                    <a href="javascript:void(0);"><i class="fa-thin fa-user-tie"></i> Clientes</a>
                                    <ul>
                                        <li><a href="{{ DOMAIN }}/visitas?t=e">Minhas Visitas</a></li>
                                        <li><a href="{{ DOMAIN }}/visitas/outras?t=e">Outras Visitas</a></li>
                                        <li><a href="{{ DOMAIN }}/visitas/concluidas?t=e">Visitas Concluídas</a></li>
                                        <li><a href="{{ DOMAIN }}/visitas/relatorios?t=e">Relatórios Gerais</a></li>
                                    </ul>
                                </li>
                                {% endif %}

                                {% if 'view' in permissions.visitas or permissions == 'all' %}
                                <li class="menu-item">
                                    <a href="javascript:void(0);"><i class="fa-thin fa-users-medical"></i> Visitas</a>
                                </li>
                                {% endif %}

                                {% if 'view' in permissions.palestras or permissions == 'all' %}
                                <li class="menu-item {{ menu == 'palestras' ? 'current-menu-item' }}">
                                    <a href="javascript:void(0);"><i class="fa-thin fa-microphone-lines"></i> Palestras</a>
                                    <ul>
                                        <li><a href="{{ DOMAIN }}/palestras">Lista de Palestras</a></li>
                                        {% if 'add' in permissions.palestras or permissions == 'all' %}
                                        <li><a href="{{ DOMAIN }}/palestras/cadastro">Criar nova Palestra</a></li>
                                        <li><a href="{{ DOMAIN }}/palestras/relatorios">Relatórios Gerais</a></li>
                                        {% endif %}
                                    </ul>
                                </li>
                                {% endif %}

                                {% if 'view' in permissions.equipes or permissions == 'all' %}
                                <li class="menu-item {{ menu == 'equipes' ? 'current-menu-item' }}">
                                    <a href="{{ DOMAIN }}/equipes"><i class="fa-thin fa-people-group"></i> Equipes</a>
                                </li>
                                {% endif %}

                                {% if 'view' in permissions.pedidos or permissions == 'all' %}
                                <li class="menu-item {{ menu == 'pedidos' ? 'current-menu-item' }}">
                                    <a href="{{ DOMAIN }}/pedidos" class="text-success"><i class="fa-thin fa-box-open-full"></i> Pedidos</a>
                                </li>
                                {% endif %}

                            {% endif %}
                            {% if _session.sampel_user_id == '' %}
                            <li class="menu-item">
                                <a href="{{ DOMAIN }}/minhas-inscricoes"><i class="fa-light fa-file-certificate"></i> Minhas inscrições</a>
                            </li>
                            {% endif %}

                        </ul>
                    </nav>

                    <nav class="">
                        
                        <ul id="main-menu" class="wbc_menu d-flex d-flex justify-content-end align-items-center m-0">
                            {% if _session.sampel_user_id %}
                                <li class="d-inline-block d-sm-none">
                                    <button class="navbar-toggler" type="button" data-bs-toggle="modal" data-bs-target="#navbarContent" aria-controls="navbarContent">
                                        <i class="fa-solid fa-bars fa-lg"></i>
                                    </button>
                                </li>
                                <li class="menu-item">
                                    <a class="nav-link dropdown-toggle dropdown-user-link d-flex align-items-center" id="dropdown-user" href="#" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <div class="d-flex justify-content-end align-items-center">
                                            <i class="fa-thin fa-circle-user fa-3x"></i>
                                        </div>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-end user-menu" aria-labelledby="dropdown-user">
                                        {% if (_session.sampel_user_tipo != 1) %}
                                        <a class="dropdown-item" href="{{ DOMAIN }}/minha-conta"><i class="fa-light fa-user me-1"></i> Minha Conta</a>
                                        {% if _session.sampel_user_id %}
                                            {% if 'view' in permissions.eventos or permissions == 'all' %}
                                                <a class="dropdown-item" href="{{ DOMAIN }}/eventos"><i class="fa-thin fa-lg fa-stars"></i> Eventos</a>
                                            {% endif %}
                                        {% endif %}
                                        <a class="dropdown-item" href="{{ DOMAIN }}/logout"><i class="fa-light fa-right-from-bracket me-1"></i> Sair</a>
                                        {% else %}
                                        <a class="dropdown-item" href="{{ DOMAIN }}/painel" target="_blank"><i class="fa-light fa-user me-1"></i> Painel Admin</a>
                                        <a class="dropdown-item" href="{{ DOMAIN }}/minha-conta/edit-account"><i class="fa-light fa-user me-1"></i> Minha Conta</a> 
                                        {% if _session.sampel_user_id %}
                                            {% if 'view' in permissions.eventos or permissions == 'all' %}
                                                <a class="dropdown-item" href="{{ DOMAIN }}/eventos"><i class="fa-thin fa-lg fa-stars"></i> Eventos</a>
                                            {% endif %}
                                        {% endif %}                                       
                                        <a class="dropdown-item" href="{{ DOMAIN }}/logout"><i class="fa-light fa-right-from-bracket me-1"></i> Sair</a>
                                        {% endif %}
                                    </div>
                                </li>
                            {% else %}
                                <li class="d-block d-md-none">
                                    <a href="{{ DOMAIN }}/minhas-inscricoes"><i class="fa-light fa-file-certificate"></i> Inscrições</a>
                                </li>
                                <li>
                                    <a href="{{ DOMAIN }}/login"><i class="fa-solid fa-unlock-alt me-2"></i>Entrar</a>
                                </li>
                            {% endif %}
                        </ul>

                    </nav>

                    <div class="modal" id="navbarContent" tabindex="-1">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-body p-0">
                                    <ul id="main-menu" class="wbc_menu mobile nav justify-content-start flex-column py-2">

                                        <li class="menu-item {{ menu == 'home' ? 'current-menu-item' }}">
                                            <a href="{{ DOMAIN }}" class="py-2"><i class="fa-light fa-house-chimney"></i> Home</a>
                                        </li>

                                        {% if 'view' in permissions.eventos or permissions == 'all' %}
                                        <li class="menu-item {{ menu == 'eventos' ? 'current-menu-item' }}">
                                            <a href="{{ DOMAIN }}/eventos" class="py-2"><i class="fa-thin fa-lg fa-stars"></i> Eventos</a>
                                        </li>
                                        {% endif %}

                                        {% if 'view' in permissions.visitas or permissions == 'all' %}
                                        <li class="menu-item {{ menu == 'visitas' ? 'current-menu-item' }}">
                                            <a href="javascript:void(0)" class="submenu py-2"><i class="fa-sharp fa-light fa-calendars"></i> Visitas <i class="fa-light fa-chevron-down float-end mt-1"></i></a>
                                            <ul class="sub-menu">
                                                <li><a href="{{ DOMAIN }}/visitas">Minhas Visitas</a></li>
                                                <li><a href="{{ DOMAIN }}/visitas/outras">Outras Visitas</a></li>
                                                <li><a href="{{ DOMAIN }}/visitas/concluidas">Visitas Concluídas</a></li>
                                                <li><a href="{{ DOMAIN }}/visitas/relatorios">Relatórios Gerais</a></li>
                                            </ul>
                                        </li>
                                        {% endif %}

                                        {% if 'view' in permissions.palestras or permissions == 'all' %}
                                        <li class="menu-item {{ menu == 'palestras' ? 'current-menu-item' }}">
                                            <a href="javascript:void(0);" class="submenu py-2"><i class="fa-thin fa-microphone-lines"></i> Palestras  <i class="fa-light fa-chevron-down float-end mt-1"></i></a>
                                            <ul class="sub-menu">
                                                <li><a href="{{ DOMAIN }}/palestras">Lista de Palestras</a></li>
                                                {% if 'add' in permissions.palestras or permissions == 'all' %}
                                                <li><a href="{{ DOMAIN }}/palestras/cadastro">Criar nova Palestra</a></li>
                                                <li><a href="{{ DOMAIN }}/palestras/relatorios">Relatórios Gerais</a></li>
                                                {% endif %}
                                            </ul>
                                        </li>
                                        {% endif %}

                                        {% if 'view' in permissions.equipes or permissions == 'all' %}
                                        <li class="menu-item {{ menu == 'equipes' ? 'current-menu-item' }}">
                                            <a href="{{ DOMAIN }}/equipes" class="py-2"><i class="fa-thin fa-users"></i> Equipes</a>
                                        </li>
                                        {% endif %}

                                        {% if 'view' in permissions.pedidos or permissions == 'all' %}
                                        <li class="menu-item {{ menu == 'pedidos' ? 'current-menu-item' }}">
                                            <a href="{{ DOMAIN }}/pedidos" class="text-success py-2"><i class="fa-thin fa-box-open-full"></i> Pedidos</a>
                                        </li>
                                        {% endif %}

                                        <li class="menu-item {{ menu == 'equipes' ? 'current-menu-item' }}">
                                            <a href="{{ DOMAIN }}/equipes" class="py-2"><i class="fa-thin fa-users"></i> Equipes</a>
                                        </li>
                                        <li class="menu-item d-none">
                                            <a href="{{ DOMAIN }}/certificados/visita" class="py-2"><i class="fa-light fa-file-certificate"></i> Certificados</a>
                                        </li>
                                        <li class="menu-item">
                                            <a href="{{ DOMAIN }}/minhas-inscricoes" class="py-2"><i class="fa-light fa-file-certificate"></i> Suas inscrições</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</header>