<header class="wbc-sticky wbc-nomenu-shadow wbc-sticky-img-logo header-bar mobile-menu">
    <div class="sticky-menu">
        <div class="menu-bar-wrapper">
            <div class="container">

                <div class="header-inner d-flex justify-content-between align-items-center mt-2">
                  
                    <div class="site-logo-title">
                      <a href="{{ DOMAIN }}" class="text-center">
                        <img class="wbc-main-logo" src="{{ PATH }}/view/src/media/logo.png" alt="Sampel">
                      </a>
                    </div>

                    <nav class="primary-menu flex-fill">
                        <ul id="main-menu" class="wbc_menu nav justify-content-center">
                            <li class="menu-item {{ menu == 'home' ? 'current-menu-item' }}">
                                <a href="{{ DOMAIN }}" class="ps-0"><i class="fa-thin fa-house-chimney"></i> Home</a>
                            </li>
                            {% if _session.sampel_user_id %}
                                <li class="menu-item {{ menu == 'areas' ? 'current-menu-item' }}">
                                    <a href="javascript:void(0)"><i class="fa-sharp fa-thin fa-calendars"></i> Visitas</a>
                                    <ul>
                                        <li><a href="{{ DOMAIN }}/visitas">Minhas Visitas</a></li>
                                        <li><a href="{{ DOMAIN }}/visitas/outras">Outras Visitas</a></li>
                                        <li><a href="{{ DOMAIN }}/visitas/concluidas">Visitas Concluídas</a></li>
                                        <li><a href="{{ DOMAIN }}/visitas/relatorios">Relatórios Gerais</a></li>
                                    </ul>
                                </li>
                                {# <li class="menu-item {{ menu == 'areas' ? 'current-menu-item' }}">
                                    <a href="{{ DOMAIN }}/agendamentos"><i class="fa-thin fa-stars"></i> Eventos</a>
                                    <ul>
                                        <li><a href="{{ DOMAIN }}/agendamentos">Minhas Visitas</a></li>
                                        <li><a href="{{ DOMAIN }}/agendamentos/concluidas">Visitas Concluídas</a></li>
                                    </ul>
                                </li>
                                <li class="menu-item {{ menu == 'areas' ? 'current-menu-item' }}">
                                    <a href="{{ DOMAIN }}/agendamentos"><i class="fa-thin fa-microphone-lines"></i> Palestras</a>
                                    <ul>
                                        <li><a href="{{ DOMAIN }}/agendamentos">Minhas Visitas</a></li>
                                        <li><a href="{{ DOMAIN }}/agendamentos/concluidas">Visitas Concluídas</a></li>
                                    </ul>
                                </li> #}
                            {% endif %}
                            <li class="menu-item">
                                <a href="{{ DOMAIN }}/certificados/visita"><i class="fa-thin fa-file-certificate"></i> Certificados</a>
                            </li>
                        </ul>
                    </nav>

                    <nav class="">
                        
                        <ul id="main-menu" class="wbc_menu d-flex d-flex justify-content-end align-items-center m-0">
                            <li class="d-inline-block d-sm-none">
                                <button class="navbar-toggler" type="button" data-bs-toggle="modal" data-bs-target="#navbarContent" aria-controls="navbarContent">
                                    <i class="fa-solid fa-bars fa-lg"></i>
                                </button>
                            </li>
                            {% if _session.sampel_user_id %}

                                <li class="menu-item">
                                    <a class="nav-link dropdown-toggle dropdown-user-link d-flex align-items-center" id="dropdown-user" href="#" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <div class="d-flex justify-content-end align-items-center">
                                            <div class="text-end me-2 d-none d-sm-block">
                                                <div class="lh-sm">{{ _session.sampel_user_nome | AbreviarNome }}</div>
                                            </div>
                                            <i class="fa-thin fa-circle-user fa-3x"></i>
                                        </div>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-end user-menu" aria-labelledby="dropdown-user">
                                        {% if (_session.sampel_user_tipo != 1) %}
                                        <a class="dropdown-item" href="{{ DOMAIN }}/minha-conta"><i class="fa-light fa-user me-1"></i> Minha Conta</a>
                                        <a class="dropdown-item" href="{{ DOMAIN }}/logout"><i class="fa-light fa-right-from-bracket me-1"></i> Sair</a>
                                        {% else %}
                                        <a class="dropdown-item" href="{{ DOMAIN }}/painel"><i class="fa-light fa-user me-1"></i> Painel Admin</a>
                                        <a class="dropdown-item" href="{{ DOMAIN }}/minha-conta/edit-account"><i class="fa-light fa-user me-1"></i> Minha Conta</a>                                        
                                        <a class="dropdown-item" href="{{ DOMAIN }}/logout"><i class="fa-light fa-right-from-bracket me-1"></i> Sair</a>
                                        {% endif %}
                                    </div>
                                </li>

                            {% else %}
                                <li>
                                    <a href="{{ DOMAIN }}/login"><i class="fa-solid fa-unlock-alt me-2"></i>Entrar</a>
                                </li>
                                <li class="d-none">
                                    <a href="{{ DOMAIN }}/cadastro"><i class="fa-solid fa-user-tie me-2"></i>Cadastre-se</a>
                                </li>
                            {% endif %}
                        </ul>

                    </nav>

                    <div class="modal" id="navbarContent" tabindex="-1">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-body p-0">
                                    <ul id="main-menu" class="wbc_menu mobile nav justify-content-start flex-column py-2">
                                        <li class="menu-item border-bottom {{ menu == 'home' ? 'current-menu-item' }}">
                                            <a href="{{ DOMAIN }}" class="py-2"><i class="fa-light fa-house-chimney"></i> Home</a>
                                        </li>
                                        {% if _session.sampel_user_id %}
                                            <li class="menu-item border-bottom {{ menu == 'areas' ? 'current-menu-item' }}">
                                                <a href="javascript:void(0)" class="submenu py-2"><i class="fa-sharp fa-light fa-calendars"></i> Visitas <i class="fa-light fa-chevron-down float-end mt-1"></i></a>
                                                <ul class="sub-menu">
                                                    <li><a href="{{ DOMAIN }}/visitas">Minhas Visitas</a></li>
                                                    <li><a href="{{ DOMAIN }}/visitas/outras">Outras Visitas</a></li>
                                                    <li><a href="{{ DOMAIN }}/visitas/concluidas">Visitas Concluídas</a></li>
                                                    <li><a href="{{ DOMAIN }}/visitas/relatorios">Relatórios Gerais</a></li>
                                                </ul>
                                            </li>
                                            {# <li class="menu-item {{ menu == 'areas' ? 'current-menu-item' }}">
                                                <a href="{{ DOMAIN }}/agendamentos" class="py-2"><i class="fa-light fa-stars"></i> Eventos <i class="fa-light fa-chevron-down float-end mt-1"></i></a>
                                                <ul>
                                                    <li><a href="{{ DOMAIN }}/agendamentos">Minhas Visitas</a></li>
                                                    <li><a href="{{ DOMAIN }}/agendamentos/concluidas">Visitas Concluídas</a></li>
                                                </ul>
                                            </li>
                                            <li class="menu-item {{ menu == 'areas' ? 'current-menu-item' }}">
                                                <a href="{{ DOMAIN }}/agendamentos" class="py-2"><i class="fa-light fa-microphone-lines"></i> Palestras <i class="fa-light fa-chevron-down float-end mt-1"></i></a>
                                                <ul>
                                                    <li><a href="{{ DOMAIN }}/agendamentos">Minhas Visitas</a></li>
                                                    <li><a href="{{ DOMAIN }}/agendamentos/concluidas">Visitas Concluídas</a></li>
                                                </ul>
                                            </li> #}
                                        {% endif %}
                                        <li class="menu-item border-bottom">
                                            <a href="{{ DOMAIN }}/certificados/visita" class="py-2"><i class="fa-light fa-file-certificate"></i> Certificados</a>
                                        </li>
                                        <li class="menu-item">
                                            <a href="{{ DOMAIN }}/certificados/visita" class="py-2"><i class="fa-light fa-file-certificate"></i> Suas inscrições</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</header>