<header class="wbc-sticky wbc-nomenu-shadow wbc-sticky-img-logo header-bar mobile-menu">
    <div class="sticky-menu">
        <div class="menu-bar-wrapper">
            <div class="container">

                <div class="header-inner d-flex justify-content-between align-items-center mt-2">

                    <nav class="primary-menu flex-fill">
                        <ul id="main-menu" class="wbc_menu">
                            <li class="menu-item {{ menu == 'home' ? 'current-menu-item' }}">
                                <a href="{{ DOMAIN }}" class="ps-0"><i class="fas fa-house-chimney"></i> Home</a>
                            </li>
                            <li class="menu-item {{ menu == 'areas' ? 'current-menu-item' }}">
                                <a href="https://www.sampel.com.br/empresa"><i class="fab fa-fort-awesome"></i> Empresa</a>
                            </li>
                            <li class="menu-item {{ menu == 'produtos' ? 'current-menu-item' }}">
                                <a href="https://buscanarede.com.br/sampel"><i class="fas fa-globe"></i> Catálogos</a>
                            </li>
                        </ul>
                    </nav>

                    <div class="site-logo-title flex-fill">
                      <a href="{{ DOMAIN }}" class="text-center">
                        <img class="wbc-main-logo" src="{{ PATH }}/view/src/media/logo.png" alt="Sampel">
                      </a>
                    </div>

                    <nav class="flex-fill">
                        <ul id="main-menu" class="wbc_menu d-flex d-flex justify-content-end align-items-center m-0">
                            {% if _session.sampel_user_id %}

                                <li class="menu-item">
                                    <a class="nav-link dropdown-toggle dropdown-user-link d-flex align-items-center" id="dropdown-user" href="#" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <div class="d-flex justify-content-end align-items-center">
                                            <div class="text-end me-2 d-none d-sm-block">
                                                <div class="lh-sm">{{ _session.sampel_user_nome }}</div>
                                                <div class="lh-sm text-white-50"><small>{{ _session.sampel_user_email }}</small></div>
                                            </div>
                                            <i class="fa-thin fa-circle-user fa-3x"></i>
                                        </div>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-end user-menu" aria-labelledby="dropdown-user">
                                        {% if (_session.sampel_user_tipo == 3) %}
                                        <a class="dropdown-item" href="{{ DOMAIN }}/minha-conta"><i class="fa-light fa-user me-1"></i> Minha Conta</a>
                                        <a class="dropdown-item" href="{{ DOMAIN }}/logout"><i class="fa-light fa-right-from-bracket me-1"></i> Sair</a>
                                        {% else %}
                                        <a class="dropdown-item" href="{{ DOMAIN }}/painel"><i class="fa-light fa-user me-1"></i> Painel Admin</a>
                                        <a class="dropdown-item" href="{{ DOMAIN }}/minha-conta/edit-account"><i class="fa-light fa-user me-1"></i> Minha Conta</a>                                        
                                        <a class="dropdown-item" href="{{ DOMAIN }}/logout"><i class="fa-light fa-right-from-bracket me-1"></i> Sair</a>
                                        {% endif %}
                                    </div>
                                </li>

                            {% else %}
                                <li>
                                    <a href="{{ DOMAIN }}/login"><i class="fa-solid fa-unlock-alt me-2"></i>Entrar</a>
                                </li>
                                <li class="d-none">
                                    <a href="{{ DOMAIN }}/cadastro"><i class="fa-solid fa-user-tie me-2"></i>Cadastre-se</a>
                                </li>
                            {% endif %}
                        </ul>
                    </nav>

                </div>

            </div>
        </div>
    </div>
</header>