<div class="card">
    <div class="card-body">
        <div class="d-flex flex-column mb-3">
            <div class="d-flex justify-content-between align-items-center">
                <h2 class="mb-0">Pagamentos por Mês</h2>
                <small class="text-body">Referente ao ano de 2024.</small>
            </div>
        </div>
        <div class="chart mb-4">
            {% for pagamentos in pagamentosMes %}                
                <div class="coluna lista-mes-contratos">
                    <div class="barra">
                        <div class="barra-valores {{ "now"|date("n")  == pagamentos.mes ? 'active' }}" style="height:{{ min(pagamentos.porcentagem_valor * 5, 100) }}%;" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="R$ {{ pagamentos.total_valor|number_format(2, ',', '.') }}"></div>
                        <div class="barra-parcelas {{ "now"|date("n")  == pagamentos.mes ? 'active' }}" style="height:{{ min(pagamentos.porcentagem * 5, 100) }}%;" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="{{ pagamentos.qtd_pagamentos }}"></div>
                    </div>
                    <div class="w-100 text-center">
                        <div>{{ pagamentos.mes|MesAbreviado }}</div>
                        <div class="text-primary">{{ pagamentos.qtd_pagamentos }}</div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>