<div class="card">
    <div class="card-body">
        <div class="d-flex flex-column mb-3">
            <div class="d-flex justify-content-between align-items-center">
                <h2 class="mb-0">Pagamentos por Mês</h2>
                <small class="text-body">Referente ao ano de {{ _get.ano ? _get.ano:  "now"|date("Y") }}.</small>
            </div>
        </div>
        <div class="chart mb-5">
            {% set anoAtual = "now"|date("Y") %}
            {% set anoSelecionado = _get.ano is defined ? _get.ano : anoAtual %}

            {% for pagamentos in pagamentosMes %}
            
                {% set ativo = '' %}
                {% if anoSelecionado == anoAtual %}
                    {% if "now"|date("n") == pagamentos.mes %}
                        {% set ativo = 'active' %}
                    {% endif %}
                {% else %}
                    {% if loop.first %}
                        {% set ativo = 'active' %}
                    {% endif %}
                {% endif %}

                <div class="coluna lista-mes-contratos">
                    <div class="barra" data-periodo="{{ pagamentos.periodo.primeiro_dia }}/{{ pagamentos.periodo.ultimo_dia }}">
                        <div class="barra-valores {{ ativo }}" style="height:{{ min(pagamentos.porcentagem_valor * 5, 100) }}%;" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="R$ {{ pagamentos.total_valor|number_format(2, ',', '.') }}"></div>
                        <div class="barra-parcelas {{ ativo }}" style="height:{{ min(pagamentos.porcentagem * 5, 100) }}%;" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="{{ pagamentos.qtd_pagamentos }}"></div>
                    </div>
                    <div class="w-100 text-center">
                        <div>{{ pagamentos.mes|MesAbreviado }}</div>
                        <div class="text-primary">{{ pagamentos.qtd_pagamentos }}</div>
                    </div>
                </div>
            {% endfor %}

        </div>
        <hr>
        <div class="d-flex justify-content-between">
            <div class="d-flex justify-content-start">
                <div class="avatar-initial rounded bg-label-warning p-1 me-1"><i class="fa-regular fs-1 fa-cash-register"></i></div>
                <div>
                    <div><h4>Valores Pagos</h4></div>
                    <div>R$ <span id="mes-pago">{{ valorPagoMes|number_format(2, ',', '.') }}</span></div>
                </div>
            </div>
            <div class="d-flex justify-content-start">
                <div class="avatar-initial rounded bg-label-danger p-1 me-1"><i class="fa-solid fs-1 fa-xmark-to-slot"></i></div>
                <div>
                    <div><h4>Valores não Pagos</h4></div>
                    <div>R$ <span id="mes-nao-pago">{{ valorNaoPagoMes|number_format(2, ',', '.') }}</span></div>
                </div>
            </div>
        </div>
    </div>
</div>