{% extends "layout/layoutPanel.twig" %}

{% block title %}Lista de Eventos{% endblock %}

{% block body %}

    <!-- BEGIN: Content-->
    <div class="app-content content ">
        <div class="content-overlay"></div>
        <div class="header-navbar-shadow"></div>
        <div class="content-wrapper">
            <div class="content-header row">
            </div>
            <div class="content-body">
                <!-- Dashboard Ecommerce Starts -->
                <section id="dashboard-ecommerce">

                    <div class="row match-height">

                        <div class="col-lg-12 col-12">
                            <div class="card card-company-table">
                                <div class="card-header">
                                    <h5 class="card-title">Lista de Eventos</h5>
                                    <div class="heading-elements">
                                        {% if 'add' in permissions.eventos or permissions == 'all' %}
                                            <a class="btn btn-primary" href="javascript:void(0)" data-bs-remote="{{ DOMAIN }}/painel/eventos/add" data-bs-toggle="offcanvas" data-bs-target="#formEvent" aria-controls="formEvent"><i class="fa-regular fa-plus"></i> Add Nova</a>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table dataTable_list">
                                            <thead>
                                                <tr>
                                                    <th>Evento</th>
                                                    <th>Local</th>
                                                    <th class="text-end">Data da Evento</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for evento in eventos %}
                                                <tr>
                                                    <td>
                                                        <a href="{{ DOMAIN }}/painel/eventos/view/{{ evento.id }}" class="text-uppercase"><i class="fa-solid fa-thumbtack"></i> <b>{{ evento.nome_evento }}</b></a>
                                                        <div>
                                                            {% if 'add' in permissions.eventos or permissions == 'all' %}
                                                                <a href="javascript:void(0)" data-bs-remote="{{ DOMAIN }}/painel/eventos/edit/{{ evento.id }}" class="text-warning" data-bs-toggle="offcanvas" data-bs-target="#formEvent"><i class="fa-solid fa-pen-to-square"></i> Editar Evento</a>
                                                            {% endif %}
                                                            <span class="mx-05">|</span>
                                                            <a href="{{ DOMAIN }}/painel/eventos/orcamento/{{ evento.id }}" class="text-success"><i class="fa-solid fa-coins"></i> Orçamento</a>
                                                        </div>
                                                    </td>
                                                    <td class="no-mobile">
                                                        {{ evento.local_evento }}
                                                        <div class="text-white-50"><small>{{ evento.cidade_evento }}, {{ evento.estado_evento }}</small></div>
                                                    </td>
                                                    <td class="text-end">
                                                        <i class="fa-solid fa-calendar-days"></i> <span class="fw-bold">{{ evento.data_evento_inicio | date("d-m-Y") }}</span>
                                                        <div><i class="fa-solid fa-calendar-days"></i> <span class="fw-bold">{{ evento.data_evento_fim | date("d-m-Y") }}</span></div>
                                                    </td>
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </section>

            </div>
        </div>
    </div>

    <div class="offcanvas offcanvas-end" id="formEvent" aria-labelledby="formEventLabel">
        <div class="offcanvas-body">
            Carregando...
        </div>
    </div>
    
    <script src="{{ PATH }}/view/painel/src/js/scripts/pages/eventos.js"></script>
{% endblock %}