<div style="background-color: #ebedf0;font-family: 'helvetica';margin: 0 auto 0 auto;padding: 0;word-spacing: normal;">
    <table border="0" width="100%" style="width:100%;max-width:750px;margin: 0 auto;padding: 25px;background-color: #2458a9;">
        <tbody>
            <tr>
                <td>
                    <center><br><img src="{{ DOMAIN }}/view/src/media/logo.png" width="200" style="margin: 0 0 15px"><br></center>
                </td>
            </tr>
            <tr>
                <table border="0" width="100%" style="width:100%;max-width:750px;margin: 0 auto;background: #FFF;padding: 50px 50px;">
                    <tr>
                        <td>
                            <div style="text-align: center;"><h2>{{ visita.title }}</h2></div>
                           	
                           	<br>
                           	<div><b>Coordenação:</b> {{ visita.nome }}</div>
                           	<div><b>Data e Horário:</b> {{ visita.data_visita|date("d") }} de {{ visita.data_visita|date("F")|monthTranslate }} de {{ visita.data_visita|date("Y") }}, às {{ visita.horario_visita }}</div>
                           	<div><b>Número Estimado de Participantes:</b> {{ visita.qtd_visitas }} pessoas</div>
                           	<div><b>Local:</b> Parque Fabril Sampel</div>
                            
                            <br>
                           	<div>
                           		<div><b>Cronograma:</b></div>
                           		<br>
								<div>{{ visita.descricao }}</div>
                           	</div>
                           	
                           	<br>

                            <div><b>Equipe Organizadora ({{ equipes|length }} integrantes):</b></div>
							<ul>
								{% for equipe in equipes %}
								<li><b>{{ equipe.nome }} -</b> {{ equipe.setor }}</li>
								{% endfor %}
							</ul>

							<br>
                            <div>Informamos também que a notificação sobre o evento foi disseminada entre todos os membros da equipe.</div>

                            <br>
                            <div><i>Para quaisquer esclarecimentos adicionais, permaneço à disposição.</i></div>
                            <a href="mailto:souza.marketing@sampel.com.br">souza.marketing@sampel.com.br</a>
                        </td>
                    </tr>
                </table>
            </tr>
        </tbody>
    </table>
</div>