{% extends "layout/layoutPanel.twig" %}

{% block title %}56 minutos - Configurações de Horários{% endblock %}

{% block body %}

    <!-- BEGIN: Content-->
    <div class="app-content content ">
        <div class="content-overlay"></div>
        <div class="header-navbar-shadow"></div>
        <div class="content-wrapper">
            <div class="content-header row">
            </div>
            <div class="content-body">
                <!-- Dashboard Ecommerce Starts -->
                <section id="dashboard-ecommerce">

                    <div class="row match-height">

                        <div class="col-lg-6 col-12">
                            <div class="card card-company-table">
                                <div class="card-header card-header-post">
                                    <h5 class="card-title">Configurações de Horários</h5>
                                </div>
                                <div class="card-body">
                                    <form class="form" method="POST" id="horarios" action="javascript:void(0)">

                                        {% if(dias[0].dia != '') %}
                                            <!-- UPDATE -->
                                            {% for horario in dias %}
                                                <div class="row justify-content-between">
                                                    <div class="col-md-4 col-sm-12 form-group">
                                                        <label class="form-label">Dia</label>
                                                        <input type="hidden" name="id[]" value="{{ horario.id }}">
                                                        <input type="hidden" class="form-control" name="dia[]" value="{{ horario.dia }}" readonly>
                                                        <input type="text" class="form-control" name="dia_completo[]" value="{{ horario.dia|dayTranslate }}" readonly>
                                                    </div>
                                                    <div class="col-md-4 col-sm-12 form-group">
                                                        <label class="form-label">Início</label>
                                                        <select name="inicio[]" class="form-select">
                                                            {% for hora in horarios %}
                                                                <option value="{{ hora }}" {{ (horario.horario_inicio == hora) ? 'selected' }}>{{ hora }}</option>
                                                            {% endfor %}
                                                        </select>
                                                    </div>
                                                    <div class="col-md-4 col-sm-12 form-group">
                                                        <label class="form-label">Fim</label>
                                                        <select name="fim[]" class="form-select">
                                                            {% for hora in horarios %}
                                                                <option value="{{ hora }}" {{ (horario.horario_fim == hora) ? 'selected' }}>{{ hora }}</option>
                                                            {% endfor %}
                                                        </select>
                                                    </div>
                                                </div>
                                            {% endfor %}

                                        {% else %}
                                            <!-- CADASTRO -->
                                            {% for dia in dias %}
                                                <div class="row justify-content-between">
                                                    <div class="col-md-4 col-sm-12 form-group">
                                                        <label class="form-label">Dia</label>
                                                        <input type="hidden" class="form-control" name="dia[]" value="{{ dia }}" readonly>
                                                        <input type="text" class="form-control" name="dia_completo[]" value="{{ dia|dayTranslate }}" readonly>
                                                    </div>
                                                    <div class="col-md-4 col-sm-12 form-group">
                                                        <label class="form-label">Início</label>
                                                        <select name="inicio[]" class="form-select">
                                                            {% for hora in horarios %}
                                                                <option value="{{ hora }}">{{ hora }}</option>
                                                            {% endfor %}
                                                        </select>
                                                    </div>
                                                    <div class="col-md-4 col-sm-12 form-group">
                                                        <label class="form-label">Fim</label>
                                                        <select name="fim[]" class="form-select">
                                                            {% for hora in horarios %}
                                                                <option value="{{ hora }}">{{ hora }}</option>
                                                            {% endfor %}
                                                        </select>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        {% endif %}




                                        <div class="mt-2 pb-2">
                                            <button type="submit" class="btn btn-primary ">SALVAR ALTERAÇÕES</button>
                                        </div>

                                     </form>
                                </div>
                            </div>
                        </div>

                    </div>

                </section>

            </div>
        </div>
    </div>

    <script src="{{ PATH }}/view/painel/src/js/scripts/pages/horarios.js"></script>

{% endblock %}