{% extends "layout/layoutPanel.twig" %}

{% block title %}Feedback Estatísticas{% endblock %}

{% block body %}

<link rel="stylesheet" type="text/css" href="{{ DOMAIN }}/view/painel/src/vendors/highcharts/highcharts.css" media="all"/>
<link rel="stylesheet" type="text/css" href="{{ DOMAIN }}/view/painel/src/vendors/highcharts/daterangepicker.css" media="all"/>
<script src="{{ DOMAIN }}/view/painel/src/vendors/highcharts/highcharts.js"></script>
<script src="{{ DOMAIN }}/view/painel/src/vendors/highcharts/exporting.js"></script>
<script src="{{ DOMAIN }}/view/painel/src/vendors/highcharts/moment.min.js"></script>
<script src="{{ DOMAIN }}/view/painel/src/vendors/highcharts/daterangepicker.js"></script>


<!-- BEGIN: Content-->
<div class="app-content content ">

    <div class="row">
        {% for pergunta in perguntas %}
            <div class="col-md-6">
                <div class="card card-company-table">
                    <div class="card-body">

                        {% if pergunta.tipo == 'Estrela' %}
                            {{ include('painel/pages/feedback/painel-estrela.twig') }}
                        {% endif %}

                        {% if pergunta.tipo == 'Texto' %}
                            {{ include('painel/pages/feedback/painel-texto.twig') }}
                        {% endif %}

                    </div>
                </div>
            </div>
        {% endfor %}

    </div>
    

</div>


<script src="{{ PATH }}/view/painel/src/js/scripts/pages/feedback.js"></script>

{% endblock %}