{% extends "layout/layoutMaster.twig" %}

{% block title %} Agendar {% endblock %}

{% block body %}

<div class="container py-5">
	
	<session>

		<div class="mb-4 d-flex justify-content-between">
			<div>
				<h3>Preencha o formulário para agendar a sua visita.</h3>
				<div>Campos marcados com asterisco ( <span class="text-danger">*</span> ) são obrigatórios.</div>
			</div>
			<div>
				<a href="javascript:void(0)" class="rounded-pill btn btn-lg btn-light" data-bs-toggle="modal" data-bs-target="#visita_regras">REGRAS PARA VISITA</a>
			</div>
		</div>

		<hr>

		<form action="javascript:void(0)" id="cadastrar_visita" method="POST">

			<div class="row">

				<div class="col-md-6 col-sm-12 col-12">
					<div class="position-relative cadastrar_visita">

						<div class="form-load"><i class="fa-solid fa-spinner fa-spin-pulse"></i></div>
						<div class="mb-3">
							<label for="title" class="form-label">Título da Vísita <span class="text-danger">*</span></label>
							<input type="text" name="title" class="form-control" id="title" required>
						</div>

						<div class="">

							<div class="row">
								<div class="mb-3 col-md-6 col-sm-12 col-12">
									<label for="solicitante" class="form-label">Nome do Solicitante<span class="text-danger">*</label>
									<input type="text" name="solicitante" class="form-control" id="solicitante">
								</div>
								<div class="mb-3 col-md-6 col-sm-12 col-12">
									<label for="solicitante" class="form-label">Email do Solicitante<span class="text-danger">*</label>
									<input type="text" name="solicitante_email" class="form-control" id="solicitante_email">
								</div>
							</div>


							<div class="row">
								<div class="mb-3 col-md-4 col-sm-12 col-12">
									<label for="qtd_visitas" class="form-label">Selecione seu Estado</label>
									<select class="form-control" name="estado" id="estado">
										<option>SELECIONE</option>
										{% for estado in estados %}
											<option data-min="{{ estado.limit_min }}" data-max="{{ estado.limit }}" value="{{ estado.sigla }}">{{ estado.estado }}</option>
	                                    {% endfor %}
									</select>
								</div>
								<div class="mb-3 col-md-4 col-sm-12 col-12">
									<label for="data_visita" class="form-label">Data da Visita <i class="fa-solid fa-circle-question" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="A data poderá ser alterada pela Sampel dependo de disponibilidade ou outros fatores."></i></label>
									<input type="date" name="data_visita" class="form-control" id="data_visita">
								</div>
								<div class="mb-3 col-md-4 col-sm-12 col-12">
									<label for="data_close" class="form-label">Término das Inscrições</label>
									<input type="date" name="data_close" class="form-control" id="data_close">
								</div>
							</div>

							<div class="row digitar_qtd" style="display:none">
								<div class="mb-3 col-md-12 col-sm-12 col-12">
									<label for="qtd_visitas" class="form-label">Quantidade máxima</label>
									<input type="text" name="qtd_visitas" class="form-control" id="qtd_visitas">
								</div>
							</div>

							<div class="alert alert-success qty" role="alert" style="display: none;">
								<div class="mb-2">Número mínimo e máximo para seu Estado:</div>
								<div>
									<span class="me-4"><b>MÍNIMO: </b><span class="minimo"></span></span><span><b>MÁXIMO: </b><span class="maximo"></span></span>
								</div>
							</div>

						</div>

						<div class="mb-3">
							<label for="descricao" class="form-label">Descreva por completo os objetivos para esse agendamento de visita.</label>
							<textarea id="descricao" class="form-control" name="descricao" rows="5"></textarea>
						</div>
						<div class="mb-3">
							<button type="submit" class="rounded-pill btn btn-lg btn-light"><i class="fa-light fa-paper-plane"></i> ENVIAR CADASTRO</button>
						</div>

					</div>
					<div class="cadastrar_visita_success mt-4">
						<div class="alert alert-primary" role="alert">
							<div><h4>Agendamento enviado com sucesso!</h4></div>
							Seu agentamento precisa chegar a quantidade <b>mínima de <span class="minimo">1</span></b> para ser aprovado, com um <b>máximo de <span class="maximo"></span></b> inscrições. Enquanto isso, compartilhe o link de inscrição abaixo para as pessoas poderem se inscrever em seu agendamento.
							<div>

								<a href="javascript:void(0);" class="btn btn-warning mt-2" data-bs-toggle="modal" data-bs-target="#shared"><i class="fa-regular fa-arrow-up-right-from-square"></i> COMPARTILHAR URL DO AGENDAMENTO</a>
								
								<div class="modal fade" id="shared" tabindex="-1" aria-labelledby="shared" aria-hidden="true">
									<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
										<div class="modal-content text-black">
											<div class="modal-body p-0">
												<div class="row mx-0">
													<div class="col-12 col-lg-5 bg-primary d-flex flex-column justify-content-center py-5 px-4">
														<h4 class="h3 text-white text-uppercase mb-3">
															<strong>Compartilhar agendamento</strong>
														</h4>
														<p class="text-white mb-0">Selecione as opções ao lado para compartilhar esse agendamento nas
															redes sociais</p>
													</div>
													<div class="col-12 col-lg-7 pt-4 pb-5 pt-lg-5 mt-lg-3">
														<a href="javascript:void(0);" class="btn-close position-absolute top-0 end-0 pt-4 px-3" data-bs-dismiss="modal" aria-label="Close"></a>
														<div class="d-flex flex-column">
															<div class="border-bottom">
																<a href="javascript:void(0);" class="text-start btn btn-white py-3 w-100 share_link_click" data-link="" onclick="copyClip()">
																	<i class="fa-solid fa-link"></i> <span class="ms-2">Copiar link</span>
																</a>
															</div>
															<div class="border-bottom">
																<a target="_blank" href="" class="share_link_facebook text-start btn btn-white py-3 w-100">
																	<i class="fa-brands fa-facebook-f"></i> <span class="ms-2">Compartilhar no Facebook</span>
																</a>
															</div>
															<div class="border-bottom">
																<a target="_blank" href="" class="share_link_twitter text-start btn btn-white py-3 w-100">
																	<i class="fa-brands fa-twitter"></i> <span class="ms-2">Compartilhar no Twitter</span>
																</a>
															</div>
															<div>
																<a target="_blank" href="" class="share_link_whatsapp text-start btn btn-white py-3 w-100">
																	<svg width="18" fill="#000" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 40.01"><path d="M21.171,40.01H18.983c-.568-.064-1.137-.114-1.7-.193A19.541,19.541,0,0,1,9.329,36.9a.724.724,0,0,0-.687-.089c-1.332.441-2.67.864-4.006,1.292-1.084.347-2.168.691-3.308,1.055.051-.167.082-.275.118-.382.726-2.168,1.441-4.341,2.191-6.5a1.014,1.014,0,0,0-.146-1.029,19.359,19.359,0,0,1-3.4-9.47A19.108,19.108,0,0,1,2.819,9.808,19.568,19.568,0,0,1,19.16.033,18.753,18.753,0,0,1,30.192,2.814a19.706,19.706,0,0,1,9.5,13.749c.14.75.209,1.513.312,2.271v2.344c-.032.281-.064.562-.1.843a19.771,19.771,0,0,1-5,11.294A19.617,19.617,0,0,1,23.445,39.7c-.753.133-1.515.209-2.274.311M26.52,31.3l.026-.1a6.528,6.528,0,0,0,.7-.045,5.681,5.681,0,0,0,.949-.218c2.818-.99,3.779-2.342,3.856-4.963a.811.811,0,0,0-.494-.843c-1.5-.715-2.994-1.45-4.5-2.152a1.179,1.179,0,0,0-1.688.464c-.4.531-.785,1.07-1.193,1.593a1.358,1.358,0,0,1-1.936.493,15.818,15.818,0,0,1-7.665-6.782.839.839,0,0,1,.107-1.173c.391-.47.806-.92,1.207-1.382a1.549,1.549,0,0,0,.287-1.824c-.683-1.5-1.29-3.038-1.955-4.548A.97.97,0,0,0,13.7,9.3a3.316,3.316,0,0,0-3.021.4A6.209,6.209,0,0,0,8.5,15.858a11.692,11.692,0,0,0,2.189,4.824,31.069,31.069,0,0,0,5.276,5.936,20.845,20.845,0,0,0,7.685,4.019c.94.283,1.915.448,2.874.667" transform="translate(0 0)"></path></svg>
																	<span class="ms-2">Compartilhar no WhatsApp</span>
																</a>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>

							</div>
						</div>
					</div>
				</div>

				<div class="col-md-6 col-sm-12 col-12">
					
				</div>
			</div>

		</form>

	</session>

</div>

<!-- Modal -->
<div class="modal fade" id="visita_regras" tabindex="-1" aria-labelledby="visita_regrasLabel" aria-hidden="true">
  	<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
		<div class="modal-content">
			<div class="accordion" id="regras_visita">
				<div class="accordion-item">
					<h2 class="accordion-header">
						<button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#horarios_tab" aria-expanded="true" aria-controls="horarios_tab"><b>SOBRE HORÁRIOS E EVENTOS</b></button>
					</h2>
					<div id="horarios_tab" class="accordion-collapse collapse show" data-bs-parent="#regras_visita">
						<div class="accordion-body">
							<small>
								{{ config.sobre_horarios|raw }}
							</small>
						</div>
					</div>
				</div>						
				<div class="accordion-item">
					<h2 class="accordion-header">
						<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#regras_tab" aria-expanded="false" aria-controls="regras_tab"><b>REGRAS PARA VISITA NA FÁBRICA SAMPEL</b></button>
					</h2>
					<div id="regras_tab" class="accordion-collapse collapse" data-bs-parent="#regras_visita">
						<div class="accordion-body">
							<small>
								{{ config.regras_visita|raw }}
							</small>
						</div>
					</div>
				</div>
			</div>
		</div>
  	</div>
</div>

<link rel="stylesheet" href="{{ DOMAIN }}/view/painel/src/vendors/froala/css/froala_editor.min.css">
<link rel="stylesheet" href="{{ DOMAIN }}/view/painel/src/vendors/froala/css/themes/dark.css">
<script src="{{ DOMAIN }}/view/painel/src/vendors/froala/js/froala_editor.pkgd.min.js"></script>
<script src='{{ DOMAIN }}/view/painel/src/vendors/froala/js/languages/pt_br.js'></script>
<script>
if ($('#descricao').length){
	new FroalaEditor('#descricao', {
		key: "1C%kZV[IX)_SL}UJHAEFZMUJOYGYQE[\\ZJ]RAe(+%$==",
		enter: FroalaEditor.ENTER_BR,
		language: 'pt_br',
		entities: '',
		pastePlain: true,
		attribution: false,
		theme: 'dark',
		toolbarButtons: {
			'moreText': {
			'buttons': ['bold', 'italic', 'underline', 'strikeThrough', 'fontSize', 'clearFormatting'],
			'buttonsVisible': 2
			},
			'moreParagraph': {
			'buttons': ['alignLeft', 'alignCenter',  'alignRight']
			},
			'moreRich': {
			'buttons': ['emoticons', 'fontAwesome']
			}
		}
	});
}
function copyClip() {
	var copy = $('.share_link_click').attr('data-link')
	navigator.clipboard.writeText(copy);
}
</script>
{% endblock %}