{% extends "layout/layoutMaster.twig" %}

{% block title %} Agendar {% endblock %}

{% block body %}

<div class="container py-5">
	
	<session>

		<div class="mb-4">
			<h3>Preencha o formulário para agendar a sua visita.</h3>
			<div>Campos marcados com asterisco ( <span class="text-danger">*</span> ) são obrigatórios.</div>
		</div>

		<hr>

		<form action="javascript:void(0)" id="cadastrar_visita" method="POST">

			<div class="row">

				<div class="col-md-6 col-sm-12 col-12">
					<div class="position-relative cadastrar_visita">

						<div class="form-load"><i class="fa-solid fa-spinner fa-spin-pulse"></i></div>
						<div class="mb-3">
							<label for="title" class="form-label">Qual o motivo da visita? <span class="text-danger">*</span></label>
							<input type="text" class="form-control" name="title" id="title">
						</div>
						<div class="mb-3">
							<div class="row">

								<div class="col-md-6 col-sm-12 col-12">
									<label for="qtd_visitas" class="form-label">Selecione seu Estado <span class="text-danger">*</span></label>
									<select class="form-control" name="estado" id="estado">
										<option>Selecione</option>
										{% for estado in estados %}
											<option data-min="{{ estado.limit_min }}" data-max="{{ estado.limit }}" value="{{ estado.sigla }}">{{ estado.estado }}</option>
	                                    {% endfor %}
									</select>
									<input type="hidden" name="qtd_visitas"class="form-control" id="qtd_visitas">
								</div>

								<div class="col-md-6 col-sm-12 col-12">
									<label for="qtd_visitas" class="form-label">Data da Visita <span class="text-danger">*</span></label>
									<input type="datetime-local" name="data_visita" class="form-control" id="data_visita">
								</div>
							</div>
						</div>
						<div class="mb-3">
							<label for="descricao" class="form-label">Descreva por completo os objetivos para esse agendamento de visita. <span class="text-danger">*</span></label>
							<textarea id="descricao" class="form-control" name="descricao" rows="5"></textarea>
						</div>
						<div class="mb-3">
							<button type="submit" class="rounded-pill btn btn-lg btn-light"><i class="fa-light fa-paper-plane"></i> ENVIAR CADASTRO</button>
						</div>

					</div>
					<div class="cadastrar_visita_success mt-4">
						<div class="alert alert-primary" role="alert">
							<div><h4>Agendamento enviado com sucesso!</h4></div>
							Seu agentamento precisa chegar a quantidade <b>mínima de <span class="minimo">1</span></b> para ser aprovado. Enquanto isso, compartilhe o link de inscrição abaixo para as pessoas poderem se inscrever em seu agendamento.
							<div><a href="{{ DOMAIN }}/visita/inscricao/{{ visita.visita_id }}" id="share_link" class="btn btn-warning mt-2"><i class="fa-regular fa-arrow-up-right-from-square"></i> LINK DE INSCRIÇÃO</a></div>
						</div>
					</div>
				</div>

				<div class="col-md-6 col-sm-12 col-12 mt-4">
					<div class="alert alert-success qty" role="alert" style="display: none;">
						<div class="mb-2">Número mínimo e máximo para seu Estado:</div>
						<div>
							<span class="me-4"><b>MÍNIMO: </b><span class="minimo"></span></span><span><b>MÁXIMO: </b><span class="maximo"></span></span>
						</div>
					</div>
					<div class="alert alert-primary" role="alert">
						<div><h4>Aviso</h4></div>
						O número de visitantes depende do seu estado. Caso precise de um valor maior, entre em contato após criar seu agendamento.
					</div>
					<div class="alert alert-warning" role="alert">
						* Visitas devem ser maiores de 18 anos.
					</div>
				</div>
			</div>

		</form>

	</session>

</div>

{% endblock %}