<nav class="minha-conta-nav mb-3">
	<ul class="nav flex-column list-group list-group-flush">
		<li class="list-group-item {{ active == 'minha-conta' ? 'active list-group-item-dark' }}"><a href="{{ DOMAIN }}/minha-conta"><i class="fa-light fa-album-collection me-1"></i> Painel</a></li>
		<li class="list-group-item {{ active == 'visitas' ? 'active list-group-item-dark' }}"><a href="{{ DOMAIN }}/visitas"><i class="fa-light fa-calendar-check me-1"></i> Minhas Inscrições</a></li>
		<li class="list-group-item {{ active == 'agendamentos' ? 'active list-group-item-dark' }}"><a href="{{ DOMAIN }}/agendamentos"><i class="fa-light fa-calendar-check me-1"></i> Meus Agendamentos</a></li>
		<li class="list-group-item {{ active == 'edit-account' ? 'active list-group-item-dark' }}"><a href="{{ DOMAIN }}/minha-conta/edit-account"><i class="fa-light fa-pen-to-square me-1"></i> Detalhes da conta</a></li>
		<li class="list-group-item"><a href="{{ DOMAIN }}/logout"><i class="fa-light fa-right-from-bracket me-1"></i> Sair</a></li>
	</ul>
</nav>