{% extends "layout/layoutMaster.twig" %}

{% block title %}Minha Conta{% endblock %}

{% block body %}

<div class="page-title-wrap">
    <div class="container">
        <h2 class="entry-title">Minha Conta</h2>
        <ul class="breadcrumb">
            <li><a href="{{ DOMAIN }}">Home</a></li>
            <li>Minha Conta</li>
        </ul>
    </div>
</div>

<section>
	<div class="py-5">
		<div class="container">

			<div class="row">
				<div class="col-md-3 col-sm-12">
					{% include'pages/minha-conta/menu-user.twig' %}
				</div>
				<div class="col-md-9 col-sm-12">

					<div class="card">

						<div class="card-body">

							<div class=" d-flex justify-content-between mb-1">
								<h4 class="m-0">Detalhes do Pedido #{{ venda.id }}</h4>
								<div><b>Status do Pedido:</b> {{ venda.status|payStatus|raw }}</div>
							</div>
							<div class=" d-flex justify-content-between">
								<h6 class="text-primary">Codigo: {{ venda.external_reference }}</h6>
								<h6><i class="fas fa-calendar-alt"></i> {{ venda.created|date("d-m-Y H:i:s", "America/Sao_Paulo") }}</h6>
							</div>

							<div class="row">

								<div class="col-md-4 col-sm-12 mt-3">
									<label class=""><b>Detalhes do Pedido</b></label>
									<div class="border-bottom p-1 d-flex justify-content-between align-items-center">
										Subtotal:
										<span>R$ {{ venda.total|number_format(2, ',', '.') }}</span>
									</div>
									<div class="border-bottom p-1 d-flex justify-content-between align-items-center">
										Frete:
										<span>Grátis</span>
									</div>
									<div class="border-bottom p-1 d-flex justify-content-between align-items-center text-primary fs-5">
										<b>Total:</b>
										<span><b>R$ {{ venda.total|number_format(2, ',', '.') }}</b></span>
									</div>

									<div class="border-bottom p-1 d-flex justify-content-between align-items-center">
										<b>Metodo de pagamento:</b>
										<span><b>{{ venda.tipo_pg }}</b></span>
									</div>
								</div>

								<div class="col-md-4 col-sm-12 mt-3">
									<label><b>Detalhes do Usuário</b></label>
									<div class="border-bottom p-1 d-flex justify-content-between align-items-center">
										Nome:
										<span class="">{{ venda.c_nome }}</span>
									</div>
									<div class="border-bottom p-1 d-flex justify-content-between align-items-center">
										CPF:
										<span class="">{{ venda.c_cpf }}</span>
									</div>
									<div class="border-bottom p-1 d-flex justify-content-between align-items-center">
										Email:
										<span class="">{{ venda.c_email }}</span>
									</div>
									<div class="border-bottom p-1 d-flex justify-content-between align-items-center">
										Telefone:
										<span class="">{{ venda.c_telefone }}</span>
									</div>
								</div>

								<div class="col-md-4 col-sm-12 mt-3">
									<label><b>Endereço do Cliente</b></label>
									<div class="border-bottom p-1 d-flex justify-content-between align-items-center">
										Rua:
										<span>{{ venda.c_endereco }}, {{ venda.c_numero }}</span>
									</div>
									<div class="border-bottom p-1 d-flex justify-content-between align-items-center">
										Bairro:
										<span>{{ venda.c_bairro }}</span>
									</div>
									<div class="border-bottom p-1 d-flex justify-content-between align-items-center">
										Complemento:
										<span>{{ venda.c_complemento }}</span>
									</div>
									<div class="border-bottom p-1 d-flex justify-content-between align-items-center">
										Cidade / Estado:
										<span>{{ venda.c_cidade }} - {{ venda.c_estado }}</span>
									</div>
								</div>

							</div>

						</div>

					</div>

					<div class="card mt-3">

						<div class="card-header">
							<div class=""><h5 class="m-0">Itens do Pedido</h5></div>
						</div>

						<div class="card-body">

							<table class="table mb-0">
								<thead>
									<tr>
										<th class="border-0">Nome Produto</th>
										<th class="border-0 text-right">Qtd</th>
										<th class="border-0 text-right">R$ Unid.</th>
										<th class="border-0 text-right">R$ Total</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>
											{{ venda.itemTitle }}
											<div><b>Código: {{ venda.sku }}</b></div>
										</td>
										<td class="text-right">x {{ venda.itemQuantity }}</td>
										<td class="text-right">R$ {{ venda.total|number_format(2, ',', '.') }}</td>
										<td class="text-right">R$ {{ venda.total|number_format(2, ',', '.') }}</td>
									</tr>
								</tbody>
							</table>

							<div class="mt-3">
								<h5 class="text-primary">Arquivos disponíveis para baixar</h5>
								{% for arquivo in arquivos %}
								<div class="d-flex justify-content-between border-top py-2">
									<div>{{ arquivo.file_name }}</div>
									<div><a href="{{ DOMAIN }}/uploads/{{ arquivo.file }}" target="_blank" download="{{ arquivo.file_name }}"><i class="fa-solid fa-folder-arrow-down"></i> Baixar Arquivo</a></div>
								</div>
								{% endfor %}
							</div>

						</div>


					</div>

				</div>
			</div>

		</div>
	</div>
</section>


{% endblock %}