{% extends "layout/layoutMaster.twig" %}

{% block title %} Visitas {% endblock %}

{% block body %}

<div class="container py-5">
	
	<session>

		<div class="mb-4">
			<h5>Seu Feedback: <span class="text-warning">{{ visita.title }}</span></h5>
			<div>Ei, <span class="text-warning">{{ user.nome|AbreviarNome }}</span>. Tudo bem? AQUI NÓS VALORIZAMOS A SUA OPINIÃO!</div>
		</div>

		<hr>


			<div class="row">
				<div class="col-md-6">
										
					<div class="success-feedback text-center my-5" {{ check.user_codigo == '' ? 'style="display:none;"' }}>
						<div><i class="fa-thin fa-message-smile fa-5x"></i></div>
						<div class="mt-4"><h3>Muito obrigado por sua participação! :)</h3></div>
						<div class="mt-4">Seguimos evoluindo para oferecer a melhor experiência para você. <div>Não deixe de explorar nossa variedade de produtos Sampel.</div></div>
						<div class="mt-4">
							<b>Consulte nossos produtos:</b>
							<div><a class="text-warning" href="https://catalogo.sampel.com.br">catalogo.sampel.com.br</a></div>
						</div>
					</div>

					{% if check.user_codigo == '' %}
						
					<div class="form-load"><i class="fa-solid fa-spinner fa-spin-pulse"></i></div>
					<form action="javascript:void(0)" id="save_feedback" method="POST">

						{% for pergunta in perguntas %}

							{% if pergunta.tipo == 'Campo' %}
								<div class="pergunta mb-4 border-bottom">
									<h6>{{ pergunta.pergunta }}</h6>
									<input type="hidden" name="pergunta[]" value="{{ pergunta.pergunta }}">
									<div class="mb-3">
										<input type="text" class="form-control" name="resposta[]" id="resposta_{{ pergunta.id }}" required="required">
									</div>
								</div>
							{% endif %}

							{% if pergunta.tipo == 'Texto' %}
								<div class="pergunta mb-4 border-bottom">
									<h6>{{ pergunta.pergunta }}</h6>
									<input type="hidden" name="pergunta[]" value="{{ pergunta.pergunta }}">
									<div class="mb-3">
										<textarea class="form-control" name="resposta[]" id="resposta_{{ pergunta.id }}" required="required"></textarea>
									</div>
								</div>
							{% endif %}

							{% if pergunta.tipo == 'Opcoes' %}
								<div class="pergunta mb-4 border-bottom">
									<h6>{{ pergunta.pergunta }}</h6>
									<input type="hidden" name="pergunta[]" value="{{ pergunta.pergunta }}">
									
									<div class="d-flex">
										{% set opcoes = pergunta.opcoes|split('|') %}

										{% for opcao in opcoes %}
										<div class="form-check resposta-check me-3">
											<input class="resposta_{{ pergunta.id }}" type="checkbox" name="resposta[]" value="{{ opcao }}" id="resposta_{{ pergunta.id }}_{{ loop.index }}" {{ loop.index == 1 ? 'checked' }}>
											<label class="form-check-label" for="resposta_{{ pergunta.id }}_{{ loop.index }}">{{ opcao }}</label>
										</div>
										{% endfor %}
									</div>

								</div>
							{% endif %}

							{% if pergunta.tipo == 'Estrela' %}
								<div class="pergunta mb-4 border-bottom">
									<h6>{{ pergunta.pergunta }}</h6>
									<input type="hidden" name="pergunta[]" value="{{ pergunta.pergunta }}">

									<label class="rating-label">
										<input name="resposta[]" class="rating" max="5" oninput="this.style.setProperty('--value', `${this.valueAsNumber}`)" step="0.5" style="--value:1" type="range" value="1" required="required">
									</label>

								</div>
							{% endif %}

						{% endfor %}

						<div class="mb-3">
							<input type="hidden" name="user_codigo" id="user_codigo" value="{{ user.codigo }}">
							<input type="hidden" name="user_cpf" id="user_cpf" value="{{ user.cpf }}">
							<input type="hidden" name="id_visita" id="id_visita" value="{{ visita.visita_id }}">
							<button type="submit" class="rounded-pill btn btn-warning btn-lg"><i class="fa-solid fa-paper-plane me-2"></i> ENVIAR FEEDBACK</button>
						</div>
					
					</form>

					{% endif %}
					
				</div>
				
			</div>


	</session>

</div>

<script src="{{ PATH }}/view/src/js/services/feedback.js"></script>

{% endblock %}