<div class="offcanvas-header px-0 border-bottom">
    <h5 class="offcanvas-title" id="offcanvasRightLabel">{{ product.id == '' ? 'Criar Novo Produto' : 'Editar Produto' }}</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
</div>
<div class="mt-2">

    <form action="javascript:void(0)" method="POST" id="{{ product.id == '' ? 'add_produto' : 'edit_produto' }}"  enctype="multipart/form-data">
        <div class="mb-1">
            <label class="form-label">Nome do Produto</label>
            <input type="text" name="nome" value="{{ product.nome }}" class="form-control" placeholder="Ex. Boné Rosa">
        </div>

        <div class="row">
            <div class="col-md-6 col-12">
                <div class="mb-1">
                    <label class="form-label">Código</label>
                    <input type="text" name="codigo" value="{{ product.codigo }}" class="form-control">
                </div>
            </div>
            <div class="col-md-6 col-12">
                <div class="mb-1">
                    <label class="form-label">Preço</label>
                    <input type="text" name="preco" value="{{ product.preco }}" class="form-control money">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 col-12">
                <div class="mb-1">
                    <label class="form-label">Tipo Embalagem <i class="fa-solid fa-block-question" 
                    data-bs-toggle="tooltip" 
                    data-bs-placement="top" 
                    data-bs-title="Tipo de Embalagem. Ex. Caixa, Pacote, Unidade"></i></label>
                    <input type="text" name="embalagem" value="{{ product.embalagem }}" class="form-control" placeholder="Ex. Caixa">
                </div>
            </div>
            <div class="col-md-6 col-12">
                <div class="mb-1">
                    <label class="form-label">Qtd. de Embalagens <i class="fa-solid fa-block-question"
                    data-bs-toggle="tooltip" 
                    data-bs-placement="top" 
                    data-bs-title="Qtd Total de Embalagens. Ex. 1 Caixa, 5 Pacotes, 10 Unidades. Referentes ao tipo de embalagem ao lado."></i></label>
                    <input type="number" name="quantidade" min="0" value="{{ product.quantidade != '' ? product.quantidade : '0' }}" class="form-control">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 col-12">
                <div class="mb-1">
                    <label class="form-label">Unidades <i class="fa-solid fa-block-question"
                    data-bs-toggle="tooltip" 
                    data-bs-placement="top" 
                    data-bs-title="Total de Produtos por Embalagem. Ex. 1 Caixa contém 10 boné."></i></label>
                    <input type="number" name="unidades" min="0" value="{{ product.unidades != '' ? product.unidades : '0' }}" class="form-control">
                </div>
            </div>
            <div class="col-md-6 col-12">
                <div class="mb-1">
                    <label class="form-label">Estoque (Qtd x Unidade) <i class="fa-solid fa-block-question"
                    data-bs-toggle="tooltip" 
                    data-bs-placement="top" 
                    data-bs-title="Total de Produtos. Calculando a Qtd. de Embalagens x Qtd. de Unidades"></i></label>
                    <input type="number" name="estoque" value="{{ product.estoque != '' ? product.estoque : '0' }}" class="form-control estoque">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 col-12">
                <div class="mb-1">
                    <label class="form-label">Marca</label>
                    <input type="text" name="marca" min="0" value="{{ product.marca }}" class="form-control">
                </div>
            </div>
            <div class="col-md-6 col-12">
                <div class="mb-1">
                    <label class="form-label">Fornecedor</label>
                    <input type="text" name="fornecedor" value="{{ product.fornecedor }}" class="form-control">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 col-12">
                <div class="mb-1">
                    <label class="form-label">PDV</label>
                    <select name="PDV" class="form-control">
                        <option value="N" {{ product.PDV == 'N' ? 'selected' }}>Não</option>
                        <option value="S" {{ product.PDV == 'S' ? 'selected' }}>Sim</option>
                    </select>
                </div>
            </div>
            <div class="col-md-6 col-12">
                <div class="mb-1">
                    <label class="form-label">PDV Prazo</label>
                    <input type="number" name="PDV_prazo" value="{{ product.PDV_prazo != '' ? product.PDV_prazo : 0 }}" class="form-control" min="0">
                </div>
            </div>
        </div>

        <div class="mb-1">
            <label for="formFile" class="form-label">Foto do Produto</label>
            <input class="form-control" type="file" id="formFile" name="imagem" accept="image/png, image/jpeg">
        </div>

        <div class="mb-1">
            <label class="form-label">Descrição</label>
            <textarea name="descricao" name="descricao" class="form-control">{{ product.descricao }}</textarea>
        </div>

        <div class="mb-1">
            {% if product.id != '' %} <input type="hidden" name="id" value="{{ product.id }}"> {% endif %}            
            <button class="btn btn-primary w-100 text-center" type="submit">{{ product.id == '' ? 'SALVAR PRODUTO' : 'SALVAR ALTERAÇÕES' }}</button>
        </div>
    </form>
</div>
<script src="{{ PATH }}/view/painel/src/js/scripts/pages/produto.js"></script>