<!DOCTYPE html>
<html class="loading" lang="en" data-textdirection="ltr">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <title>{% block title %}{% endblock %}</title>
    <link rel="shortcut icon" type="image/x-icon" href="{{ PATH }}/view/painel/src/images/ico/favicon.ico">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;1,400;1,500;1,600" rel="stylesheet">

    <!-- BEGIN: Vendor CSS-->
    <link rel="stylesheet" type="text/css" href="{{ PATH }}/view/painel/src/vendors/css/vendors.min.css">
    <link rel="stylesheet" type="text/css" href="{{ PATH }}/view/painel/src/vendors/css/charts/apexcharts.css">
    <link rel="stylesheet" type="text/css" href="{{ PATH }}/view/painel/src/vendors/css/extensions/toastr.min.css">
    <link rel="stylesheet" type="text/css" href="{{ PATH }}/view/painel/src/css/fontawesome-all.min.css">
    <!-- END: Vendor CSS-->

    <!-- BEGIN: Theme CSS-->
    <link rel="stylesheet" type="text/css" href="{{ PATH }}/view/painel/src/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="{{ PATH }}/view/painel/src/css/bootstrap-extended.css">
    <link rel="stylesheet" type="text/css" href="{{ PATH }}/view/painel/src/css/colors.css">
    <link rel="stylesheet" type="text/css" href="{{ PATH }}/view/painel/src/css/components.css">
    <link rel="stylesheet" type="text/css" href="{{ PATH }}/view/painel/src/css/themes/dark-layout.css">
    <link rel="stylesheet" type="text/css" href="{{ PATH }}/view/painel/src/css/themes/bordered-layout.css">

    <!-- BEGIN: Page CSS-->
    <link rel="stylesheet" type="text/css" href="{{ PATH }}/view/painel/src/css/core/menu/menu-types/vertical-menu.css">
    <link rel="stylesheet" type="text/css" href="{{ PATH }}/view/painel/src/css/pages/dashboard-ecommerce.css">
    <link rel="stylesheet" type="text/css" href="{{ PATH }}/view/painel/src/css/plugins/charts/chart-apex.css">
    <link rel="stylesheet" type="text/css" href="{{ PATH }}/view/painel/src/css/plugins/extensions/ext-component-toastr.css">
    <!-- END: Page CSS-->

    <!-- BEGIN: Custom CSS-->
    <link rel="stylesheet" type="text/css" href="{{ PATH }}/view/painel/src/assets/css/style.css">
    <!-- END: Custom CSS-->
    <script src="{{ PATH }}/view/painel/src/vendors/js/vendors.min.js"></script>

</head>
<body class="pace-done vertical-layout vertical-menu-modern blank-page navbar-floating footer-static" data-domain="{{ DOMAIN }}" data-open="click" data-menu="vertical-menu-modern" data-col="">

{% block body %}{% endblock %}

<div class="sidenav-overlay"></div>
<div class="drag-target"></div>

<script>$(window).on('load', function() {if (feather) {feather.replace({width: 14,height: 14});}})</script>

</body>

</html>