<!DOCTYPE html>
<html lang="en">
    <head>
        <base href="">
        <meta charset="utf-8" />
        <title>Sampel - Agendamento - {% block title %}{% endblock %}</title>
        <link rel="icon" href="{{ PATH }}/view/src/media/favicon.png">
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="{{ PATH }}/view/src/css/shop.css" type="text/css" />
        <link rel="stylesheet" href="{{ PATH }}/view/src/css/app.css" type="text/css" />
        <script src="{{ PATH }}/view/src/js/jquery.min.js"></script>
        <link rel="stylesheet" href="{{ PATH }}/view/src/js/plugins/sweetalert/css/sweetalert.css" />
        <script src="{{ PATH }}/view/src/js/plugins/sweetalert/js/sweetalert.js"></script>
        <link rel="stylesheet" href="{{ PATH }}/view/src/js/plugins/datatable/jquery.dataTables.min.css" />
    </head>
    <body class="bg-primary" data-domain="{{ DOMAIN }}">
        <script>let domain = $('body').data('domain');</script>
        <div id="page" class="d-flex flex-column flex-root">

            {{ include('inc/header.twig') }}

            <main>
                {% block body %}{% endblock %}
            </main>

            {{ include('inc/footer.twig') }}

        </div>

        <script src="{{ PATH }}/view/src/js/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="{{ PATH }}/view/src/js/plugins/mask/jquery.mask.min.js"></script>
        <script src="{{ PATH }}/view/src/js/custom.js"></script>
        <script>var hostUrl = "{{ PATH }}/view/src/";</script>
        {{ include('inc/script.twig') }}

    </body>
</html>
