{% extends "layout/layoutPanel.twig" %}

{% block title %} Editar Pedido {% endblock %}

{% block body %}

    <!-- BEGIN: Content-->
    <div class="app-content content ">
        <div class="content-overlay"></div>
        <div class="header-navbar-shadow"></div>
        <div class="content-wrapper">
            <div class="content-header row"></div>
            <div class="content-body">

				<form action="javascript:void(0)" id="editar_pedido" method="POST">

					<div class="card">
						<div class="card-body">

							<div class="d-flex justify-content-between flex-wrap align-items-end">

								<div class="mb-1 flex-fill w-md-100 me-md-1">
									<label for="id_equipe" class="form-label">Retirada em nome:</label>
									<select class="form-control text-uppercase select2" name="id_equipe" id="id_equipe" required="required">
										<option value="">Selecione</option>
										{% for equipe in equipes %}
										<option value="{{ equipe.id }}" {{ pedido.id_equipe == equipe.id ? 'selected' }}>{{ equipe.nome }}</option>
										{% endfor %}
									</select>
								</div>
								<div class="mb-1 flex-fill w-md-100 me-md-1">
									<label for="id_equipe" class="form-label">Estado de despacho:</label>
									<select name="estado_pedido" class="form-control text-uppercase" required="required">
										<option value="">Selecione</option>
										{% for estado in estados %}
											<option value="{{ estado }}" {{ pedido.estado_pedido == estado ? 'selected' }}>{{ estado }}</option>
										{% endfor %}
									</select>
								</div>
								
								<div class="mb-1 flex-fill w-md-100 me-md-1">
									<label for="tipo_evento" class="form-label">Víncular a um Tipo de Evento</label>
									<select class="form-control text-uppercase" name="tipo_evento" id="tipo_evento" required="required">
										<option value="">Selecione</option>
										<option value="visitas" {{ pedido.tipo_evento == 'visitas' ? 'selected' }}>Visitas</option>
										<option value="palestras" {{ pedido.tipo_evento == 'palestras' ? 'selected' }}>Palestras</option>
										<option value="eventos" {{ pedido.tipo_evento == 'eventos' ? 'selected' }}>Eventos e Feiras</option>
										<option value="extra" {{ pedido.tipo_evento == 'extra' ? 'selected' }}>Pedido Extra</option>
									</select>
								</div>

								<div class="mb-1 flex-fill w-md-100 me-md-1 id_evento" style="{{ pedido.tipo_evento == 'extra' ? 'display:none;' }}">
									<label for="id_evento_select" class="form-label">Selecione o Evento</label>
									<select class="form-control select2 id_evento_select text-uppercase" id="id_evento_select" name="id_evento" {{ pedido.tipo_evento != 'extra' ? 'required="required"' }}>
										<option value="">Selecione</option>
										{% if pedido.tipo_evento != 'extra' %}<option value="{{ pedido.id_evento }}" selected>{{ evento.data_evento|date("d-m-Y") }} - {{ evento.nome_evento }}</option>{% endif %}
									</select>
								</div>

								<div class="mb-1 flex-fill w-md-100 me-md-1">
									<label for="descricao_pedido" class="form-label">Informações sobre o Pedido</label>
									<input class="form-control text-uppercase" name="descricao_pedido" id="descricao_pedido" value="{{ pedido.descricao_pedido }}" placeholder="Descrição do Pedido">
								</div>

							</div>
						
						</div>
					</div>

					<div class="card">
						<div class="card-body">
							<div class="row">

								<div class="col-md-6 col-lg-6 col-xl-6 col-xxl-4">
									<div class="input-group">
										<input type="text" class="form-control text-uppercase" name="emitente_check" id="emitente_check" placeholder="Código ou Nome do Emitente">
										<button class="btn btn-primary" type="button" id="buscar_emitente"><i class="fa-solid fa-magnifying-glass"></i></button>
									</div>
								</div>

								<div class="col-md-6 col-lg-6 col-xl-6 col-xxl-8 emitent-dados">
									{% if pedido.emitente_nome == '' %}
										<div class="text-primary fw-bold">Informações do Emitente</div>
										<div>Nenhum informação encontrada.</div>
									{% else %}
										<div class="text-primary fw-bold">{{ pedido.emitente_codigo }} - {{ pedido.emitente_nome }}</div><div>{{ pedido.emitente_endereco }} - {{ pedido.emitente_bairrro }}, 
										{{ pedido.emitente_cidade }}-{{ pedido.emitente_estado }}, {{ pedido.emitente_cep }}</div>
									{% endif %}
								</div>

								<div class="d-none">
									<input type="hidden" name="emitente_codigo" id="emitente_codigo" value="{{ pedido.emitente_codigo }}">
									<input type="hidden" name="emitente_nome" id="emitente_nome" value="{{ pedido.emitente_nome }}">
									<input type="hidden" name="emitente_cep" id="emitente_cep" value="{{ pedido.emitente_cep }}">
									<input type="hidden" name="emitente_endereco" id="emitente_endereco" value="{{ pedido.emitente_endereco }}">
									<input type="hidden" name="emitente_bairrro" id="emitente_bairrro" value="{{ pedido.emitente_bairrro }}">
									<input type="hidden" name="emitente_cidade" id="emitente_cidade" value="{{ pedido.emitente_cidade }}">
									<input type="hidden" name="emitente_estado" id="emitente_estado" value="{{ pedido.emitente_estado }}">
								</div>

							</div>
						</div>
					</div>

					<div class="card">
						<div class="card-body">
							<div class="valor_total_pedido">
								<div class="d-flex justify-content-between align-items-center">
									<div class="bg-success p-1 text-black ms-0 ms-md-1">
										Valor Total do Pedido: <b>R$ <span class="total">{{ pedido.valor_total_pedido|number_format(2, ',', '.') }}</span></b>
										<input type="hidden" name="valor_total_pedido" id="valor_total_pedido" value="{{ pedido.valor_total_pedido|number_format(2, ',', '.') }}">
									</div>
									<div class="bg-primary p-1 ms-0 ms-md-2 align-items-center">
										<input type="hidden" name="id" value="{{ pedido.id }}">
										<button type="submit" class="btn btn-primary p-0 rounded-0 fw-bolder " id="salvar"><i class="fa-solid fa-pen-to-square"></i> SALVAR ALTERAÇÃO</button>
									</div>
								</div>
							</div>

							<div class="table-responsive lista_produtos"> 
								<div class="table-wrapper">
									<table id="produtos" class="table table-striped table-hover">
										<thead>
											<tr>
												<th></th>
												<th>Nome Produto</th>
												<th>Código</th>
												<th class="text-center">Embalagem</th>
												<th class="text-center">Unidades</th>
												<th class="text-center">Valor Unit (R$)</th>
												<th class="text-center" width="50">Quantidade</th>
												<th class="text-center" width="50">Qtd Total</th>
												<th class="text-center">Valor Total (R$)</th>
												<th class="text-center" width="75"><span>Estoque</span></th>
											</tr>
										</thead>
										<tbody>
											{% set outros = false %}

												{% for produto in produtos %}
													
												{% if produto.qtd_escolhida == null and outros == false %}
													{% set outros = true %}
													<tr class="outros text-black"><td></td><td class="outros text-black">Outros produtos <i class="fa fa-angle-double-down"></i></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
												{% endif %}
											
												<tr class="{{ produto.estoque <= 0 and outros == true ? 'd-none' }}">
													<td class="p-0">
														<input type="hidden" name="id_produto[]" value="{{ produto.id }}">
														{% if produto.imagem != '' %}
															<a href="{{ produto.imagem }}" class="img"><img src="{{ produto.imagem }}" width="50" class="img-fluid"></a>
														{% else %}                                                            
															<img src="{{ DOMAIN }}/view/painel/src/images/produtos/produto-placeholder-small.png" width="50" class="img-fluid">
														{% endif %}
													</td>
													<td>{% if produto.PDV == 'S' %}<span class="badge bg-success text-black">PDV</span>{% endif %} {{ produto.nome }}</td>
													<td>{{ produto.codigo }}</td>
													{% set qtd_produto = (produto.qtd_produto + produto.qtd_escolhida) %}
													<td class="text-center">{{ produto.embalagem }} / {{ qtd_produto }}</td>
													<td class="text-center">{{ produto.unidades }}</td>
													<td class="text-center">
														R$ {{ produto.preco|number_format(2, ',', '.') }}
														<input type="hidden" name="valor_unid[]" value="{{ produto.preco|number_format(2, ',', '.') }}">
													</td>
													<td class="text-center" width="50">
														{% if qtd_produto > 0 %}
															<div data-bs-toggle="tooltip" data-bs-placement="top" data-bs-html="true" data-bs-title="Qtd. disponível atualmente: <b>{{ qtd_produto > 0 ? qtd_produto : 0 }}</b>">
																<input type="number" name="quantidade[]" data-numspin
																data-valor="{{ produto.preco|number_format(2, ',', '.') }}"
																data-item="{{ produto.id }}"
																data-validation="0"
																data-unidades="{{ produto.unidades }}"
																class="{{ qtd_produto <= 0 ? 'disabled' }} form-control text-center quantidade-{{ produto.id }}" 
																min="0" max="{{ qtd_produto > 0 ? qtd_produto : 0 }}" value="{{ produto.qtd_escolhida ? produto.qtd_escolhida : 0 }}">
															</div>
														{% else %}
															<input type="hidden" name="quantidade[]"
															class="{{ qtd_produto <= 0 ? 'disabled' }} form-control text-center quantidade-{{ produto.id }}" 
															min="0" max="{{ qtd_produto > 0 ? qtd_produto : 0 }}" value="0">
															<div class="alert alert-danger m-0" role="alert"><small>Indisponível</small></div>
														{% endif %}
													</td>
													<td class="text-center" width="50">
														<span class="text-success" id="qtd-total-{{ produto.id }}">{{ produto.qt_total ? produto.qt_total : 0 }}</span>
														<input type="hidden" name="qt_total[]" value="{{ produto.qt_total ? produto.qt_total : 0 }}" id="qtd-total-value-{{ produto.id }}">
													</td>
													<td class="text-center text-success">
														R$ <span id="itemTotal-{{ produto.id }}" class="valorItemTotal">{{ produto.valor_total ? produto.valor_total|number_format(2, ',', '.') : '0,00' }}</span>
														<input type="hidden" name="valor_total[]" value="{{ produto.valor_total ? produto.valor_total|number_format(2, ',', '.') : '0.00' }}" id="valor-itemTotal-{{ produto.id }}">
													</td>
													<td id="cota-{{ produto.id }}" class="text-center text-black {{ produto.estoque <= 0 ? 'bg-danger' : 'bg-success' }}">
														<span class="itemMax-{{ produto.id }}">{{ produto.estoque > 0 ? produto.estoque : 0 }}</span>
													</td>
												</tr>

											{% endfor %}

										</tbody>
									</table>
								</div>
							</div>

						</div>
					</div>

				</form>

			</div>
		</div>
	</div>

<script src="{{ DOMAIN }}/view/painel/src/vendors/numspin/js/input-numspin.js"></script>
<link href="{{ DOMAIN }}/view/painel/src/vendors/numspin/css/input-numspin.min.css" rel="stylesheet" type="text/css" />
<script src="{{ DOMAIN }}/view/painel/src/js/scripts/pages/pedidos.js"></script>
{% endblock %}