{% extends "layout/layoutPanel.twig" %}

{% block title %}56 minutos - Usuários - Editar{% endblock %}

{% block body %}

    <!-- BEGIN: Content-->
    <div class="app-content content ">
        <div class="content-overlay"></div>
        <div class="header-navbar-shadow"></div>
        <div class="content-wrapper">
            <div class="content-header row">
            </div>
            <div class="content-body">
                <!-- Dashboard Ecommerce Starts -->
                <section id="dashboard-ecommerce">

                    <form action="javascript:void(0)" id="editarUser" method="POST">

                        <div class="row">

                        <div class="col-lg-6 col-12">
                            <div class="card">
                                <div class="card-body">

                                    <div class="mb-1">
                                        <label>CNPJ</label>
                                        <input type="text" class="form-control cnpj" id="empresa_cnpj" name="cnpj" value="{{ usuario.cnpj }}" />
                                    </div>

                                    <div class="mb-1">
                                        <label>CPF</label>
                                        <input type="text" class="form-control cpf" id="cpf" name="cpf" value="{{ usuario.cpf }}" />
                                    </div>

                                    <div class="mb-1">
                                        <label>Setor de Atuação</label>
                                        <select class="form-control" name="setor" required>
                                            <option>Selecione</option>
                                            <option value="Saúde">Saúde</option>
                                            <option value="Segurança">Segurança</option>
                                            <option value="Educação">Educação</option>
                                            <option value="Negócios">Negócios</option>
                                            <option value="Engenharia">Engenharia</option>
                                        </select>
                                    </div>

                                    <div class="mb-1">
                                        <label>Seu Nome</label>
                                        <input type="text" class="form-control" name="nome" placeholder="Nome Completo" value="{{ usuario.nome }}"/>
                                    </div>

                                    <div class="mb-1">
                                        <label>Seu Telefone</label>
                                        <input type="text" class="form-control telefone" name="telefone" value="{{ usuario.telefone }}"/>
                                    </div>

                                    <div class="mb-1">
                                        <label>Seu E-mail</label>
                                        <input type="email" class="form-control" name="email" placeholder="john@gmail.com" value="{{ usuario.email }}" />
                                    </div>


                                    <div class="mb-1">
                                        <label for="login-password">Senha <small>(Preencha apenas se quiser alterar)</small></label>
                                        <div class="input-group input-group-merge form-password-toggle">
                                            <input type="text" class="form-control" id="register-consultor-password" name="senha" />
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6 col-12">
                            <div class="card">
                                <div class="card-body">

                                    <div class="row">
                                        <div class="col-lg-6 col-12 mb-1">
                                            <label>Nome da Empresa</label>
                                            <input type="text" class="form-control" id="empresa_nome" name="empresa_nome" value="{{ usuario.empresa_nome }}" />
                                        </div>

                                        <div class="col-lg-6 col-12 mb-1">
                                            <label>Nome da Fantasia</label>
                                            <input type="text" class="form-control" id="empresa_fantasia" name="empresa_fantasia" value="{{ usuario.empresa_fantasia }}" />
                                        </div>

                                        <div class="col-lg-6 col-12 mb-1">
                                            <label>Atividade</label>
                                            <input type="text" class="form-control" id="empresa_atividade" name="empresa_atividade" value="{{ usuario.empresa_atividade }}" />
                                        </div>

                                        <div class="col-lg-6 col-12 mb-1">
                                            <label>Telefone da Empresa</label>
                                            <input type="text" class="form-control telefone" id="empresa_telefone" name="empresa_telefone" value="{{ usuario.empresa_telefone }}" />
                                        </div>

                                        <div class="col-lg-6 col-12 mb-1">
                                            <label>Email da Empresa</label>
                                            <input type="email" class="form-control" id="empresa_email" name="empresa_email" value="{{ usuario.empresa_email }}" />
                                        </div>

                                        <div class="col-lg-6 col-12 mb-1">
                                            <label>Endereço da Empresa</label>
                                            <input type="text" class="form-control" id="empresa_logradouro" name="empresa_logradouro" value="{{ usuario.empresa_logradouro }}" />
                                        </div>

                                        <div class="col-lg-6 col-12 mb-1">
                                            <label>Nº</label>
                                            <input type="text" class="form-control" id="empresa_numero" name="empresa_numero" value="{{ usuario.empresa_numero }}" />
                                        </div>

                                        <div class="col-lg-6 col-12 mb-1">
                                            <label>Complemento</label>
                                            <input type="text" class="form-control" id="empresa_complemento" name="empresa_complemento" value="{{ usuario.empresa_complemento }}" />
                                        </div>

                                        <div class="col-lg-6 col-12 mb-1">
                                            <label>Bairro da Empresa</label>
                                            <input type="text" class="form-control" id="empresa_bairro" name="empresa_bairro" value="{{ usuario.empresa_bairro }}" />
                                        </div>

                                        <div class="col-lg-6 col-12 mb-1">
                                            <label>Cidade da Empresa</label>
                                            <input type="text" class="form-control" id="empresa_cidade" name="empresa_cidade" value="{{ usuario.empresa_cidade }}" />
                                        </div>

                                        <div class="col-lg-6 col-12 mb-1">
                                            <label>Estado da Empresa</label>
                                            <input type="text" class="form-control" id="empresa_uf" name="empresa_uf" value="{{ usuario.empresa_uf }}" />
                                        </div>

                                        <div class="col-lg-6 col-12 mb-1">
                                            <label>CEP da Empresa</label>
                                            <input type="text" class="form-control" id="empresa_cep" name="empresa_cep" value="{{ usuario.empresa_cep }}" />
                                        </div>

                                        <div class="col-lg-12 col-12 mb-1 text-end">
                                            <button class="btn btn-primary btn-block mt-2 disabled" type="submit">SALVAR ALTERARÇÕES</button>
                                        </div>

                                    </div>

                                </div>
                            </div>

                        </div>



                    </div>

                    </form>
                </section>

            </div>
        </div>
    </div>

    <script src="{{ PATH }}/view/painel/src/js/scripts/admin/usuarios/usuarios.js"></script>

{% endblock %}